<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Testimonials</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headlines.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/testimonials.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/owl-carousel/owl.carousel.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/bg-image-v1.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Testimonials</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Testimonials</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="testimonials-v3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul class="list-unstyled owl-ts-v1">
            <li class="item">
              <img class="rounded-x img-bordered" src="/images/user.jpg"/>
              <div class="testimonials-v3-title">
                <p>David Case</p>
                <span>Web Developer, Google</span>
              </div>
              <p>I just wanted to tell you how much I like to use YQBoots - <strong>it's so sleek and elegant!</strong>
                <br/>
                The customisation options you implemented are countless, and I feel sorry I can't use them all. Good
                job, and keep going!
              </p>
            </li>
            <li class="item">
              <img class="rounded-x img-bordered" src="/images/user.jpg"/>
              <div class="testimonials-v3-title">
                <p>Tina Krueger</p>
                <span>UI Designer, Apple</span>
              </div>
              <p>Keep up the great work. Your template is by far the best on the market in terms of features, quality
                and value or money.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium..</p>
            </li>
            <li class="item">
              <img class="rounded-x img-bordered" src="/images/user.jpg"/>
              <div class="testimonials-v3-title">
                <p>John Clarck</p>
                <span>Marketing &amp; Consulting, IBM</span>
              </div>
              <p>So far I really like the theme. I am looking forward to exploring more of your themes. Thank you! At
                vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="testimonials-v3 bg-image-v1">
    <div class="container">
      <div class="headline-center headline-light margin-bottom-60">
        <h2>What People Are Saying</h2>
        <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a
            href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis
          orci</p>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="testimonials-v3-in md-margin-bottom-50">
            <img class="rounded-x img-responsive" src="/images/user.jpg"/>
            <h3>Anthony Connor</h3>
            <span class="color-green">Software Developer</span>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="testimonials-v3-in md-margin-bottom-50">
            <img class="rounded-x img-responsive" src="/images/user.jpg"/>
            <h3>Angela Danil</h3>
            <span class="color-green">Web Designer</span>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="testimonials-v3-in">
            <img class="rounded-x img-responsive" src="/images/user.jpg"/>
            <h3>Anthony Connor</h3>
            <span class="color-green">Software Developer</span>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
