<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Testimonials and Quotes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headlines.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/testimonials.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Testimonials</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Testimonials</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-sm">
  <div class="headline-center margin-bottom-60">
    <h2>WHAT PEOPLE SAY</h2>
    <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br/>
      Lorem ipsum <b>dolor</b> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet
      fringilla </p>
  </div>

  <div class="testimonials-v6 testimonials-wrap">
    <div class="row margin-bottom-50">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/images/user.jpg"/>
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at
              rhoncus. Aliquam blandit.</p>
            <b>Evan Bohringer</b>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/images/user.jpg"/>
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at
              rhoncus. Aliquam blandit.</p>
            <b>Sara Lisbon</b>
            <span>Designer</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/images/user.jpg"/>
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at
              rhoncus. Aliquam blandit.</p>
            <b>Alice Williams</b>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="/images/user.jpg"/>
          <div class="testimonials-desc">
            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at
              rhoncus. Aliquam blandit.</p>
            <b>Jane Wearne</b>
            <span>Technical Direector</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
