<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Testimonials</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headings.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/testimonials.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Testimonials</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Testimonials</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <!--Testimonials v2-->
  <div class="row margin-bottom-40">
    <div class="col-md-4">
      <div id="testimonials-9" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
        <div class="carousel-inner">
          <div class="item active">
            <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Jeremy Asigner
												<em>Web Developer, YQBoots Theme.</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												User
												<em>Java Developer, Htmlstream</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Kate Davenport
												<em>Web Designer, Google Inc.</em>
											</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="testimonials-8" class="carousel slide testimonials testimonials-v2">
        <div class="carousel-inner">
          <div class="item active">
            <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
              quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est
              praesentium..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Jeremy Asigner
												<em>Web Developer, YQBoots Theme.</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p>Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
              cupidinon..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Bootstrap :)
												<em>Java Developer, Htmlstream</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p>Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis
              into egestas.</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Kate Davenport
												<em>Web Designer, Google Inc.</em>
											</span>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a class="left carousel-control" href="#testimonials-8" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#testimonials-8" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--End Testimonials v2-->

  <hr class="margin-bottom-40"/>

  <!--Testimonials Rounded-->
  <div class="heading heading-v1 margin-bottom-30">
    <h2><span class="color-green">Testimonials</span> Rounded</h2>
  </div>
  <div class="row margin-bottom-40">
    <div class="col-md-8">
      <div id="testimonials-4" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
        <div class="carousel-inner">
          <div class="item active">
            <p class="rounded-3x">Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
              corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
              sunt in culpaid est praesentium..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Jeremy Asigner
												<em>Web Developer, YQBoots Theme.</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p class="rounded-3x">Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
              sint occaecati cupidinon..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Bootstrap :)
												<em>Java Developer, Htmlstream</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p class="rounded-3x">Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti
              atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
              similique facilisis into egestas.</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Kate Davenport
												<em>Web Designer, Google Inc.</em>
											</span>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a class="left carousel-control" href="#testimonials-4" data-slide="prev">
            <i class="fa fa-angle-left rounded-x"></i>
          </a>
          <a class="right carousel-control" href="#testimonials-4" data-slide="next">
            <i class="fa fa-angle-right rounded-x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="testimonials-5" class="carousel slide testimonials testimonials-v2">
        <div class="carousel-inner">
          <div class="item active">
            <p class="rounded-4x">Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum
              delvoe molestias..</p>
            <div class="testimonial-info">
											<span class="testimonial-author">
												Jeremy Asigner
												<em>Web Developer, YQBoots Theme.</em>
											</span>
            </div>
          </div>
          <div class="item">
            <p class="rounded-4x">Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum
              delvoe molestias..</p>
            <div class="testimonial-info">
                  <span class="testimonial-author">
                    User
                    <em>Java Developer, Htmlstream</em>
                  </span>
            </div>
          </div>
          <div class="item">
            <p class="rounded-4x">Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum
              delvoe molestias..</p>
            <div class="testimonial-info">
                  <span class="testimonial-author">
                    Kate Davenport
                    <em>Web Designer, Google Inc.</em>
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Testimonials Rounded-->
</div>
</body>
</html>
