<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>404 Error Page</title>
  <link rel="stylesheet" th:href="@{/css/pages/404-v1.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">404 Error</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">404 Error</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-md">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="error-v1">
        <span class="error-v1-title">404</span>
        <span>That’s an error!</span>

        <p>The requested URL was not found on this server. That’s all we know.</p>
        <a class="btn-u btn-bordered" th:href="@{/}">Back Home</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
