<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Testimonials and Quotes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/quotes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Quotes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Quotes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="quote-v2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nibh leo, cursus ut eros sit amet, fringilla
      vulputate diam. Fusce justo velit, venenatis at lectus in, laoreet suscipit arcu.</p>
    <span>John Clarck <a href="#">Google Inc.</a></span>
  </div>
</div>
</body>
</html>
