<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>YQBoots Showcases</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Showcase</h1>
    <ul class="pull-right breadcrumb">
      <li><a th:href="@{/}">Home</a></li>
      <li class="active">Showcase</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-600">
  <div class="tab-v2">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#features" data-toggle="tab">Features</a></li>
      <li><a href="#forms" data-toggle="tab">Forms</a></li>
      <li><a href="#icons" data-toggle="tab">Icons</a></li>
      <li><a href="#portfolios" data-toggle="tab">Portfolios</a></li>
      <li><a href="#blogs" data-toggle="tab">Blogs</a></li>
      <li><a href="#pages" data-toggle="tab">Pages</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="features">
        <div class="row">
          <div class="col-md-2">Accordions:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/accordion/accordion-v1}">Accordion v1</a></li>
            </ul>
          </div>
          <div class="col-md-2">Animations:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/animation/animation-v1}">Animation v1</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Badges:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/badge/badge-v1}">Badge v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/badge/badge-v2}">Badge v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/badge/badge-v3}">Badge v3</a></li>
            </ul>
          </div>
          <div class="col-md-2">Buttons:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/button/button-v1}">General</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/button/button-v2}">Brand/Social Buttons</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/button/button-v3}">Loading/Hover Effects</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Call Actions:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/call-action/call-action-v1}">Call Action v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/call-action/call-action-v2}">Call Action v2</a></li>
            </ul>
          </div>
          <div class="col-md-2">Carousels:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/carousel/carousel-v1}">Carousel v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/carousel/carousel-v2}">Carousel v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/carousel/carousel-v3}">Carousel v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/carousel/carousel-v4}">Carousel v4</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Charts:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/chart/chart-v1}">Chart v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/chart/chart-v2}">Chart v2</a></li>
            </ul>
          </div>
          <div class="col-md-2">Count Downs:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/count-down/count-down-v1}">Count Down v1</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Funny Boxes:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/funny-boxes/funny-boxes-v1}">Funny Box v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/funny-boxes/funny-boxes-v2}">Funny Box v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/funny-boxes/funny-boxes-v3}">Funny Box v3</a></li>
            </ul>
          </div>
          <div class="col-md-2">Galleries:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/gallery/gallery-v1}">Gallery v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/gallery/gallery-v2}">Gallery v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/gallery/gallery-v3}">Gallery v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/gallery/gallery-v4}">Gallery v4</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Icon Blocks:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v1}">Icon Block v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v2}">Icon Block v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v3}">Icon Block v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v4}">Icon Block v4</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v5}">Icon Block v5</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v6}">Icon Block v6</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v7}">Icon Block v7</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v8}">Icon Block v8</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v9}">Icon Block v9</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/icon-blocks/icon-blocks-v10}">Icon Block v10</a></li>
            </ul>
          </div>
          <div class="col-md-2">Labels:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/label/label-v1}">Label v1</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Medias:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/media/media-v1}">Media v1</a></li>
            </ul>
          </div>
          <div class="col-md-2">Messages:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/message/message-v1}">Message v1</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Miscs:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/miscs/blockquote}">Blockquote</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/miscs/box-shadow}">Box Shadow</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/miscs/divider}">Divider</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/miscs/general}">General</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/miscs/grid}">Grid</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/miscs/heading}">Heading</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/miscs/tag-box}">Tag Box</a></li>
            </ul>
          </div>
          <div class="col-md-2">News Blocks:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/news-blocks/news-blocks-v1}">News Block v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/news-blocks/news-blocks-v2}">News Block v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/news-blocks/news-blocks-v3}">News Block v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/news-blocks/news-blocks-v4}">News Block v4</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/news-blocks/news-blocks-v5}">News Block v5</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Paginations:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/pagination/pagination-v1}">Pagination v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/pagination/pagination-v2}">Pagination v2</a></li>
            </ul>
          </div>
          <div class="col-md-2">Panels:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/panel/panel-v1}">Panel v1</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Parallax Blocks:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li>
                <a target="_blank" th:href="@{/showcase/features/parallax-blocks/parallax-blocks-v1}">
                  Parallax Block v1
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">Parallax Counters:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li>
                <a target="_blank" th:href="@{/showcase/features/parallax-counters/parallax-counters-v1}">
                  Parallax Counter v1
                </a>
              </li>
              <li>
                <a target="_blank" th:href="@{/showcase/features/parallax-counters/parallax-counters-v2}">
                  Parallax Counter v2
                </a>
              </li>
              <li>
                <a target="_blank" th:href="@{/showcase/features/parallax-counters/parallax-counters-v3}">
                  Parallax Counter v3
                </a>
              </li>
              <li>
                <a target="_blank" th:href="@{/showcase/features/parallax-counters/parallax-counters-v4}">
                  Parallax Counter v4
                </a>
              </li>
              <li>
                <a target="_blank" th:href="@{/showcase/features/parallax-counters/parallax-counters-v5}">
                  Parallax Counter v5
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Progress Bars:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li>
                <a target="_blank" th:href="@{/showcase/features/progress-bar/progress-bar-v1}">
                  Progress Bar v1
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">Quotes:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/quote/quote-v1}">Quote v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/quote/quote-v2}">Quote v2</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Tabs:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/tab/tab-v1}">Tab v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/tab/tab-v2}">Tab v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/tab/tab-v3}">Tab v3</a></li>
            </ul>
          </div>
          <div class="col-md-2">Tables:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/table/table-v1}">Table v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/table/table-v2}">Table v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/table/table-v3}">Table v3</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Team Blocks:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v1}">Team Block v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v2}">Team Block v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v3}">Team Block v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v4}">Team Block v4</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v5}">Team Block v5</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v6}">Team Block v6</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v7}">Team Block v7</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v8}">Team Block v8</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/team-blocks/team-blocks-v9}">Team Block v9</a></li>
            </ul>
          </div>
          <div class="col-md-2">Testimonials:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/testimonial/testimonial-v1}">Testimonial v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/testimonial/testimonial-v2}">Testimonial v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/testimonial/testimonial-v3}">Testimonial v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/testimonial/testimonial-v4}">Testimonial v4</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/testimonial/testimonial-v5}">Testimonial v5</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/testimonial/testimonial-v6}">Testimonial v6</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Thumbnails:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/thumbnail/thumbnail-v1}">Thumbnail v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/thumbnail/thumbnail-v2}">Thumbnail v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/thumbnail/thumbnail-v3}">Thumbnail v3</a></li>
            </ul>
          </div>
          <div class="col-md-2">Timelines:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/features/timeline/timeline-v1}">Timeline v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/features/timeline/timeline-v2}">Timeline v2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="forms">
        <div class="row">
          <div class="col-md-2">Forms:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/forms/form-v1}">Common Bootstrap Forms</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v2}">General Forms</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v3}">Advanced Forms</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v4}">Form Layouts</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v5}">Advanced Layout Forms</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v6}">Modals</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v7}">Form Sliders</a></li>
              <li><a target="_blank" th:href="@{/showcase/forms/form-v8}">Form States</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="icons">
        <div class="row">
          <div class="col-md-2">Icons:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/icons/general}">General</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/fa}">Font Awesome</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/glyph}">Glyphicons</a></li>
            </ul>
          </div>
          <div class="col-md-2">Line Icons:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/icons/line/common}">Common</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/christmas}">Christmas</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/clothes}">Clothes</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/communication}">Communication</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/education}">Education</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/electronics}">Electronics</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/finance}">Finance</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/food}">Food</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/furniture}">Furniture</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/hotel-restaurant}">Hotel and Restaurant</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/media}">Media</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/medical}">Medical</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/music}">Music</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/real-estate}">Real Estate</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/science}">Science</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/sport}">Sport</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/transport}">Transport</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/travel}">Travel</a></li>
              <li><a target="_blank" th:href="@{/showcase/icons/line/weather}">Weather</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="portfolios">
        <div class="row">
          <div class="col-md-2">No Space Boxed:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-boxed/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-boxed/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-boxed/col4}">4 Columns</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Grid Boxed:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-boxed/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-boxed/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-boxed/col4}">4 Columns</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Grid Text Boxed:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-boxed/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-boxed/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-boxed/col4}">4 Columns</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">No Space Full Width:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-full-width/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-full-width/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-full-width/col4}">4 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-full-width/col5}">5 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/no-space-full-width/col6}">6 Columns</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Grid Full Width:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-full-width/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-full-width/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-full-width/col4}">4 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-full-width/col5}">5 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-full-width/col6}">6 Columns</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Grid Text Full Width:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-full-width/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-full-width/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-full-width/col4}">4 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-full-width/col5}">5 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/grid-text-full-width/col6}">6 Columns</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Basic:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/hover-colors}">Hover Colors</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/single-item}">Single Item</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/item-v1}">Item v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/item-v2}">Item v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/grid-text}">Grid Text</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/col2}">2 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/col3}">3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/portfolios/basic/col4}">4 Columns</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="blogs">
        <div class="row">
          <div class="col-md-2">Full Width:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/blogs/v01/index}">Full Width (v01)</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v01/item}">Full Width (v01) Item</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v02/index}">Full Width (v02)</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v02/item}">Full Width (v02 Item</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v07/index}">Medium Full Width</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Right Sidebar:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/blogs/v03/index}">Large Right Sidebar (v03)</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v03/item}">Large Right Sidebar (v03) Item</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v05/index}">Blog Right Sidebar (v05)</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v05/item}">Blog Right Sidebar (v05) Item</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v09/index}">Medium Right Sidebar (v09)</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v10/index}">Medium Right Sidebar (v10)</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Left Sidebar:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/blogs/v04/index}">Blog Left Sidebar (v04)</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v04/item}">Blog Left Sidebar (v04) Item</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v08/index}">Medium Left Sidebar</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Others:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/blogs/v06/index}">Masonry 3 Columns</a></li>
              <li><a target="_blank" th:href="@{/showcase/blogs/v11/index}">Blog Timeline</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pages">
        <div class="row">
          <div class="col-md-2">404:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/404/404-v1}">404 v1</a></li>
            </ul>
          </div>
          <div class="col-md-2">About:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/about/about-v1}">About v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/about/about-v2}">About v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/about/about-v3}">About v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/about/about-v4}">About v4</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">About Me:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/about-me/about-me-v1}">About Me v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/about-me/about-me-v2}">About Me v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/about-me/about-me-v3}">About Me v3</a></li>
            </ul>
          </div>
          <div class="col-md-2">About Our Team:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li>
                <a target="_blank" th:href="@{/showcase/pages/about-our-team/about-our-team-v1}">
                  About Our Team v1
                </a>
              </li>
              <li>
                <a target="_blank" th:href="@{/showcase/pages/about-our-team/about-our-team-v2}">
                  About Our Team v2
                </a>
              </li>
              <li>
                <a target="_blank" th:href="@{/showcase/pages/about-our-team/about-our-team-v3}">
                  About Our Team v3
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Contact:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/contact/contact-v1}">Contact v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/contact/contact-v2}">Contact v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/contact/contact-v3}">Contact v3</a></li>
            </ul>
          </div>
          <div class="col-md-2">FAQ:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/faq/faq-v1}">FAQ v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/faq/faq-v2}">FAQ v2</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Login:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/login-v1}">Login v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/login-v2}">Login v2</a></li>
            </ul>
          </div>
          <div class="col-md-2">Miscs:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/miscs/privacy-v1}">Privacy v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/miscs/terms-v1}">Terms v1</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Registration:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/registration-v1}">Registration v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/registration-v2}">Registration v2</a></li>
            </ul>
          </div>
          <div class="col-md-2">Search:</div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v1}">Search v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v2}">Search v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v3}">Search v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v4}">Search v4</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v5}">Search v5</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v6}">Search v6</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/search/search-v7}">Search v7</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">Services:</div>
          <div class="col-md-10">
            <ul class="list-inline">
              <li><a target="_blank" th:href="@{/showcase/pages/services/services-v1}">Services v1</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/services/services-v2}">Services v2</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/services/services-v3}">Services v3</a></li>
              <li><a target="_blank" th:href="@{/showcase/pages/services/services-v4}">Services v4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>