<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Images</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/box-shadow.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headings.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Images</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Images</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="heading heading-v1 margin-bottom-40">
    <h2>Image Examples</h2>
  </div>

  <div class="row margin-bottom-50">
    <div class="col-md-6 shadow-wrapper md-margin-bottom-40">
      <div class="box-shadow shadow-effect-2">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
      </div>
    </div>
    <div class="col-md-6 shadow-wrapper">
      <div class="box-shadow shadow-effect-2">
        <img class="img-responsive img-bordered" src="/images/img_973x615.jpg"/>
      </div>
    </div>
  </div>

  <div class="tab-v1 margin-bottom-40">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-img-1" data-toggle="tab">Default Examples</a></li>
      <li><a href="#tab-img-2" data-toggle="tab">Box Shadows</a></li>
    </ul>
    <div class="tab-content">
      <!-- Default Image Examples -->
      <div class="tab-pane fade in fade in active" id="tab-img-1">
        <div class="row margin-bottom-10">
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <img class="img-responsive" src="/images/img_500x500.jpg"/>
          </div>
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <img class="img-responsive rounded-2x" src="/images/img_500x500.jpg"/>
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive rounded-3x" src="/images/img_500x500.jpg"/>
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive rounded-4x" src="/images/img_500x500.jpg"/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <img class="img-responsive img-bordered" src="/images/img_500x500.jpg"/>
          </div>
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <img class="img-responsive img-bordered rounded-2x" src="/images/img_500x500.jpg"/>
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive rounded-x" src="/images/img_500x500.jpg"/>
          </div>
          <div class="col-sm-3 col-xs-6">
            <img class="img-responsive img-bordered rounded-x" src="/images/img_500x500.jpg"/>
          </div>
        </div>
      </div>
      <!-- End Default Image Examples -->

      <!-- Image Box Shadows -->
      <div class="tab-pane fade in" id="tab-img-2">
        <div class="row margin-bottom-20">
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <div class="box-shadow shadow-effect-1">
              <img class="img-responsive" src="/images/img_500x500.jpg"/>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 shadow-wrapper md-margin-bottom-20">
            <div class="box-shadow shadow-effect-2">
              <img class="img-responsive" src="/images/img_500x500.jpg"/>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <div class="box-shadow shadow-effect-1">
              <img class="img-responsive img-bordered" src="/images/img_500x500.jpg"/>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 shadow-wrapper md-margin-bottom-20">
            <div class="box-shadow shadow-effect-2">
              <img class="img-responsive img-bordered" src="/images/img_500x500.jpg"/>
            </div>
          </div>
        </div>
        <div class="row margin-bottom-20">
          <div class="col-sm-3 col-xs-6 md-margin-bottom-20">
            <div class="box-shadow shadow-effect-1">
              <img class="img-responsive rounded" src="/images/img_500x500.jpg"/>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 shadow-wrapper md-margin-bottom-20">
            <div class="box-shadow shadow-effect-2 rounded-2x">
              <img class="img-responsive rounded-2x" src="/images/img_500x500.jpg"/>
            </div>
          </div>
          <div class="col-sm-3 shadow-wrapper col-xs-6">
            <div class="box-shadow shadow-effect-2 rounded">
              <img class="img-responsive rounded img-bordered" src="/images/img_500x500.jpg"/>
            </div>
          </div>
          <div class="col-sm-3 shadow-wrapper col-xs-6">
            <div class="box-shadow shadow-effect-2 rounded-2x">
              <img class="img-responsive rounded-2x img-bordered" src="/images/img_500x500.jpg"/>
            </div>
          </div>
        </div>
      </div>
      <!-- End Image Box Shadows -->
    </div>
  </div>
</div>
</body>
</html>
