.bs-glyphicons {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.bs-glyphicons li {
    width: 25%;
    float: left;
    height: 85px;
    padding: 10px;
    font-size: 11px;
    line-height: 1.4;
    text-align: center;
    margin: 0 -1px -1px 0;
    border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
    display: block;
    font-size: 18px;
    margin: 5px auto 10px;
}

.bs-glyphicons li:hover {
    color: #72c02c;
    background-color: #fafafa;
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 20%;
    }
}

body.dark .bs-glyphicons li {
    color: #999;
    border-color: #303030;
}

body.dark .bs-glyphicons li:hover {
    color: #72c02c;
    background: #222;
}