.item-box {
    display: inline-block;
    font-family: consolas, monospace;
    font-size: 1.2em;
    margin: 0 -0.22em 1em 0;
    padding-left: 1em;
    width: 100%;

}

.item {
    background-color: #fff;
    color: #33383e;
    border-radius: 8px;
    display: inline-block;
    padding: 0.5em;
    width: 100%;
}

/*Line Icon Page
------------------------------------*/
.line-icon-page .item-box {
    width: 25%;
    float: left;
    height: 90px;
    text-align: center;
    padding: 20px 10px;
    margin: 0 -1px -1px 0;
    word-wrap: break-word;
    border: 1px solid #ddd;
}

.line-icon-page .item-box--higher {
    height: 120px;
}

@media (max-width: 768px) {
    .line-icon-page .item-box {
        height: 115px;
    }
}

@media (max-width: 450px) {
    .line-icon-page .item-box {
        height: 130px;
    }
}

.line-icon-page .item-box:hover {
    background: #fafafa;
}

.line-icon-page .item span {
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
}

.line-icon-page .item:hover {
    color: #72c02c;
}

/*Line Icon Page
------------------------------------*/
.icon-page-fa {
    margin-bottom: 20px;
}

.icon-page-fa .item-box {
    float: left;
    height: 100px;
    width: 16% !important;
}

.icon-page-fa .item {
    font-size: 12px;
}

.icon-page-fa .item i {
    color: #555;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .icon-page-fa .item-box {
        width: 20% !important;
    }
}

@media (max-width: 600px) {
    .icon-page-fa .item-box {
        width: 30% !important;
    }
}

@media (max-width: 400px) {
    .icon-page-fa .item-box {
        width: 50% !important;
    }
}

body.dark .line-icon-page .item-box {
    border-color: #303030;
}

body.dark .line-icon-page .item-box:hover {
    background: #222;
}

body.dark .icon-page-fa .item-box {
    background: #222;
}

body.dark .line-icon-page .item {
    color: #999;
    background: #222;
}

body.dark .line-icon-page .item-box {
    background: #222;
}

body.dark .line-icon-page .item:hover {
    color: #72c02c;
}

body.dark .icon-page-fa .item i {
    color: #999;
}

