<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>4 Columns Full Width Text</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/css/cubeportfolio.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/custom/custom-cubeportfolio.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">4 Columns Full Width Text</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Portfolio</li>
      <li class="active">4 Columns Full Width Text</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="height-500 margin-bottom-20">
  <div class="cube-portfolio">
    <div class="content-xs">
      <div id="filters-container" class="cbp-l-filters-text content-xs">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All</div>
        |
        <div data-filter=".identity" class="cbp-filter-item"> Identity</div>
        |
        <div data-filter=".web-design" class="cbp-filter-item"> Web Design</div>
        |
        <div data-filter=".graphic" class="cbp-filter-item"> Graphic</div>
        |
        <div data-filter=".logos" class="cbp-filter-item"> Logo</div>
      </div>
    </div>

    <div id="grid-container" class="cbp-l-grid-agency">
      <div class="cbp-item graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 01</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design logos">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 02</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item graphic logos">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 03</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 04</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item identity web-design">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 05</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item identity web-design">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 06</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design identity">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 07</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item identity logo">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 08</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 09</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design logos">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 10</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item graphic logos">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 11</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img src="/images/img_973x615.jpg"/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
                  <li>
                    <a href="/images/img_973x615.jpg" class="cbp-lightbox" data-title="Design Object">
                      <i class="rounded-x fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 12</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
