<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v07/layout">
<head>
  <title>Login v2</title>
  <link rel="stylesheet" th:href="@{/css/pages/login-registration-v2.css}"/>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
  <div class="row equal-height-columns">
    <div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column"></div>

    <div class="col-md-6 col-sm-6 form-block equal-height-column">
      <a th:href="@{/}"><img th:src="@{/theme/images/logo-green.png}"/></a>

      <h2 class="margin-bottom-30">Login To Your Account</h2>

      <form action="#">
        <div class="login-block">
          <div class="input-group margin-bottom-20">
            <span class="input-group-addon rounded-left"><i class="icon-user"></i></span>
            <input type="text" class="form-control rounded-right" placeholder="Username"/>
          </div>

          <div class="input-group margin-bottom-20">
            <span class="input-group-addon rounded-left"><i class="icon-lock"></i></span>
            <input type="password" class="form-control rounded-right" placeholder="Password"/>
          </div>

          <div class="checkbox">
            <ul class="list-inline">
              <li>
                <label>
                  <input type="checkbox"/> Remember me
                </label>
              </li>

              <li class="pull-right">
                <a href="#">Forgot password?</a>
              </li>
            </ul>
          </div>

          <div class="row margin-bottom-70">
            <div class="col-md-12">
              <button type="submit" class="btn-u btn-u-blue btn-block rounded">Sign In</button>
            </div>
          </div>

          <div class="social-login text-center">
            <p>Don't have an account? <a href="#">Create New</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>