<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Icon Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 5 -->
  <div class="container content-sm">
    <!-- Medium Content Boxes -->
    <div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom rounded-x icon-md icon-bg-u fa fa-lightbulb-o"></i>
          <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom rounded-x icon-md icon-bg-blue fa fa-bullhorn"></i>
          <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom rounded-x icon-md icon-bg-red icon-line icon-rocket"></i>
          <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
    </div>
    <!-- End Medium Content Boxes -->

    <!-- Medium Content Boxes -->
    <div class="row content-boxes-v2 content-boxes-v2-o">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom rounded-x icon-md icon-color-u fa fa-lightbulb-o"></i>
          <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom rounded-x icon-md icon-color-blue fa fa-bullhorn"></i>
          <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom rounded-x icon-md icon-color-red icon-line icon-rocket"></i>
          <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
    </div>
    <!-- End Medium Content Boxes -->
  </div>
  <!-- End Icon Boxes 5 -->

  <!-- Icon Boxes 6 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Medium Content Boxes -->
      <div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-lightbulb-o"></i>
            <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-4x icon-md icon-bg-blue fa fa-bullhorn"></i>
            <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-4x icon-md icon-bg-red icon-line icon-rocket"></i>
            <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
      </div>
      <!-- End Medium Content Boxes -->

      <!-- Medium Content Boxes -->
      <div class="row content-boxes-v2 content-boxes-v2-o">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-4x icon-md icon-color-u fa fa-lightbulb-o"></i>
            <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-4x icon-md icon-color-blue fa fa-bullhorn"></i>
            <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-4x icon-md icon-color-red icon-line icon-rocket"></i>
            <span>MEDIUM SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
      </div>
      <!-- End Medium Content Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 6 -->

  <!-- Icon Boxes 9 -->
  <div class="container content-sm">
    <!-- Medium Content Boxes -->
    <div class="row content-boxes-v3 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-md icon-bg-u fa fa-lightbulb-o"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">
            <span>Medium Size</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-md icon-bg-blue fa fa-bullhorn"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">
            <span>Medium Size</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <div class="col-sm-4">
        <i class="icon-custom icon-md icon-bg-red icon-line icon-rocket"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">
            <span>Medium Size</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
    </div>
    <!-- End Medium Content Boxes -->

    <!-- Medium Content Boxes -->
    <div class="row content-boxes-v3">
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-md icon-color-u fa fa-lightbulb-o"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">
            <span>Medium Size</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-md icon-color-blue fa fa-bullhorn"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">
            <span>Medium Size</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <div class="col-sm-4">
        <i class="icon-custom icon-md icon-color-red icon-line icon-rocket"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">
            <span>Medium Size</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
    </div>
    <!-- End Medium Content Boxes -->
  </div>
  <!-- End Icon Boxes 9 -->

  <!-- Icon Boxes 10 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Medium Content Boxes -->
      <div class="row content-boxes-v3 margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <i class="icon-custom rounded-x icon-md icon-bg-u fa fa-lightbulb-o"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">
              <span>Medium Size</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <i class="icon-custom rounded-x icon-md icon-bg-blue fa fa-bullhorn"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">
              <span>Medium Size</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="icon-custom rounded-x icon-md icon-bg-red icon-line icon-rocket"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">
              <span>Medium Size</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
      </div>
      <!-- End Medium Content Boxes -->

      <!-- Medium Content Boxes -->
      <div class="row content-boxes-v3">
        <div class="col-sm-4 sm-margin-bottom-40">
          <i class="icon-custom rounded-x icon-md icon-color-u fa fa-lightbulb-o"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">
              <span>Medium Size</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <i class="icon-custom rounded-x icon-md icon-color-blue fa fa-bullhorn"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">
              <span>Medium Size</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="icon-custom rounded-x icon-md icon-color-red icon-line icon-rocket"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">
              <span>Medium Size</span>
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
      </div>
      <!-- End Medium Content Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 10 -->
</div>
</body>
</html>
