<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 24 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Large Boxes -->
      <div class="row">
        <div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">INNOVATION</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-directions"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">BEST APPROACHES</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix">
            <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-rocket"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">SOCIAL ADVERTISING</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 content-boxes-v3">
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-bar-chart"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">CONSULTING</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">QUALITY SERVICE</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix">
            <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-envelope"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">EMAIL MARKETING</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Large Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 24 -->

  <!-- Icon Boxes 25 -->
  <div class="container content-sm">
    <!-- Large Boxes -->
    <div class="row">
      <div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md icon-bg-u icon-line icon-trophy"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">INNOVATION</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <hr/>
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md icon-bg-darker icon-line icon-directions"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">BEST APPROACHES</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <hr/>
        <div class="clearfix">
          <i class="icon-custom icon-md icon-bg-u icon-line icon-rocket"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">SOCIAL ADVERTISING</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 content-boxes-v3">
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md icon-bg-darker icon-line icon-bar-chart"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">CONSULTING</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <hr/>
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md icon-bg-u icon-line icon-badge"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">QUALITY SERVICE</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <hr/>
        <div class="clearfix">
          <i class="icon-custom icon-md icon-bg-darker icon-line icon-envelope"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">EMAIL MARKETING</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Large Boxes -->
  </div>
  <!-- End Icon Boxes 25 -->

  <!-- Icon Boxes 26 -->
  <div class="service-info no-padding">
    <div class="container content-sm">
      <div class="row">
        <div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-trophy"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">INNOVATION</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-directions"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">BEST APPROACHES</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix">
            <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-rocket"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">SOCIAL ADVERTISING</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 content-boxes-v3">
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-bar-chart"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">CONSULTING</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix margin-bottom-30">
            <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-badge"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">QUALITY SERVICE</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
          <div class="clearfix">
            <i class="icon-custom icon-md rounded-x icon-color-dark icon-line icon-envelope"></i>
            <div class="content-boxes-in-v3">
              <h2 class="heading-sm">EMAIL MARKETING</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--/container-->
  </div>
  <!-- End Icon Boxes 26 -->
</div>
</body>
</html>
