<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-blocks.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 36 -->
  <div class="bg-grey">
    <div class="container content-md">
      <!-- Service Block v8 -->
      <div class="row margin-bottom-30">
        <div class="col-sm-6 sm-margin-bottom-50">
          <div class="service-block-v8">
            <i class="icon-rocket"></i>
            <div class="service-block-desc">
              <h3>Creative Ideas</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis
                mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 sm-margin-bottom-20">
          <div class="service-block-v8">
            <i class="icon-bubbles"></i>
            <div class="service-block-desc">
              <h3>Dedicated Support</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis
                mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Block v8 -->

      <!-- Service Block v8 -->
      <div class="row">
        <div class="col-sm-6 sm-margin-bottom-50">
          <div class="service-block-v8">
            <i class="icon-layers"></i>
            <div class="service-block-desc">
              <h3>One Page Template</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis
                mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="service-block-v8">
            <i class="icon-handbag"></i>
            <div class="service-block-desc">
              <h3>E-Commerce Ready</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit nec ante tempor, iaculis
                mollis ante imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Block v8 -->
    </div>
  </div>
  <!-- End Icon Boxes 36 -->

  <!-- Icon Boxes 37 -->
  <div class="container content-md">
    <!-- Service Blocks -->
    <div class="row service-box-v1">
      <div class="col-md-4 col-sm-6 md-margin-bottom-40">
        <div class="service-block service-block-default no-margin-bottom">
          <i class="icon-lg rounded-x icon icon-badge"></i>
          <h2 class="heading-sm">Web Design &amp; Development</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
          <ul class="list-unstyled">
            <li>Responsive Web Desgin</li>
            <li>E-commerce</li>
            <li>App &amp; Icon Design</li>
            <li>Logo &amp; Brand Design</li>
            <li>Mobile Development</li>
            <li>UI/UX Design</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 md-margin-bottom-40">
        <div class="service-block service-block-default no-margin-bottom">
          <i class="icon-lg rounded-x icon-line icon-trophy"></i>
          <h2 class="heading-sm">Marketing &amp; Consulting</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
          <ul class="list-unstyled">
            <li>Analysis &amp; Consulting</li>
            <li>Email Marketing</li>
            <li>App &amp; Icon Design</li>
            <li>Responsive Web Desgin</li>
            <li>Social Networking</li>
            <li>Documentation</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="service-block service-block-default no-margin-bottom">
          <i class="icon-lg rounded-x icon-line icon-layers"></i>
          <h2 class="heading-sm">SEO &amp; Advertising</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
          <ul class="list-unstyled">
            <li>Display Advertising</li>
            <li>App &amp; Icon Design</li>
            <li>Analysis &amp; Consulting</li>
            <li>Google AdSense</li>
            <li>Social Media</li>
            <li>Google/Bing Analysis</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Service Blocks -->
  </div>
  <!-- End Icon Boxes 37 -->

  <!-- Icon Boxes 38 -->
  <div class="container-fluid">
    <div class="row no-gutter equal-height-columns margin-bottom-10">
      <div class="col-sm-4">
        <div class="service-block service-block-purple no-margin-bottom content equal-height-column">
          <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
          <h2 class="heading-md font-light">Best Solutions</h2>
          <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential
            sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human
            being.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block service-block-red no-margin-bottom content equal-height-column">
          <i class="icon-custom icon-md rounded icon-color-light icon-line icon-fire"></i>
          <h2 class="heading-md font-light">Excellent Features</h2>
          <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential
            sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human
            being.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block service-block-aqua no-margin-bottom content equal-height-column">
          <i class="icon-custom icon-md rounded icon-color-light icon-line icon-directions"></i>
          <h2 class="heading-md font-light">Creative Ideas</h2>
          <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential
            sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human
            being.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 38 -->
</div>
</body>
</html>
