<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-blocks.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 29 -->
  <div class="container content-md">
    <div class="row service-block-v6">
      <div class="col-md-4 md-margin-bottom-50">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-bulb"></i>
        <div class="service-desc">
          <h2>Creative Ideas</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-50">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-energy"></i>
        <div class="service-desc">
          <h2>Excellent Features</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-screen-tablet"></i>
        <div class="service-desc">
          <h2>Fully Responsive</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div><!--/end row-->

    <hr/>

    <div class="row service-block-v6">
      <div class="col-md-4 md-margin-bottom-50">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-rocket"></i>
        <div class="service-desc">
          <h2>CLEAN CODE</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-50">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-fire"></i>
        <div class="service-desc">
          <h2>EXTENSIVE DOCUMENTATION</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-handbag"></i>
        <div class="service-desc">
          <h2>E-COMMERCE PAGES</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div><!--/end row-->
  </div>
  <!-- End Icon Boxes 29 -->

  <!-- Icon Boxes 30 -->
  <div class="service-block-v5">
    <div class="container">
      <div class="row equal-height-columns">
        <div class="col-md-4 service-inner equal-height-column">
          <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
          <span>Creative Design</span>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-md-4 service-inner equal-height-column service-border">
          <i class="icon-custom icon-md rounded-x icon-bg-u icon-rocket"></i>
          <span>Development</span>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-md-4 service-inner equal-height-column">
          <i class="icon-custom icon-md rounded-x icon-bg-u icon-support"></i>
          <span>Support</span>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div><!--/end row-->
    </div><!--/end container-->
  </div>
  <!-- End Icon Boxes 30 -->

  <!-- Icon Boxes 31 -->
  <div class="container content-md">
    <div class="row">
      <div class="col-md-4">
        <div class="content-boxes-v5 margin-bottom-30">
          <i class="rounded-x icon-layers"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">Responsive Layout</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div>
        <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-settings"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">Color Options</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="content-boxes-v5 margin-bottom-30">
          <i class="rounded-x icon-earphones-alt "></i>
          <div class="overflow-h">
            <h3 class="no-top-space">Outstanding Support</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div>
        <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-user "></i>
          <div class="overflow-h">
            <h3 class="no-top-space">User Friendly</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="content-boxes-v5 margin-bottom-30">
          <i class="rounded-x icon-wrench"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">Customizable Design</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div>
        <div class="content-boxes-v5 md-margin-bottom-30">
          <i class="rounded-x icon-star"></i>
          <div class="overflow-h">
            <h3 class="no-top-space">Free Updates</h3>
            <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 31 -->
</div>
</body>
</html>
