<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Icon Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 3 -->
  <div class="container content-sm">
    <!-- Default Content Boxes -->
    <div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom icon-bg-u fa fa-lightbulb-o"></i>
          <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom icon-bg-blue fa fa-bullhorn"></i>
          <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom icon-bg-red icon-line icon-rocket"></i>
          <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
    </div>
    <!-- End Default Content Boxes -->

    <!-- Default Content Boxes -->
    <div class="row content-boxes-v2 content-boxes-v2-o">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom icon-color-u fa fa-lightbulb-o"></i>
          <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom icon-color-blue fa fa-bullhorn"></i>
          <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm overflow-h">
          <i class="icon-custom icon-color-red icon-line icon-rocket"></i>
          <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
        </h2>
        <hr class="no-margin margin-bottom-10"/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's consectetur adipisicing elit</p>
      </div>
    </div>
    <!-- End Default Content Boxes -->
  </div>
  <!-- End Icon Boxes 3 -->

  <!-- Icon Boxes 4 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Default Content Boxes -->
      <div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-x icon-bg-u fa fa-lightbulb-o"></i>
            <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-x icon-bg-blue fa fa-bullhorn"></i>
            <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-x icon-bg-red icon-line icon-rocket"></i>
            <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
      </div>
      <!-- End Default Content Boxes -->

      <!-- Default Content Boxes -->
      <div class="row content-boxes-v2 content-boxes-v2-o">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-x icon-color-u fa fa-lightbulb-o"></i>
            <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-x icon-color-blue fa fa-bullhorn"></i>
            <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm overflow-h">
            <i class="icon-custom rounded-x icon-color-red icon-line icon-rocket"></i>
            <span>DEFAULT SIZE <small>Simply dummy text of the printing</small></span>
          </h2>
          <hr class="no-margin margin-bottom-10"/>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's consectetur adipisicing elit</p>
        </div>
      </div>
      <!-- End Default Content Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 4 -->

  <!-- Icon Boxes 12 -->

  <div class="container content-sm">
    <!-- Default Content Boxes -->
    <div class="row content-boxes-v2 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-bg-dark fa fa-lightbulb-o"></i>

        <h2 class="heading-sm">
          <span>Default Size Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-bg-dark fa fa-bullhorn"></i>

        <h2 class="heading-sm">
          <span>Default Size Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <i class="icon-custom icon-bg-dark icon-line icon-rocket"></i>

        <h2 class="heading-sm">
          <span>Default Size Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Default Content Boxes -->

    <!-- Default Content Boxes -->
    <div class="row content-boxes-v2 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-color-dark fa fa-lightbulb-o"></i>

        <h2 class="heading-sm">
          <span>Default Size Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <i class="icon-custom icon-color-dark fa fa-bullhorn"></i>

        <h2 class="heading-sm">
          <span>Default Size Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <i class="icon-custom icon-color-dark icon-line icon-rocket"></i>

        <h2 class="heading-sm">
          <span>Default Size Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Default Content Boxes -->
  </div>
  <!-- End Icon Boxes 12 -->

  <!-- Icon Boxes 15 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Default Content Boxes -->
      <div class="row content-boxes-v1 margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded icon-bg-dark fa fa-lightbulb-o"></i>
            <span>Defualt Icons</span>
          </h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded icon-bg-dark fa fa-bullhorn"></i>
            <span>Defualt Icons</span>
          </h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm">
            <i class="icon-custom rounded icon-bg-dark icon-line icon-rocket"></i>
            <span>Defualt Icons</span>
          </h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Default Content Boxes -->

      <!-- Default Rounded and Bordered Boxes -->
      <div class="row content-boxes-v1">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded icon-color-dark fa fa-lightbulb-o"></i>
            <span>Defualt Icons</span>
          </h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded icon-color-dark fa fa-bullhorn"></i>
            <span>Defualt Icons</span>
          </h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm">
            <i class="icon-custom rounded icon-color-dark icon-line icon-rocket"></i>
            <span>Defualt Icons</span>
          </h2>

          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Default Rounded and Bordered Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 15 -->

  <!-- Icon Boxes 16 -->
  <div class="container content-sm">
    <!-- Default Circle Content Boxes -->
    <div class="row content-boxes-v1 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
          <span>Default Circle Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-bg-dark fa fa-bullhorn"></i>
          <span>Default Circle Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-bg-dark icon-line icon-rocket"></i>
          <span>Default Circle Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Default Circle Content Boxes -->

    <!-- Small Rounded Circle Content Boxes -->
    <div class="row content-boxes-v1">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-color-dark fa fa-lightbulb-o"></i>
          <span>Default Circle Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-color-dark fa fa-bullhorn"></i>
          <span>Default Circle Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-color-dark icon-line icon-rocket"></i>
          <span>Default Circle Icons</span>
        </h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- Small Rounded Circle Content Boxes -->
  </div>
  <!-- End Icon Boxes 16 -->
</div>
</body>
</html>
