<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-blocks.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 27 -->
  <div class="container content-md">
    <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">
      <div class="col-md-4 md-margin-bottom-40">
        <i class="pull-left icon-directions"></i>
        <div class="content-boxes-in-v4">
          <h2>Creative Ideas</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-40">
        <i class="pull-left icon-handbag"></i>
        <div class="content-boxes-in-v4">
          <h2>E-Commerce Pages</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <i class="pull-left icon-chemistry"></i>
        <div class="content-boxes-in-v4">
          <h2>Clean Code</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row content-boxes-v4 content-boxes-v4-sm">
      <div class="col-md-4 md-margin-bottom-40">
        <i class="pull-left icon-info margin-right-10"></i>
        <div class="content-boxes-in-v4">
          <h2>Extensive Documentation</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-40">
        <i class="pull-left icon-social-youtube margin-right-10"></i>
        <div class="content-boxes-in-v4">
          <h2>Vimeo / Youtube</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <i class="pull-left icon-fire margin-right-10"></i>
        <div class="content-boxes-in-v4">
          <h2>Excellent Features</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 27 -->

  <!-- Icon Boxes 28 -->
  <div class="service-block-v4">
    <div class="container content-md">
      <div class="row">
        <div class="col-md-4 service-desc md-margin-bottom-50">
          <i class="icon-diamond"></i>
          <h3>Design</h3>
          <p class="no-margin-bottom">Morbi ac placerat nibh, in vestibulum odio cras vel orci non dolor sagittis
            sollicitudin et eu jeriu ntesque.<br/> Curabitur vitae augue </p>
        </div>
        <div class="col-md-4 service-desc md-margin-bottom-50">
          <i class="icon-rocket"></i>
          <h3>Development</h3>
          <p class="no-margin-bottom">Morbi ac placerat nibh, in vestibulum odio cras vel orci non dolor sagittis
            sollicitudin et eu jeriu ntesque.<br/> Curabitur vitae augue </p>
        </div>
        <div class="col-md-4 service-desc">
          <i class="icon-support"></i>
          <h3>Support</h3>
          <p class="no-margin-bottom">Morbi ac placerat nibh, in vestibulum odio cras vel orci non dolor sagittis
            sollicitudin et eu jeriu ntesque.<br/> Curabitur vitae augue </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 28 -->
</div>
</body>
</html>
