<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-blocks.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 32 -->
  <div class="bg-grey">
    <div class="container content-md">
      <div class="row text-center">
        <div class="col-md-4 md-margin-bottom-50">
          <img class="image-md margin-bottom-20" src="/images/icons/flat/01.png"/>
          <h1 class="title-v3-md margin-bottom-10">Fully Responsive</h1>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
        </div>
        <div class="col-md-4 flat-service md-margin-bottom-50">
          <img class="image-md margin-bottom-20" src="/images/icons/flat/02.png"/>
          <h2 class="title-v3-md margin-bottom-10">HTML5 + CSS3</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
        </div>
        <div class="col-md-4 flat-service">
          <img class="image-md margin-bottom-20" src="/images/icons/flat/03.png"/>
          <h2 class="title-v3-md margin-bottom-10">Launch Ready</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 32 -->

  <!-- Icon Boxes 33 -->
  <div class="container content-md">
    <div class="row">
      <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
        <i class="rounded-x icon-link"></i>
        <h1 class="title-v3-md text-uppercase margin-bottom-10">Fully responsive</h1>
        <p>At vero eos et accusato odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
      </div>
      <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
        <i class="rounded-x icon-paper-plane"></i>
        <h2 class="title-v3-md text-uppercase margin-bottom-10">Modern design</h2>
        <p>At vero eos et accusato odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
      </div>
      <div class="col-md-4 content-boxes-v6">
        <i class="rounded-x icon-refresh"></i>
        <h2 class="title-v3-md text-uppercase margin-bottom-10">Powerful slides</h2>
        <p>At vero eos et accusato odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 33 -->

  <!-- Icon Boxes 34 -->
  <div class="bg-grey">
    <div class="container content-md">
      <div class="row">
        <div class="col-md-4 md-margin-bottom-50">
          <div class="service-block-v7">
            <i class="icon-diamond"></i>
            <h3 class="title-v3-bg text-uppercase">Elegant Design</h3>
            <p>Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra. Quis lacinia dolor</p>
            <a class="text-uppercase" href="#">Read More</a>
          </div>
        </div>
        <div class="col-md-4 md-margin-bottom-50">
          <div class="service-block-v7">
            <i class="icon-layers"></i>
            <h3 class="title-v3-bg text-uppercase">Fully Responsive</h3>
            <p>Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra. Quis lacinia dolor</p>
            <a class="text-uppercase" href="#">Read More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-block-v7">
            <i class="icon-rocket"></i>
            <h3 class="title-v3-bg text-uppercase">Friendly Support</h3>
            <p>Curabitur ut augue at mi eleifend lobortis. Ut tincidunt lacinia nisi pharetra. Quis lacinia dolor</p>
            <a class="text-uppercase" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div><!--/container-->
  </div>
  <!-- End Icon Boxes 34 -->

  <!-- Icon Boxes 35 -->
  <div class="container content-md">
    <div class="row">
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-rocket"></i>
          <h3 class="title-v3-bg text-uppercase">Retina ready</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
          <a class="text-uppercase" href="#">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-graph"></i>
          <h3 class="title-v3-bg text-uppercase">User friendly</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
          <a class="text-uppercase" href="#">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-layers"></i>
          <h3 class="title-v3-bg text-uppercase">Powerful Plugins</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
          <a class="text-uppercase" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 35 -->
</div>
</body>
</html>
