<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-blocks.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/easy-blocks.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 39 -->
  <div class="container content-md">
    <div class="row margin-bottom-10">
      <div class="col-sm-6">
        <div class="service-block service-block-default">
          <i class="icon-custom icon-lg icon-color-dark icon-line icon-badge"></i>
          <h2 class="heading-md">Dark Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et
            accusamus et iusto odio dignissimos ducimus qui.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="service-block service-block-u">
          <i class="icon-custom icon-lg icon-color-light icon-line icon-directions"></i>
          <h2 class="heading-md">Green Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et
            accusamus et iusto odio dignissimos ducimus qui.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 39 -->

  <!-- Icon Boxes 40 -->
  <div class="container-fluid">
    <div class="row equal-height-columns no-gutter">
      <div class="col-sm-4">
        <div class="easy-block-v3 equal-height-column first">
          <i class="fa fa-headphones"></i>
          <div class="inner-faq-b">
            <h3>Contact Us</h3>
            <h4>1(123) 456 143</h4>
            <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros. Consectetur
              adipiscing elit, vivamus dapibus justo vel tincidunt consectetur</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 equal-height-column second">
          <i class="icon-envelope"></i>
          <div class="inner-faq-b">
            <h3>Email Us</h3>
            <h4>support@example.com</h4>
            <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros. Consectetur
              adipiscing elit, vivamus dapibus justo vel tincidunt consectetur</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 equal-height-column third">
          <i class="icon-support"></i>
          <div class="inner-faq-b">
            <h3>Support</h3>
            <h4>Technical Support</h4>
            <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros. Consectetur
              adipiscing elit, vivamus dapibus justo vel tincidunt consectetur</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 40 -->

  <!-- Icon Boxes 41 -->
  <div class="container content-md">
    <div class="row margin-bottom-40">
      <div class="col-md-4 col-sm-6">
        <div class="service-block service-block-green service-or">
          <div class="service-bg"></div>
          <i class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
          <h2 class="heading-md">Default Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-block service-block-red service-or">
          <div class="service-bg"></div>
          <i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
          <h2 class="heading-md">Red Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="service-block service-block-blue service-or">
          <div class="service-bg"></div>
          <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
          <h2 class="heading-md">Blue Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
        </div>
      </div>
    </div>

    <div class="row equal-height-columns margin-bottom-60">
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column bg-color-dark">
          <div class="service-bg"></div>
          <i class="icon-badge"></i>
          <div class="inner-faq-b">
            <h3>What is YQBoots Template?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt
              consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column bg-color-dark">
          <div class="service-bg"></div>
          <i class="icon-directions"></i>
          <div class="inner-faq-b">
            <h3>How to Update YQBoots?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt
              consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column bg-color-dark">
          <div class="service-bg"></div>
          <i class="icon-layers"></i>
          <div class="inner-faq-b">
            <h3>The Features of YQBoots?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt
              consectetur.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-40">
      <div class="col-md-4 col-sm-6">
        <div class="service-block service-block-grey">
          <i class="icon-2x color-light fa fa-bell-o"></i>
          <h2 class="heading-md">Grey Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-block service-block-yellow">
          <i class="icon-2x color-light icon-line icon-trophy"></i>
          <h2 class="heading-md">Yellow Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="service-block service-block-dark-blue">
          <i class="icon-2x color-light icon-line icon-graduation"></i>
          <h2 class="heading-md">Dark Blue Box</h2>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
        </div>
      </div>
    </div>

    <div class="row equal-height-columns">
      <div class="col-sm-4">
        <div class="easy-block-v3 equal-height-column rounded-4x">
          <i class="fa fa-headphones"></i>
          <div class="inner-faq-b">
            <h3>Contact Us</h3>
            <h4>1(123) 456 143</h4>
            <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 equal-height-column rounded-4x">
          <i class="icon-envelope"></i>
          <div class="inner-faq-b">
            <h3>Email Us</h3>
            <h4>support@example.com</h4>
            <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 equal-height-column rounded-4x">
          <i class="icon-support"></i>
          <div class="inner-faq-b">
            <h3>Support</h3>
            <h4>Technical Support</h4>
            <p>Sed rutrum risus non massa sodales varius. Etiam aliquet tincidunt sapien, nec iaculis eros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Icon Boxes 41 -->
</div>
</body>
</html>
