<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Content Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Icon Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Icon Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- Icon Boxes 17 -->
  <div class="container content-sm">
    <!-- Large Boxes -->
    <div class="row content-boxes-v1 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom icon-md icon-bg-u fa fa-lightbulb-o"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom icon-md icon-bg-blue fa fa-bullhorn"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom icon-md icon-bg-red icon-line icon-rocket"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Large Boxes -->

    <!-- Bordered Large Boxes -->
    <div class="row content-boxes-v1">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom icon-md icon-color-u fa fa-lightbulb-o"></i>
          <span>Large Bordered Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom icon-md icon-color-blue fa fa-bullhorn"></i>
          <span>Large Bordered Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom icon-md icon-color-red icon-line icon-rocket"></i>
          <span>Large Bordered Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Bordered Large Boxes -->
  </div>
  <!-- End Icon Boxes 17 -->

  <!-- Icon Boxes 18 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Large Boxes -->
      <div class="row content-boxes-v1 margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-x icon-md icon-bg-u fa fa-lightbulb-o"></i>
            <span>Large Rounded Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-x icon-md icon-bg-blue fa fa-bullhorn"></i>
            <span>Large Rounded Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-x icon-md icon-bg-red icon-line icon-rocket"></i>
            <span>Large Rounded Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Large Boxes -->

      <!-- Bordered Large Boxes -->
      <div class="row content-boxes-v1">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-x icon-md icon-color-u fa fa-lightbulb-o"></i>
            <span>Large Circle Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-x icon-md icon-color-blue fa fa-bullhorn"></i>
            <span>Large Circle Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-x icon-md icon-color-red icon-line icon-rocket"></i>
            <span>Large Circle Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Bordered Large Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 18 -->

  <!-- Icon Boxes 19 -->
  <div class="container content-sm">
    <!-- Rounded Large Boxes -->
    <div class="row content-boxes-v1 margin-bottom-40">
      <div class="col-sm-4 md-margin-bottom-40">
        <h2 class="heading-md">
          <i class="icon-custom rounded icon-md icon-bg-dark fa fa-lightbulb-o"></i>
          <span>Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 md-margin-bottom-40">
        <h2 class="heading-md">
          <i class="icon-custom rounded icon-md icon-bg-dark fa fa-skyatlas"></i>
          <span>Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-md">
          <i class="icon-custom rounded icon-md icon-bg-dark icon-line icon-directions"></i>
          <span>Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- Rounded Large Boxes -->

    <!-- Rounded And Borderd Large Boxes -->
    <div class="row content-boxes-v1">
      <div class="col-sm-4 md-margin-bottom-40">
        <h2 class="heading-md">
          <i class="icon-custom rounded icon-md icon-color-dark fa fa-connectdevelop"></i>
          <span>Some Tittle Here</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 md-margin-bottom-40">
        <h2 class="heading-md">
          <i class="icon-custom rounded icon-md icon-color-dark fa fa-bullhorn"></i>
          <span>Some Tittle Here</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-md">
          <i class="icon-custom rounded icon-md icon-color-dark icon-line icon-chemistry"></i>
          <span>Some Tittle Here</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Rounded And Borderd Large Boxes -->
  </div>
  <!-- End Icon Boxes 19 -->

  <!-- Icon Boxes 20 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Rounded Large Boxes -->
      <div class="row content-boxes-v1 margin-bottom-40">
        <div class="col-sm-4 md-margin-bottom-40">
          <h2 class="heading-md">
            <i class="icon-custom rounded-x icon-md icon-bg-dark fa fa-lightbulb-o"></i>
            <span>Circle Style</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 md-margin-bottom-40">
          <h2 class="heading-md">
            <i class="icon-custom rounded-x icon-md icon-bg-dark fa fa-skyatlas"></i>
            <span>Circle Style</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-md">
            <i class="icon-custom rounded-x icon-md icon-bg-dark icon-line icon-directions"></i>
            <span>Circle Style</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- Rounded Large Boxes -->

      <!-- Cirlce Large Boxes -->
      <div class="row content-boxes-v1">
        <div class="col-sm-4 md-margin-bottom-40">
          <h2 class="heading-md">
            <i class="icon-custom rounded-x icon-md icon-color-dark fa fa-connectdevelop"></i>
            <span>Circle Style</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 md-margin-bottom-40">
          <h2 class="heading-md">
            <i class="icon-custom rounded-x icon-md icon-color-dark fa fa-bullhorn"></i>
            <span>Circle Style</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-md">
            <i class="icon-custom rounded-x icon-md icon-color-dark icon-line icon-chemistry"></i>
            <span>Circle Style</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Cirlce Large Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 20 -->

  <!-- Icon Boxes 21 -->
  <div class="container content-sm">
    <!-- Large Boxes -->
    <div class="row content-boxes-v1 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-4x icon-md icon-bg-green fa fa-lightbulb-o"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-4x icon-md icon-bg-orange fa fa-bullhorn"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-4x icon-md icon-bg-purple icon-line icon-rocket"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Large Boxes -->

    <!-- Large Boxes -->
    <div class="row content-boxes-v1">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-4x icon-md icon-bg-aqua fa fa-lightbulb-o"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-4x icon-md icon-bg-dark-blue fa fa-bullhorn"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-4x icon-md icon-bg-yellow icon-line icon-rocket"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Large Boxes -->
  </div>
  <!-- End Icon Boxes 21 -->

  <!-- Icon Boxes 22 -->
  <div class="bg-grey">
    <div class="container content-sm">
      <!-- Bordered Large Boxes -->
      <div class="row content-boxes-v1 margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-4x icon-md icon-color-red fa fa-lightbulb-o"></i>
            <span>Large Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-4x icon-md icon-color-blue fa fa-bullhorn"></i>
            <span>Large Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-4x icon-md icon-color-aqua icon-line icon-rocket"></i>
            <span>Large Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Bordered Large Boxes -->

      <!-- Bordered Large Boxes -->
      <div class="row content-boxes-v1 margin-bottom-40">
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-4x icon-md icon-color-green fa fa-lightbulb-o"></i>
            <span>Large Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4 sm-margin-bottom-40">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-4x icon-md icon-color-purple fa fa-bullhorn"></i>
            <span>Large Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
        <div class="col-sm-4">
          <h2 class="heading-sm">
            <i class="icon-custom rounded-4x icon-md icon-color-dark-blue icon-line icon-rocket"></i>
            <span>Large Bordered Boxes</span>
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
        </div>
      </div>
      <!-- End Bordered Large Boxes -->
    </div>
  </div>
  <!-- End Icon Boxes 22 -->

  <!-- Icon Boxes 23 -->
  <div class="container content-sm">
    <!-- Large Boxes -->
    <div class="row content-boxes-v1 margin-bottom-40">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-2x icon-lg icon-bg-green fa fa-lightbulb-o"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-2x icon-lg icon-bg-orange fa fa-bullhorn"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-2x icon-lg icon-bg-purple icon-line icon-rocket"></i>
          <span>Large Rounded Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Large Boxes -->

    <!-- Bordered Large Boxes -->
    <div class="row content-boxes-v1">
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-2x icon-lg icon-color-green fa fa-lightbulb-o"></i>
          <span>Large Bordered Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4 sm-margin-bottom-40">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-2x icon-lg icon-color-purple fa fa-bullhorn"></i>
          <span>Large Bordered Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
      <div class="col-sm-4">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-2x icon-lg icon-color-dark-blue icon-line icon-rocket"></i>
          <span>Large Bordered Boxes</span>
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's</p>
      </div>
    </div>
    <!-- End Bordered Large Boxes -->
  </div>
  <!-- End Icon Boxes 23 -->
</div>
</body>
</html>
