<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Call To Actions</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/call-actions.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Call To Action</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#">Features</a></li>
      <li class="active">Call to action</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-sm">
  <!-- Callout Classic -->
  <div class="call-action-v1 call-action-v1-boxed margin-bottom-40">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in">
        <h3><b>Contact us at <span class="color-green">eric.zhan@163.com</span> or give
          us a call <span class="color-green"> 13556179554</span></b></h3>

        <p>YQBoots creative technology company providing key digital services and focused on helping our clients to
          build a successful business on web and mobile.</p>
      </div>
      <div class="call-action-v1-in inner-btn#">
        <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover #btn-u-block">REGISTER TODAY</a>
      </div>
    </div>
  </div>
  <!-- Callout Classic -->

  <!-- Callout Tagbox v4 -->
  <div class="call-action-v1 call-action-v1-boxed tag-box-v4 margin-bottom-40">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in">
        <h3><em>Contact us at <b>eric.zhan@163.com</b> or give us a call <b> 13556179554</b></em></h3>

        <p><em>YQBoots creative technology company providing key digital services and focused on helping our clients to
          build a successful business on web and mobile.</em></p>
      </div>
      <div class="call-action-v1-in inner-btn">
        <a href="#" class="btn-u btn-u-md #btn-u-block">REGISTER TODAY</a>
      </div>
    </div>
  </div>
  <!-- End Callout Tagbox v4 -->

  <!-- Callout Tagbox v3 -->
  <div class="call-action-v1 call-action-v1-boxed tag-box-v3 margin-bottom-40">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in text-center">
        <h3><b>Contact us at <span class="color-green">eric.zhan@163.com</span> or give us a call <span
            class="color-green"> 13556179554</span></b></h3>

        <p>YQBoots creative technology company providing key digital services and focused on helping our clients to
          build a successful business on web and mobile.</p>
      </div>
      <div class="call-action-v1-in inner-btn">
        <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-block">REGISTER TODAY</a>
      </div>
    </div>
  </div>
  <!-- End Callout Tagbox v3 -->

  <!-- Callout Shadow Effect v5 -->
  <div class="call-action-v1 call-action-v1-boxed shadow-effect-5 margin-bottom-40">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in">
        <h3>Contact us at <b>eric.zhan@163.com</b> or give us a call <b
        >13556179554</b></h3>

        <p>YQBoots creative technology company providing key digital services and focused on helping our clients to
          build a successful business on web and mobile.</p>
      </div>
      <div class="call-action-v1-in inner-btn">
        <a href="#" class="btn-u btn-u-md btn-u-dark">DOWNLOAD NOW</a>
      </div>
    </div>
  </div>
  <!-- Callout Shadow Effect v5 -->

  <!-- Callout Tagbox v1 -->
  <div class="shadow-wrapper">
    <div class="call-action-v1 call-action-v1-boxed tag-box-v1 box-shadow shadow-effect-2 margin-bottom-40">
      <div class="call-action-v1-box">
        <div class="call-action-v1-in">
          <h3>Contact us at <b>eric.zhan@163.com</b> or give us a call <b>13556179554</b></h3>

          <p>YQBoots creative technology company providing key digital services and focused on helping our clients to
            build a successful business on web and mobile.</p>
        </div>
        <div class="call-action-v1-in inner-btn">
          <a href="#" class="btn-u btn-u-md btn-u-block">REGISTER TODAY</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Callout Tagbox v1 -->

  <!-- Callout Tagbox v7 -->
  <div class="call-action-v1 call-action-v1-boxed tag-box-v7 margin-bottom-40">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in text-center">
        <h2><b>Contact us at <span class="color-green">eric.zhan@163.com</span> or give us a call <span
            class="color-green"> 13556179554</span></b></h2>

        <p><em>YQBoots creative technology company providing key digital services and focused on helping our clients to
          build a successful business on web and mobile. Contrary to popular belief, Lorem Ipsum is not simply random
          text. It has roots in a piece of classical</em></p><br/>
        <a href="#" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover #margin-right-10">LEARN MORE</a>
        <a href="#" class="btn-u btn-u btn-u-md">DOWNLOAD NOW</a>
      </div>
    </div>
  </div>
  <!-- End Callout Tagbox v7 -->

  <!-- Callout Background Green -->
  <div class="call-action-v1 call-action-v1-boxed bg-color-primary margin-bottom-40">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in">
        <h3 class="color-light">Contact us at eric.zhan@163.com or give us a call 13556179554</h3>

        <p class="color-light">YQBoots creative technology company providing key digital services and focused on helping
          our clients to build a successful business on web and mobile.</p>
      </div>
      <div class="call-action-v1-in inner-btn">
        <a href="#" class="btn-u btn-u-lg btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block">REGISTER
          TODAY</a>
      </div>
    </div>
  </div>
  <!-- End Callout Background Green -->
</div>
</body>
</html>
