<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Blog Masonry Grid 3 Columns</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/carousels.css}"/>
  <link rel="stylesheet" th:href="@{/css/blogs/blog-masonry-3col.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Masonry 3 Columns</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li><a href="">Portfolio</a></li>
      <li class="active">Blog</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="blog_masonry_3col">
  <div class="container content grid-boxes">
    <div class="grid-boxes-in">
      <img class="img-responsive" src="/images/img_973x615.jpg"/>
      <div class="grid-boxes-caption">
        <h3><a href="#">YQBoots Clean and Fresh Fully Responsive Template</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li><span>By</span> <a href="#">Kathy Reyes</a></li>
          <li>|</li>
          <li><i class="fa fa-clock-o"></i> July 06, 2014</li>
          <li>|</li>
          <li><a href="#"><i class="fa fa-comments-o"></i> 06</a></li>
        </ul>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>

    <div class="grid-boxes-in grid-boxes-qoute">
      <div class="grid-boxes-caption grid-boxes-quote bg-color-sea">
        <p>If you can design one thing you can design everything. Just Believe It</p>
        <span>- YQBoots.com -</span>
      </div>
    </div>

    <div class="grid-boxes-in">
      <div class="grid-boxes-caption">
        <h3><a href="#">Donec sit amet arcu a nislae</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li><span>By</span> <a href="#">Kathy Reyes</a></li>
          <li>|</li>
          <li><i class="fa fa-clock-o"></i> July 19, 2014</li>
          <li>|</li>
          <li><a href="#"><i class="fa fa-comments-o"></i> 12</a></li>
        </ul>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          in some form, by injected humour, or randomised words which don't look even slightly believable. If you are
          going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
          middle of text.</p>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive" src="/images/img_973x615.jpg"/>
      <div class="grid-boxes-caption">
        <h3><a href="#">Allan Ingwersen Project</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li><span>By</span> <a href="#">Kathy Reyes</a></li>
          <li>|</li>
          <li><i class="fa fa-clock-o"></i> July 19, 2014</li>
          <li>|</li>
          <li><a href="#"><i class="fa fa-comments-o"></i> 12</a></li>
        </ul>
        <p>Donec semper tempus nisi felis vel est porttitor interdum. Sed risusdak velit, facilisis et arcu hendrerit,
          scelerisque iaculis felis...</p>
      </div>
    </div>

    <div class="grid-boxes-in">
      <div id="myCarousel" class="carousel slide carousel-v1">
        <div class="carousel-inner">
          <div class="item active">
            <img src="/images/img_973x615.jpg"/>
            <div class="carousel-caption">
              <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
            </div>
          </div>
          <div class="item">
            <img src="/images/img_973x615.jpg"/>
            <div class="carousel-caption">
              <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
            </div>
          </div>
          <div class="item">
            <img src="/images/img_973x615.jpg"/>
            <div class="carousel-caption">
              <p>Justo cras odio apibus ac afilisis lingestas de.</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="grid-boxes-caption">
        <h3><a href="#">Cras justo odio, dapibus ac facilisis into egestas</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li><span>By</span> <a href="#">Kathy Reyes</a></li>
          <li>|</li>
          <li><i class="fa fa-clock-o"></i> July 27, 2014</li>
          <li>|</li>
          <li><a href="#"><i class="fa fa-comments-o"></i> 109</a></li>
        </ul>
        <p>Donec semper tempus nisi, non gravida augue iaculis ate. Maecenas pharetra turpis est, vitae venenatis
          eleifend itae amet. Mauris sit amet sapien eget lacus posuere . Aliqusa condimen tum purus lectus, id
          commodo reelit ullamcorpe at. Duis in neque elit. Donec sit amet arcu a nislae rhoncu sodales vel lacus.
          Quisq sit amet lacus nisl augue. Nullae por ornare erat, commodo ultrices laoreet odio pharetrase. Duispas
          mod felis vel est porttitor interdum. Sed risusdak velit, facilisis et arcu hendrerit, scelerisque iaculis
          felis...</p>
      </div>
    </div>

    <div class="grid-boxes-in grid-boxes-qoute">
      <div class="grid-boxes-caption grid-boxes-quote bg-color-blue">
        <p>Computer Science is no more about computers than astronomy is about telescopes.</p>
        <span>- Edsger W. Dijkstra -</span>
      </div>
    </div>

    <div class="grid-boxes-in">
      <img class="img-responsive full-width" src="/images/img_973x615.jpg"/>
      <div class="grid-boxes-caption">
        <h3><a href="#">Facilisis odio, dapibus ac justo acilisis gestinas</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li><span>By</span> <a href="#">Kathy Reyes</a></li>
          <li>|</li>
          <li><i class="fa fa-clock-o"></i> July 22, 2014</li>
          <li>|</li>
          <li><a href="#"><i class="fa fa-comments-o"></i> 15</a></li>
        </ul>
        <p>Donec semper tempus nisi, non gravida augue iaculis ate. Maecenas pharetra turpis est, vitae venenatis
          eleifend itae amet. Mauris sit amet sapien eget lacus posuere.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
