<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Form Sliders</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Form Sliders</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Forms</li>
      <li class="active">Form Sliders</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <!-- Slider Forms -->
  <form action="#" id="sky-form" class="sky-form">
    <header>Slider Forms</header>

    <fieldset>
      <section>
        <label class="label">Regular slider (<span id="slider1-value">0</span>)</label>
        <div id="slider1"></div>
      </section>

      <section>
        <label class="label">Range slider (<span id="slider2-value1">75</span> - <span
            id="slider2-value2">300</span>)</label>
        <div id="slider2"></div>
      </section>

      <section>
        <label class="label">Step slider (<span id="slider3-value">0</span>)</label>
        <div id="slider3"></div>
      </section>
    </fieldset>
  </form>
  <!-- End Slider Forms -->

  <div class="margin-bottom-40"></div>

  <!-- Rounded Slider Forms -->
  <form action="#" id="sky-form2" class="sky-form label-rounded">
    <header>Rounded Slider Forms</header>

    <fieldset>
      <section>
        <label class="label rounded-x">Regular slider (<span id="slider1-value-rounded">0</span>)</label>
        <div id="slider1-rounded"></div>
      </section>

      <section>
        <label class="label rounded-x">Range slider (<span id="slider2-value1-rounded">75</span> - <span
            id="slider2-value2-rounded">300</span>)</label>
        <div id="slider2-rounded"></div>
      </section>

      <section>
        <label class="label rounded-x">Step slider (<span id="slider3-value-rounded">0</span>)</label>
        <div id="slider3-rounded"></div>
      </section>
    </fieldset>
  </form>
  <!-- End Rounded Slider Forms -->
</div>
</body>
</html>
