<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Form States</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Form States</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Forms</li>
      <li class="active">Form States</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <!-- Tabs -->
  <div class="tab-v1">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home-1" data-toggle="tab">Success State</a></li>
      <li><a href="#profile-1" data-toggle="tab">Error State</a></li>
      <li><a href="#messages-1" data-toggle="tab">Disabled State</a></li>
    </ul>
    <div class="tab-content">
      <!-- Success Forms -->
      <div class="tab-pane fade in active" id="home-1">
        <form action="#" class="sky-form">
          <header>Success states for elements</header>

          <fieldset>
            <section>
              <label class="label">Text input</label>
              <label class="input state-success">
                <input type="text"/>
              </label>
              <div class="note note-success">This is a required field.</div>
            </section>

            <section>
              <label class="label">File input</label>
              <label for="file" class="input input-file state-success">
                <div class="button">
                  <input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value"/>Browse
                </div>
                <input type="text" readonly="readonly"/>
              </label>
              <div class="note note-success">This is a required field.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Select</label>
              <label class="select state-success">
                <select>
                  <option value="0">Choose name</option>
                  <option value="1">Alexandra</option>
                  <option value="2">Alice</option>
                  <option value="3" selected="selected">Anastasia</option>
                  <option value="4">Avelina</option>
                </select>
                <i></i>
              </label>
              <div class="note note-success">Thanks for your selection.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Textarea</label>
              <label class="textarea state-success">
                <textarea rows="3"></textarea>
              </label>
              <div class="note note-success">Thanks for your text.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Radios</label>
              <div class="row">
                <div class="col col-4">
                  <label class="radio state-success"><input type="radio" name="radio"/>
                    <i class="rounded-x"></i> Alexandra</label>
                  <label class="radio state-success"><input type="radio" name="radio"/>
                    <i class="rounded-x"></i> Alice</label>
                </div>
                <div class="col col-4">
                  <label class="radio state-success"><input type="radio" name="radio" checked="checked"/>
                    <i class="rounded-x"></i>Avelina</label>
                  <label class="radio state-success"><input type="radio" name="radio"/>
                    <i class="rounded-x"></i>Basilia</label>
                </div>
                <div class="col col-4">
                  <label class="radio state-success"><input type="radio" name="radio"/>
                    <i class="rounded-x"></i>Cassandra</label>
                  <label class="radio state-success"><input type="radio" name="radio"/>
                    <i class="rounded-x"></i>Clemencia</label>
                </div>
              </div>
              <div class="note note-success">Thanks for your selection.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Checkboxes</label>
              <div class="row">
                <div class="col col-4">
                  <label class="checkbox state-success">
                    <input type="checkbox" name="checkbox"/><i></i>Alexandra
                  </label>
                  <label class="checkbox state-success">
                    <input type="checkbox" name="checkbox" checked="checked"/><i></i>Alice
                  </label>
                </div>
                <div class="col col-4">
                  <label class="checkbox state-success">
                    <input type="checkbox" name="checkbox"/><i></i>Avelina
                  </label>
                  <label class="checkbox state-success">
                    <input type="checkbox" name="checkbox"/><i></i>Basilia
                  </label>
                </div>
                <div class="col col-4">
                  <label class="checkbox state-success">
                    <input type="checkbox" name="checkbox" checked="checked"/><i></i>Cassandra
                  </label>
                  <label class="checkbox state-success">
                    <input type="checkbox" name="checkbox"/><i></i>Clemencia
                  </label>
                </div>
              </div>
              <div class="note note-success">Thanks for your selection.</div>
            </section>
          </fieldset>

          <fieldset>
            <div class="row">
              <section class="col col-5">
                <label class="label">Toggles based on radios</label>
                <label class="toggle state-success">
                  <input type="radio" name="radio-toggle" checked="checked"/><i class="rounded-4x"></i>Alexandra
                </label>
                <label class="toggle state-success">
                  <input type="radio" name="radio-toggle"/><i class="rounded-4x"></i>Anastasia
                </label>
                <label class="toggle state-success">
                  <input type="radio" name="radio-toggle"/><i class="rounded-4x"></i>Avelina
                </label>
                <div class="note note-success">Thanks for your selection.</div>
              </section>

              <div class="col col-2"></div>

              <section class="col col-5">
                <label class="label">Toggles based on checkboxes</label>
                <label class="toggle state-success">
                  <input type="checkbox" name="checkbox-toggle" checked="checked"/><i class="rounded-4x"></i>Cassandra
                </label>
                <label class="toggle state-success">
                  <input type="checkbox" name="checkbox-toggle"/><i class="rounded-4x"></i>Clemencia
                </label>
                <label class="toggle state-success">
                  <input type="checkbox" name="checkbox-toggle"/><i class="rounded-4x"></i>Desiderata
                </label>
                <div class="note note-success">Thanks for your selection.</div>
              </section>
            </div>
          </fieldset>

          <footer>
            <button type="submit" class="btn-u btn-u-default">Submit</button>
            <button type="button" class="btn-u" onclick="window.history.back();">Back</button>
          </footer>
        </form>
        <!--/ Success states for elements -->
      </div>
      <!-- End Success Forms -->

      <!-- Error Forms -->
      <div class="tab-pane fade" id="profile-1">
        <form action="#" class="sky-form">
          <header>Error states for elements</header>

          <fieldset>
            <section>
              <label class="label">Text input</label>
              <label class="input state-error">
                <input type="text"/>
              </label>
              <div class="note note-error">This is a required field.</div>
            </section>

            <section>
              <label class="label">File input</label>
              <label for="file" class="input input-file state-error">
                <div class="button">
                  <input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value"/>Browse
                </div>
                <input type="text" readonly="readonly"/>
              </label>
              <div class="note note-error">File size must be less than 3Mb.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Select</label>
              <label class="select state-error">
                <select>
                  <option value="0">Choose name</option>
                  <option value="1">Alexandra</option>
                  <option value="2">Alice</option>
                  <option value="3">Anastasia</option>
                  <option value="4">Avelina</option>
                </select>
                <i></i>
              </label>
              <div class="note note-error">You must select an option.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Textarea</label>
              <label class="textarea state-error">
                <textarea rows="3"></textarea>
              </label>
              <div class="note note-error">This is a required field.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Radios</label>
              <div class="row">
                <div class="col col-4">
                  <label class="radio state-error">
                    <input type="radio" name="radio"/><i class="rounded-x"></i>Alexandra
                  </label>
                  <label class="radio state-error">
                    <input type="radio" name="radio"/><i class="rounded-x"></i>Alice
                  </label>
                </div>
                <div class="col col-4">
                  <label class="radio state-error">
                    <input type="radio" name="radio"/><i class="rounded-x"></i>Avelina
                  </label>
                  <label class="radio state-error">
                    <input type="radio" name="radio"/><i class="rounded-x"></i>Basilia
                  </label>
                </div>
                <div class="col col-4">
                  <label class="radio state-error">
                    <input type="radio" name="radio"/><i class="rounded-x"></i>Cassandra
                  </label>
                  <label class="radio state-error">
                    <input type="radio" name="radio"/><i class="rounded-x"></i>Clemencia
                  </label>
                </div>
              </div>
              <div class="note note-error">You must select one option.</div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Checkboxes</label>
              <div class="row">
                <div class="col col-4">
                  <label class="checkbox state-error">
                    <input type="checkbox" name="checkbox"/><i></i>Alexandra
                  </label>
                  <label class="checkbox state-error">
                    <input type="checkbox" name="checkbox"/><i></i>Alice
                  </label>
                </div>
                <div class="col col-4">
                  <label class="checkbox state-error">
                    <input type="checkbox" name="checkbox"/><i></i>Avelina
                  </label>
                  <label class="checkbox state-error">
                    <input type="checkbox" name="checkbox"/><i></i>Basilia
                  </label>
                </div>
                <div class="col col-4">
                  <label class="checkbox state-error">
                    <input type="checkbox" name="checkbox"/><i></i>Cassandra
                  </label>
                  <label class="checkbox state-error">
                    <input type="checkbox" name="checkbox"/><i></i>Clemencia
                  </label>
                </div>
              </div>
              <div class="note note-error">You must select at least one option.</div>
            </section>
          </fieldset>

          <fieldset>
            <div class="row">
              <section class="col col-5">
                <label class="label">Toggles based on radios</label>
                <label class="toggle state-error">
                  <input type="radio" name="radio-toggle"/><i class="rounded-4x"></i>Alexandra
                </label>
                <label class="toggle state-error">
                  <input type="radio" name="radio-toggle"/><i class="rounded-4x"></i>Anastasia
                </label>
                <label class="toggle state-error">
                  <input type="radio" name="radio-toggle"/><i class="rounded-4x"></i>Avelina
                </label>
                <div class="note note-error">You must select one option.</div>
              </section>

              <div class="col col-2"></div>

              <section class="col col-5">
                <label class="label">Toggles based on checkboxes</label>
                <label class="toggle state-error">
                  <input type="checkbox" name="checkbox-toggle"/><i class="rounded-4x"></i>Cassandra
                </label>
                <label class="toggle state-error">
                  <input type="checkbox" name="checkbox-toggle"/><i class="rounded-4x"></i>Clemencia
                </label>
                <label class="toggle state-error">
                  <input type="checkbox" name="checkbox-toggle"/><i class="rounded-4x"></i>Desiderata
                </label>
                <div class="note note-error">You must select at least one option.</div>
              </section>
            </div>
          </fieldset>

          <footer>
            <button type="submit" class="btn-u btn-u-default">Submit</button>
            <button type="button" class="btn-u" onclick="window.history.back();">Back</button>
          </footer>
        </form>
        <!--/ Error states for elements -->
      </div>
      <!-- End Error Forms -->

      <!-- Disabled Forms -->
      <div class="tab-pane fade" id="messages-1">
        <form action="#" class="sky-form">
          <header>Disabled states for elements</header>

          <fieldset>
            <section>
              <label class="label">Text input</label>
              <label class="input state-disabled">
                <input type="text" disabled="disabled"/>
              </label>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Select</label>
              <label class="select state-disabled">
                <select name="" disabled="disabled" id="">
                  <option value="0"></option>
                  <option value="1">Alexandra</option>
                  <option value="2">Alice</option>
                  <option value="3">Anastasia</option>
                  <option value="4">Avelina</option>
                </select>
                <i></i>
              </label>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Textarea</label>
              <label class="textarea state-disabled">
                <textarea rows="3" disabled="disabled"></textarea>
              </label>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Radios</label>
              <div class="row">
                <div class="col col-4">
                  <label class="radio state-disabled">
                    <input type="radio" name="radio" disabled="disabled"/><i class="rounded-x"></i>Alexandra
                  </label>
                  <label class="radio state-disabled">
                    <input type="radio" name="radio" disabled="disabled"/><i class="rounded-x"></i>Alice
                  </label>
                </div>
                <div class="col col-4">
                  <label class="radio state-disabled">
                    <input type="radio" name="radio" disabled="disabled"/><i class="rounded-x"></i>Avelina
                  </label>
                  <label class="radio state-disabled">
                    <input type="radio" name="radio" disabled="disabled"/><i class="rounded-x"></i>Basilia
                  </label>
                </div>
                <div class="col col-4">
                  <label class="radio state-disabled">
                    <input type="radio" name="radio" disabled="disabled"/><i class="rounded-x"></i>Cassandra
                  </label>
                  <label class="radio state-disabled">
                    <input type="radio" name="radio" disabled="disabled"/><i class="rounded-x"></i>Clemencia
                  </label>
                </div>
              </div>
            </section>
          </fieldset>

          <fieldset>
            <section>
              <label class="label">Checkboxes</label>
              <div class="row">
                <div class="col col-4">
                  <label class="checkbox state-disabled">
                    <input type="checkbox" name="checkbox" disabled="disabled"/><i></i>Alexandra
                  </label>
                  <label class="checkbox state-disabled">
                    <input type="checkbox" name="checkbox" disabled="disabled"/><i></i>Alice
                  </label>
                </div>
                <div class="col col-4">
                  <label class="checkbox state-disabled">
                    <input type="checkbox" name="checkbox" disabled="disabled"/><i></i>Avelina
                  </label>
                  <label class="checkbox state-disabled">
                    <input type="checkbox" name="checkbox" disabled="disabled"/><i></i>Basilia
                  </label>
                </div>
                <div class="col col-4">
                  <label class="checkbox state-disabled">
                    <input type="checkbox" name="checkbox" disabled="disabled"/><i></i>Cassandra
                  </label>
                  <label class="checkbox state-disabled">
                    <input type="checkbox" name="checkbox" disabled="disabled"/><i></i>Clemencia
                  </label>
                </div>
              </div>
            </section>
          </fieldset>

          <fieldset>
            <div class="row">
              <section class="col col-5">
                <label class="label">Toggles based on radios</label>
                <label class="toggle state-disabled">
                  <input type="radio" name="radio-toggle" disabled="disabled"/><i class="rounded-4x"></i>Alexandra
                </label>
                <label class="toggle state-disabled">
                  <input type="radio" name="radio-toggle" disabled="disabled"/><i class="rounded-4x"></i>Anastasia
                </label>
                <label class="toggle state-disabled">
                  <input type="radio" name="radio-toggle" disabled="disabled"/><i class="rounded-4x"></i>Avelina
                </label>
              </section>

              <div class="col col-2"></div>

              <section class="col col-5">
                <label class="label">Toggles based on checkboxes</label>
                <label class="toggle state-disabled">
                  <input type="checkbox" name="checkbox-toggle" disabled="disabled"/><i class="rounded-4x"></i>Cassandra
                </label>
                <label class="toggle state-disabled">
                  <input type="checkbox" name="checkbox-toggle" disabled="disabled"/><i class="rounded-4x"></i>Clemencia
                </label>
                <label class="toggle state-disabled">
                  <input type="checkbox" name="checkbox-toggle" disabled="disabled"/><i class="rounded-4x"></i>Desiderata
                </label>
              </section>
            </div>
          </fieldset>

          <footer>
            <button type="submit" disabled="disabled" class="button state-disabled">Submit</button>
            <button type="button" class="button state-disabled button-secondary" onclick="window.history.back();">
              Back
            </button>
          </footer>
        </form>
        <!--/ Disabled states for elements -->
      </div>
      <!-- End Disabled Forms -->
    </div>
  </div>
  <!-- End Tabs-->
</div>
</body>
</html>
