<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Common Bootstrap Forms</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Common Bootstrap Forms</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Forms</li>
      <li class="active">Common Bootstrap Forms</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  <div class="alert alert-info fade in">
    <button data-dismiss="alert" class="close" type="button">×</button>
    Individual form controls automatically receive some global styling. All textual <code>input</code>,
    <code>textarea</code>,
    and <code>select</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by
    default. Wrap labels and controls in .form-group for optimum spacing.<br/>
    <strong>You can find more example here:</strong>
    <a target="_blank" href="http://getbootstrap.com/css/#forms">http://getbootstrap.com/css/#forms</a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- Basic Form -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-tasks"></i> Basic Form</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"/>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"/> Check me out
              </label>
            </div>
            <button type="submit" class="btn-u btn-u-blue">Submit</button>
          </form>
        </div>
      </div>
      <!-- End Basic Form -->
    </div>
    <div class="col-md-6">
      <!-- Horizontal Form -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-tasks"></i> Horizontal Form</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email"/>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"/> Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn-u btn-u-green">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- End Horizontal Form -->
    </div>
  </div>

  <!-- Inline Form -->
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> Inline Form</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"/>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"/>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"/> Remember me
          </label>
        </div>
        <button type="submit" class="btn-u btn-u-default">Sign in</button>
      </form>
    </div>
  </div>
  <!-- End Inline Form -->

  <!-- Input Groups -->
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> Input groups</h3>
    </div>
    <div class="panel-body">
      <p>Extend form controls by adding text or buttons before, after, or on both sides of any text-based input.
        Use <code>.input-group</code> with an <code>.input-group-addon</code> to prepend or append elements to a
        <code>.form-control</code>.</p><br/>

      <div class="row margin-bottom-40">
        <!--Basic Example-->
        <div class="col-md-6">
          <h4>Basic Example</h4>
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Username"/>
          </div>

          <div class="margin-bottom-10"></div>

          <div class="input-group">
            <input type="text" class="form-control"/>
            <span class="input-group-addon">.00</span>
          </div>

          <div class="margin-bottom-10"></div>

          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control"/>
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <!--End Basic Example-->

        <!--Checkboxes and Radio Addons-->
        <div class="col-md-6">
          <h4>Checkboxes and Radio Addons</h4>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox"/>
            </span>
            <input type="text" class="form-control"/>
          </div>

          <div class="margin-bottom-10"></div>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio"/>
            </span>
            <input type="text" class="form-control"/>
          </div>
        </div>
        <!--End Checkboxes and Radio Addons-->
      </div>

      <h4>Button Addons and Buttons with Dropdowns</h4>
      <p>Buttons in input groups are a bit different and require one extra level of nesting. Instead of <code>.input-group-addon</code>,
        you'll need to use <code>.input-group-btn</code> to wrap the buttons. This is required due to default
        browser styles that cannot be overridden.</p><br/>

      <div class="row">
        <!--Button Addons-->
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-u" type="button">Go!</button>
            </span>
            <input type="text" class="form-control"/>
          </div>

          <div class="margin-bottom-10"></div>

          <div class="input-group">
            <input type="text" class="form-control"/>
            <span class="input-group-btn">
              <button class="btn btn-u" type="button">Go!</button>
            </span>
          </div>
        </div>
        <!--End Button Addons-->

        <!--Buttons with Dropdowns-->
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-u dropdown-toggle" data-toggle="dropdown">
                Action
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <input type="text" class="form-control"/>
          </div>

          <div class="margin-bottom-10"></div>

          <div class="input-group">
            <input type="text" class="form-control"/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-u dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--End Buttons with Dropdowns-->
      </div>
    </div>
  </div>
  <!-- End Input Groups -->

  <!-- Standard Form Controls -->
  <div class="headline"><h3>Standard Form Controls</h3></div>

  <!--Inputs-->
  <h4>Inputs</h4>
  <p>Most common form control, text-based input fields. Includes support for all HTML5 types: <code>text</code>,
    <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>,
    <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>,
    <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.</p><br/>
  <input type="text" class="form-control" placeholder="Text input"/>
  <!--End Inputs-->

  <div class="margin-bottom-40"></div>

  <!--Textarea-->
  <h4>Textarea</h4>
  <p>Form control which supports multiple lines of text. Change <code>rows</code> attribute as necessary.</p>
  <br/>
  <textarea class="form-control" rows="7"></textarea>
  <!--End Textarea-->

  <div class="margin-bottom-40"></div>

  <!--Checkboxes and Radios-->
  <h4>Checkboxes and Radios</h4>
  <div class="checkbox">
    <label>
      <input type="checkbox" value=""/>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked"/>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"/>
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"/> 1
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"/> 2
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"/> 3
  </label>
  <!--End Checkboxes and Radios-->

  <div class="margin-bottom-40"></div>

  <!--Selects-->
  <h4>Selects</h4>
  <p>Use the default option, or add <code>multiple</code> to show multiple options at once.</p>
  <h5>Single Select</h5>
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  <br/>
  <h5>Multiple Select</h5>
  <select multiple="multiple" class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  <!--End Selects-->
  <!-- End Standard Form Controls -->

  <!-- Validation States -->
  <div class="headline"><h3>Validation States</h3></div>
  <p>Bootstrap includes validation styles for error, warning, and success states on form controls. To use, add
    <code>.has-warning</code>, <code>.has-error</code>, or <code>.has-success</code> to the parent element. Any
    <code>.control-label</code>, <code>.form-control</code>, and <code>.help-block</code> within that element
    will receive the validation styles.</p><br/>

  <div class="form-group has-success">
    <label class="control-label" for="inputSuccess">Input with success</label>
    <input type="text" class="form-control" id="inputSuccess"/>
  </div>
  <div class="form-group has-warning">
    <label class="control-label" for="inputWarning">Input with warning</label>
    <input type="text" class="form-control" id="inputWarning"/>
  </div>
  <div class="form-group has-error">
    <label class="control-label" for="inputError">Input with error</label>
    <input type="text" class="form-control" id="inputError"/>
  </div>
  <!-- End Validation States -->

  <!-- Control Sizing -->
  <div class="headline"><h3>Control Sizing</h3></div>
  <h4>Control Sizing</h4>
  <p>Set heights using classes like <code>.input-lg</code>, and set widths using grid column classes like
    <code>.col-lg-*</code>.
  </p><br/>

  <!-- Height Sizing -->
  <input class="form-control input-lg" type="text" placeholder=".input-lg"/>
  <input class="form-control" type="text" placeholder="Default input"/>
  <input class="form-control input-sm" type="text" placeholder=".input-sm"/>

  <div class="margin-bottom-40"></div>

  <select class="form-control input-lg">
    <option>input-lg</option>
  </select>
  <select class="form-control">
    <option>form-control</option>
  </select>
  <select class="form-control input-sm">
    <option>input-sm</option>
  </select>
  <!-- Height Sizing -->

  <div class="margin-bottom-40"></div>

  <!-- Column Sizing -->
  <div class="row">
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder=".col-lg-3"/>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder=".col-lg-3"/>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder=".col-lg-3"/>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder=".col-lg-3"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder=".col-lg-4"/>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder=".col-lg-4"/>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder=".col-lg-4"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder=".col-lg-6"/>
    </div>
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder=".col-lg-6"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <input type="text" class="form-control" placeholder=".col-lg-12"/>
    </div>
  </div>
  <!-- End Column Sizing -->
  <!-- End Control Sizing -->
</div>
</body>
</html>
