<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Modals</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Modals</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Forms</li>
      <li class="active">Modals</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="tag-box tag-box-v3 tag-text-space margin-bottom-40">
    <!-- Bootstrap Modal -->
    <div class="margin-bottom-50">
      <div class="headline"><h2>Bootstrap Modals</h2></div>
      <p>The modal plugin toggles your hidden content on demand, via data attributes or JavaScript. It also adds
        <code>.modal-open</code> to the <code>&lt;body&gt;</code> to override default scrolling behavior and
        generates a <code>.modal-backdrop</code> to provide a click area for dismissing shown modals when clicking
        outside the modal. You can find more detailed information from the offecial Bootstrap website
        <a target="_blank"
           href="http://getbootstrap.com/javascript/#modals">http://getbootstrap.com/javascript/#modals</a>
      </p>

      <!-- Modal -->
      <button class="btn-u" data-toggle="modal" data-target="#myModal">Modal Sample</button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h4 id="myModalLabel1" class="modal-title">Modal Heading</h4>
            </div>
            <div class="modal-body">
              <h4>Text in a modal</h4>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

              <h4>Popover in a modal</h4>
              <p>This <a data-content="And here's some amazing content. It's very engaging. right?" title=""
                         class="btn-u btn-u-default" role="button" href="#"
                         data-original-title="A Title">button</a> should trigger a popover on click.</p>

              <h4>Tooltips in a modal</h4>
              <p><a title="" class="tooltip-test" href="#" data-original-title="Tooltip">This link</a> and <a
                  title="" class="tooltip-test" href="#" data-original-title="Tooltip">that link</a> should have
                tooltips on hover.</p>

              <hr/>

              <h4>Overflowing text to show scroll behavior</h4>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                augue laoreet rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
              <button class="btn-u" type="button">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!-- Large modal -->
      <button class="btn-u" data-toggle="modal" data-target=".bs-example-modal-lg">Large Modal</button>

      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h4 id="myLargeModalLabel2" class="modal-title">Large Modal</h4>
            </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec mattis odio. In hac
                habitasse platea dictumst. Vestibulum volutpat pretium porta. Cras mattis metus non ipsum
                porttitor pulvinar. Proin tempus erat ac neque gravida suscipit. Morbi faucibus turpis a turpis
                hendrerit sodales sed vel nisl. Praesent vitae magna luctus, blandit quam eu, semper mi.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Large modal -->

      <!-- Small modal -->
      <button class="btn-u" data-toggle="modal" data-target=".bs-example-modal-sm">Small Modal</button>

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h4 id="myLargeModalLabel3" class="modal-title">Sarge Modal</h4>
            </div>
            <div class="modal-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec mattis odio. In hac
                habitasse platea dictumst. Vestibulum volutpat pretium porta. Cras mattis metus non ipsum
                porttitor pulvinar. Proin tempus erat ac neque gravida suscipit. Morbi faucibus turpis a turpis
                hendrerit sodales sed vel nisl. Praesent vitae magna luctus, blandit quam eu, semper mi.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Small Modal -->
    </div>
    <!-- End Bootstrap Modal -->

    <!-- Bootstrap Modals With Forms -->
    <div class="margin-bottom-40">
      <h3 class="heading-sm">Bootstrap Modals With Forms</h3>
      <p>You are alos able to use Bootstrap Modals with forms. Here is an examples of Bootstrap Modal forms:</p>

      <button class="btn-u" data-toggle="modal" data-target="#responsive">Modal Form Sample</button>
      <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel4">Responsive Modal</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <h4>Some Input</h4>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                </div>
                <div class="col-md-6">
                  <h4>Some More Input</h4>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                  <p><input class="form-control" type="text"/></p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn-u btn-u-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Bootstrap Modals With Forms -->
  </div>
</div>
</body>
</html>
