<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Parallax Counters</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/titles.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/counters.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/parallax-counter-v3.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Parallax Counters</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">Counters</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="parallax-counter-v3 height-500">
  <div class="container">
    <h2 class="title-v2 title-light title-center">SOME FACTS AND SERVICES</h2>
    <p class="space-xlg-hor text-center color-light">If you are going to use a passage of Lorem Ipsum, you need to be
      sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
      Internet tend to repeat predefined chunks as necessary.</p>

    <div class="margin-bottom-40"></div>

    <div class="row">
      <div class="col-md-3 col-xs-6 md-margin-bottom-50">
        <div class="features">
          <span class="counter">5867</span>
          <span class="features-info">Customers</span>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 md-margin-bottom-50">
        <div class="features">
          <span class="counter">7169</span>
          <span class="features-info">Downloads</span>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="features">
          <span class="counter">3146</span>
          <span class="features-info">Awards</span>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="features">
          <span class="counter">9450</span>
          <span class="features-info">Projects</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
