.featured-blog h2 {
    font-size: 18px;
    margin: 0 0 25px;
    line-height: 25px;
    position: relative;
}

.featured-blog h2:after {
    left: 0;
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    bottom: -10px;
    position: absolute;
    background: #72c02c;
}

.featured-blog .featured-img {
    position: relative;
}

.featured-blog .featured-img:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.featured-blog .featured-img:hover:after {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.featured-blog .featured-img > img {
    width: 100%;
}

/*Team Hover Gradient*/
.featured-blog .featured-img i {
    top: 60%;
    left: 50%;
    z-index: 1;
    width: 100%;
    list-style: none;
    text-align: center;
    visibility: hidden;
    position: absolute;
    margin: -17.5px 0 0 -17.5px;
    transition: all 0.2s ease-in-out;
}

.featured-blog .featured-img:hover i {
    top: 50%;
    visibility: visible;
}

.featured-blog .featured-img i {
    color: #fff;
    width: 35px;
    height: 35px;
    padding: 11px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
}

.featured-blog .featured-img i:hover {
    color: #fff;
    background: #72c02c;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}