.interactive-slider-v1 {
    z-index: 1;
    padding: 130px 0;
    position: relative;
}

.interactive-slider-v1.img-v1 {
    /*background: url(../../img/bg/18.jpg) no-repeat;*/
    background-size: cover;
    background-position: center center;
}

.interactive-slider-v1.img-v2 {
    /*background: url(../../img/bg/19.jpg) no-repeat;*/
    background-size: cover;
    background-position: center center;
}

.interactive-slider-v1.img-v3 {
    /*background: url(../../img/bg/18.jpg) no-repeat;*/
    background-size: cover;
    background-position: center center;
}

.interactive-slider-v1:after {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.interactive-slider-v1 h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.interactive-slider-v1 p {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .interactive-slider-v1 h2 {
        font-size: 30px;
    }

    .interactive-slider-v1 p {
        font-size: 18px;
    }
}