.owl-btn {
    color: #777;
    cursor: pointer;
    font-size: 18px;
    padding: 2px 9px;
    text-align: center;
    background: #f5f5f5;
}

.owl-btn:hover {
    color: #fff;
    background: #72c02c;
}

.owl-pagination {
    text-align: center !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    filter: Alpha(Opacity=100); /*IE7 fix*/
}

.owl-theme .owl-controls .owl-page {
    zoom: 1;
    display: inline-block;
    *display: inline; /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    width: 12px;
    height: 12px;
    opacity: 0.3;
    display: block;
    margin: 5px 7px;
    background: #bbb;
    filter: Alpha(Opacity=50); /*IE7 fix*/
    border-radius: 50% !important;
}

/*Owl Clients
------------------------------------*/
.owl-clients img {
    width: 120px;
    height: auto;
}

.owl-clients .owl-pagination {
    display: none;
}

/* Owl Video
------------------------------------*/
.owl-video img {
    position: relative;
    text-align: center;
    margin: 0 auto 20px;
}

.owl-video img.video-play {
    top: 50%;
    left: 50%;
    margin-top: -52px;
    margin-left: -52px;
    position: absolute;
}

.owl-video .owl-controls .owl-page span {
    margin: 5px 3px;
}