<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Table Search</title>
  <link rel="stylesheet" th:href="@{/css/pages/search-v2.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/table-search.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Search Tables</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li><a href="">Page</a></li>
      <li class="active">Search Tables</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="search-v2">
  <div class="search-block">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <h2>Search again</h2>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search words with regular expressions ..."/>
          <span class="input-group-btn">
            <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-sm">
    <!-- Begin Table Search Panel v2 -->
    <div class="table-search-v2 panel panel-dark margin-bottom-50">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-globe"></i> Table Search Results</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>User Image</th>
            <th class="hidden-sm">About</th>
            <th>Status</th>
            <th>Contacts</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <img class="rounded-x" src="/images/user.jpg"/>
            </td>
            <td class="td-width">
              <h3><a href="#">Sed nec elit arcu</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada
                ante. Donec vel arcu.</p>
              <small class="hex">Joined February 28, 2014</small>
            </td>
            <td>
              <span class="label label-success">Success</span>
            </td>
            <td>
              <ul class="list-inline s-icons">
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook"
                     href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Dropbox" href="#">
                    <i class="fa fa-dropbox"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Linkedin"
                     href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <span><a href="#">info@example.com</a></span>
              <span><a href="#">www.htmlstream.com</a></span>
            </td>
            <td>
              <ul class="list-inline table-buttons">
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-print"></i></button>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <img class="rounded-x" src="/images/user.jpg"/>
            </td>
            <td>
              <h3><a href="#">Donec at aliquam est, a mattis mauris</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada
                ante. Donec vel arcu.</p>
              <small class="hex">Joined March 2, 2014</small>
            </td>
            <td>
              <span class="label label-info"> Pending</span>
            </td>
            <td>
              <ul class="list-inline s-icons">
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook"
                     href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Dropbox" href="#">
                    <i class="fa fa-dropbox"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Linkedin"
                     href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <span><a href="#">info@example.com</a></span>
              <span><a href="#">www.htmlstream.com</a></span>
            </td>
            <td>
              <ul class="list-inline table-buttons">
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-print"></i></button>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <img class="rounded-x" src="/images/user.jpg"/>
            </td>
            <td>
              <h3><a href="#">Pellentesque semper tempus vehicula</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada
                ante. Donec vel arcu.</p>
              <small class="hex">Joined March 3, 2014</small>
            </td>
            <td>
              <span class="label label-warning">Expiring</span>
            </td>
            <td>
              <ul class="list-inline s-icons">
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook"
                     href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Dropbox" href="#">
                    <i class="fa fa-dropbox"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Linkedin"
                     href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <span><a href="#">info@example.com</a></span>
              <span><a href="#">www.htmlstream.com</a></span>
            </td>
            <td>
              <ul class="list-inline table-buttons">
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-print"></i></button>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <img class="rounded-x" src="/images/user.jpg"/>
            </td>
            <td>
              <h3><a href="#">Alesuada fames ac turpis egestas</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada
                ante. Donec vel arcu.</p>
              <small class="hex">Joined March 4, 2014</small>
            </td>
            <td>
              <span class="label label-danger">Error!</span>
            </td>
            <td>
              <ul class="list-inline s-icons">
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook"
                     href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Dropbox" href="#">
                    <i class="fa fa-dropbox"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Linkedin"
                     href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <span><a href="#">info@example.com</a></span>
              <span><a href="#">www.htmlstream.com</a></span>
            </td>
            <td>
              <ul class="list-inline table-buttons">
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-print"></i></button>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <img class="rounded-x" src="/images/user.jpg"/>
            </td>
            <td>
              <h3><a href="#">Etiam bibendum orci ut ante sagittis, sit amet imperdiet augue vulputate</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id commodo lacus. Fusce non malesuada
                ante. Donec vel arcu.</p>
              <small class="hex">Joined March 5, 2014</small>
            </td>
            <td>
              <span class="label label-success">Success</span>
            </td>
            <td>
              <ul class="list-inline s-icons">
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook"
                     href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Dropbox" href="#">
                    <i class="fa fa-dropbox"></i>
                  </a>
                </li>
                <li>
                  <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Linkedin"
                     href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <span><a href="#">info@example.com</a></span>
              <span><a href="#">www.htmlstream.com</a></span>
            </td>
            <td>
              <ul class="list-inline table-buttons">
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-trash-o"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-edit"></i></button>
                </li>
                <li>
                  <button type="button" class="btn-u btn-u-sm btn-u-dark"><i class="fa fa-print"></i></button>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Table Search Panel v2 -->
  </div>
</div>
</body>
</html>
