<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Charts</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/pie-progress-charts.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Charts</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Charts</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="headline"><h2>Pie Charts</h2></div>
  <p>Please note, you should change settings from <code>circles-master.js</code> for changing the numbers of
    percentage. However, you are able use second version of pie charts for loop controling.</p><br/><br/>

  <div class="row pie-progress-charts margin-bottom-60">
    <div class="inner-pchart col-md-3">
      <div class="circle" id="circles-1"></div>
      <h3 class="circle-title">Consulting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
    <div class="inner-pchart col-md-3">
      <div class="circle" id="circles-2"></div>
      <h3 class="circle-title">Marketing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
    <div class="inner-pchart col-md-3">
      <div class="circle" id="circles-3"></div>
      <h3 class="circle-title">Branding</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
    <div class="inner-pchart col-md-3">
      <div class="circle" id="circles-4"></div>
      <h3 class="circle-title">Copywriting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
  </div>
</div>
</body>
</html>
