<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Funny Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/funny-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Funny Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">Funny Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="row">
    <div class="col-sm-6 sm-margin-bottom-40">
      <div class="funny-boxes funny-boxes-top-green">
        <div class="row">
          <div class="col-md-4 funny-boxes-img">
            <img class="img-responsive" src="/images/img_973x615.jpg"/>
            <ul class="list-unstyled">
              <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
              <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
            </ul>
          </div>
          <div class="col-md-8">
            <h2><a href="#">Praesentium Voluptatum</a></h2>
            <ul class="list-unstyled funny-boxes-rating">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>

            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="funny-boxes funny-boxes-top-sea">
        <div class="row">
          <div class="col-md-4 funny-boxes-img">
            <img class="img-responsive" src="/images/img_973x615.jpg"/>
            <ul class="list-unstyled">
              <li><i class="fa-fw fa fa-briefcase"></i> Dell, Google</li>
              <li><i class="fa-fw fa fa-map-marker"></i> New York, US</li>
            </ul>
          </div>
          <div class="col-md-8">
            <h2><a href="#">Oluptatum Box</a></h2>
            <ul class="list-unstyled funny-boxes-rating">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>

            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
