<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Carousel</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/owl-carousel/owl.carousel.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/owl-carousels.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headings.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/owl-carousel-custom.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Carousel</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Carousel</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="heading heading-v1 margin-bottom-40">
    <h2>Responsive Carousel</h2>
    <p><strong>OWL Carousel</strong> is touch enabled jQuery plugin that lets you create beautiful responsive
      carousel sliders. You can find more detailed information from the official plugin website
      <a target="_blank" href="http://owlgraphic.com/owlcarousel">http://owlgraphic.com/owlcarousel</a>
    </p>
  </div>

  <div class="owl-carousel-v2 owl-carousel-style margin-bottom-50">
    <h3 class="heading-md">Centered navigation with fixed width image</h3>
    <p>For centered navigation you should change class <code>.owl-carousel-v1</code> to
      <code>.owl-carousel-v2</code>. You should add an additional class <code>.owl-carousel-style</code> to
      make fixed width image style.</p><br/>

    <div class="owl-slider">
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
      <div class="item"><img class="img-responsive" src="/images/img_200x150.png"/></div>
    </div>

    <div class="owl-navigation">
      <div class="customNavigation">
        <a class="owl-btn prev"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next"><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
