<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Tabs</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Tabs</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Tabs</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="tab-v1">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#messages" data-toggle="tab">Messages</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <div class="row">
          <div class="col-md-4">
            <img class="img-responsive img-tab-space" src="/images/img_973x615.jpg"/>
          </div>
          <div class="col-md-8">
            <h4>Heading Sample 1</h4>
            <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac
              adipiscing nunc. Pellentesque fermentum <b>ivamus imperdiet</b> condimentum diam, eget
              placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque <b>fermentum
                vivamus</b> imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci
              metus, ac adipiscing nunc. Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci
              metusvivamus imperdiet.</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade in" id="profile">
        <img class="pull-left lft-img-margin img-width-200" src="/images/img_973x615.jpg"/>
        <h4>Heading Sample 2</h4>
        <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac
          adipiscing nunc. Pellentesque fermentum, ante ac interdum <b>ac adipiscing nunc.</b> Vivamus
          imperdiet condimentum diam, eget placerat felis consectetur id. Pellentesque fermentum, ante ac interdum
          id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac <b>interdum
            ullamcorper.</b></p>
      </div>
      <div class="tab-pane fade in" id="messages">
        <h4>Heading Sample 3</h4>

        <p><img class="pull-right rgt-img-margin img-width-200" src="/images/img_973x615.jpg"/> <b>Vivamus
          imperdiet condimentum diam, eget placerat felis consectetur id.</b> Donec eget orci metus, Vivamus
          imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing
          nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc.
          Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <b>Pellentesque
            fermentum</b>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc.
          Pellentesque fermentum, ante ac interdum ullamcorper.</p>
      </div>
      <div class="tab-pane fade in" id="settings">
        <h4>Heading Sample 4</h4>

        <p><img class="pull-right rgt-img-margin img-width-200" src="/images/img_973x615.jpg"/> Vivamus
          imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet
          condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc.
          Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc.
          Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <b>Pellentesque
            fermentum</b>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc.
          Pellentesque fermentum, ante ac interdum ullamcorper.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
