<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Tabs</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Tabs</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Tabs</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="row tab-v3">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#home-2" data-toggle="tab"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#profile-2" data-toggle="tab"><i class="fa fa-cloud"></i> Profile</a></li>
        <li><a href="#messages-2" data-toggle="tab"><i class="fa fa-comments"></i> Messages</a></li>
        <li><a href="#settings-2" data-toggle="tab"><i class="fa fa-gear"></i> Settings</a></li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home-2">
          <h4>Heading Sample 1</h4>
          <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac
            adipiscing nunc. Pellentesque fermentum <strong>ivamus imperdiet</strong> condimentum diam, eget
            placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc.</p>
          <p>Pellentesque <strong>fermentum vivamus</strong> imperdiet condimentum diam, eget placerat felis
            consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac felis
            consectetur id. Donec eget orci metusvivamus imperdiet.</p>
        </div>
        <div class="tab-pane fade in" id="profile-2">
          <img class="pull-left lft-img-margin img-width-200" src="/images/img_973x615.jpg"/>
          <h4>Heading Sample 2</h4>
          <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac
            adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, <strong>ac
              adipiscing nunc.</strong> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.
            Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget
            orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci
            metus, ac adipiscing nunc. Pellentesque fermentum, ante ac <strong>interdum ullamcorper.</strong></p>
        </div>
        <div class="tab-pane fade in" id="messages-2">
          <h4>Heading Sample 3</h4>
          <p><img class="pull-right rgt-img-margin img-width-200" src="/images/img_973x615.jpg"/> <strong>Vivamus
            imperdiet condimentum diam, eget placerat felis consectetur id.</strong> Donec eget orci metus,
            Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac
            adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac
            adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc.
            <strong>Pellentesque fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac
            adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
        </div>
        <div class="tab-pane fade in" id="settings-2">
          <img class="pull-left lft-img-margin img-width-200" src="/images/img_973x615.jpg"/>
          <h4>Heading Sample 4</h4>
          <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac
            adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, <strong>ac
              adipiscing nunc.</strong> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.
            Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget
            orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci
            metus, ac adipiscing nunc. Pellentesque fermentum, ante ac <strong>interdum ullamcorper.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
