.blog-post-quote {
    padding: 35px 60px;
    background: #fff;
    text-align: center;
}

.blog-post-quote p {
    color: #555;
    font-size: 32px;
    font-weight: 200;
    line-height: 45px;
    position: relative;
    margin-bottom: 20px;
    font-family: "Open Sans", Arial, sans-serif;
}

@media (max-width: 768px) {
    .blog-post-quote {
        padding: 35px 25px;
    }

    .blog-post-quote p {
        font-size: 26px;
        line-height: 35px;
    }
}

.blog-post-quote p:before,
.blog-post-quote p:after {
    top: -3px;
    font-size: 30px;
    position: relative;
}

.blog-post-quote p:before {
    left: -10px;
    content: "\0022";
}

.blog-post-quote p:after {
    right: -10px;
    content: "\0022";
}

.blog-post-quote span {
    color: #555;
    font-size: 20px;
    font-weight: 200;
}

body.dark .blog-post-quote {
    background: #333;
}

body.dark .blog-post-quote p {
    color: #ccc;
}

body.dark .blog-post-quote span {
    color: #999;
}