@import url(blog-trending.css);
@import url(blog-latest-posts.css);
@import url(blog-photos.css);
@import url(blog-photostream.css);
@import url(blog-newsletter.css);
@import url(blog-post-quote.css);
@import url(blog-author.css);
@import url(blog-comments.css);
@import url(blog-post-tags.css);
@import url(blog-magazine.css);
@import url(blog-masonry-3col.css);

/*Blog Large
------------------------------------*/
/*Blog Page*/
.blog h2 {
    color: #555;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 10px;
}

.blog h2 a {
    color: #585f69;
    line-height: 32px;
}

.blog h2 a:hover {
    color: #72c02c;
    text-decoration: none;
}

.blog h3 {
    color: #72c02c;
}

.blog li a:hover {
    color: #72c02c;
}

.blog .blog-img {
    margin: 20px 0;
}

.headline-md {
    margin-top: 9px;
}

/*Blog Item Page
------------------------------------*/
.blog-item .media img {
    top: 3px;
    width: 54px;
    height: 54px;
    position: relative;
}

.post-comment h3,
.blog-item .media h3 {
    color: #72c02c;
    font-size: 21px;
    margin-bottom: 25px;
}

.blog-item .media h4.media-heading {
    color: #555;
    font-size: 17px;
    position: relative;
}

.blog-item .media h4.media-heading span {
    top: 3px;
    right: 0;
    color: #777;
    font-size: 12px;
    position: absolute;
}

.blog-item .media h4.media-heading span a {
    color: #72c02c;
}

/*Blog Medium
------------------------------------*/
.blog-medium .blog-info li,
.blog-medium .blog-info li a {
    color: #777;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .blog-medium img {
        margin-bottom: 20px;
    }
}

/*Blog Full Width
------------------------------------*/
.blog-full-width .blog-post-tags {
    padding: 5px 0;
}

.blog-full-width ul.blog-info {
    margin-bottom: 0;
}

body.dark .blog h2 a {
    color: #ccc;
}

/*Posts*/
body.dark .posts .dl-horizontal a {
    color: #999;
}

/*Blog Info*/
body.dark .blog-info li i {
    color: #999;
}

/*Media*/
body.dark .blog-item .media h4.media-heading {
    color: #ccc;
}