.blog-author {
    padding: 20px;
    background: #fff;
}

.blog-author img {
    float: left;
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.blog-author .blog-author-desc {
    overflow: hidden;
}

.blog-author .blog-author-desc h4 {
    float: left;
    font-size: 18px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.blog-author .blog-author-desc ul {
    float: right;
    margin-top: 6px;
}

.blog-author .blog-author-desc p {
    color: #555;
}

body.dark .blog-author {
    background: #333;
}