/*Blog Tags*/
ul.blog-tags li {
    display: inline-block;
}

ul.blog-tags a {
    font-size: 13px;
    padding: 2px 7px;
    background: #f7f7f7;
    margin: 0 3px 6px 0;
    display: inline-block;
}

ul.blog-tags a i {
    color: #666;
}

ul.blog-tags a:hover {
    background: #72c02c;
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
    color: #fff !important;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

/*Blog Content Tags*/
.blog-post-tags {
    padding: 5px 0 8px;
    margin-bottom: 10px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.blog-post-tags ul {
    margin-bottom: 0;
}

.blog-post-tags li {
    font-size: 12px;
}

.blog-post-tags li i {
    color: #777;
}

.blog-post-tags ul.blog-info {
    color: #eee;
    margin-bottom: 3px;
}

.blog-post-tags ul.blog-tags a {
    color: #555;
    font-size: 11px;
    display: inline;
    padding: 3px 7px;
    margin-right: 2px;
    background: #f4f4f4;
}

.blog-post-tags ul.blog-tags a:hover {
    background: #72c02c;
}

/*Blog Tags & Posts*/
body.dark .blog-post-tags {
    border-top-color: #303030;
    border-bottom-color: #303030;
}

body.dark .blog-post-tags li i {
    color: #999;
}

body.dark ul.blog-tags a,
body.dark .blog-post-tags ul.blog-tags a {
    color: #999;
    background: #292929;
}

/*quick fix added in v1.9*/
body.dark ul.blog-tags a:hover,
body.dark .blog-post-tags ul.blog-tags a:hover {
    color: #fff;
    /*background: #72c02c;*/
}

body.dark ul.blog-tags a i {
    color: #999;
}