.blog-photostream {
    margin-right: -5px;
}

.blog-photostream li {
    padding: 0;
    margin: 3px 5px 5px;
    position: relative;
}

.blog-photostream li img {
    width: 78px;
    height: auto;
}