<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Badges</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/badge-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Badges with Links/Icons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Badges with Links/Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <!-- Badges With Links -->
  <ul class="list-inline badge-lists margin-bottom-30">
    <li>
      <a class="btn-u btn-u-xs btn-u-default" href="#">Info</a>
      <span class="badge badge-u">7</span>
    </li>
    <li>
      <a class="btn-u btn-u-xs btn-u-dark" href="#">Notifications</a>
      <span class="badge badge-u rounded-2x">9</span>
    </li>
    <li>
      <a class="btn-u btn-u-xs btn-u-default" href="#">Messages</a>
      <span class="badge badge-u rounded">12</span>
    </li>
    <li>
      <a class="btn-u btn-u-xs btn-u-dark rounded" href="#">Tasks</a>
      <span class="badge badge-u rounded-2x">12</span>
    </li>
  </ul>
  <!-- End Badges With Links -->

  <hr/>

  <!-- Badges With Icons -->
  <ul class="list-inline badge-lists badge-icons margin-bottom-30">
    <li>
      <a href="#"><i class="fa fa-envelope"></i></a>
      <span class="badge badge-u rounded-x">2</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-cog"></i></a>
      <span class="badge badge-u rounded">9</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-gift"></i></a>
      <span class="badge badge-u rounded-x">4</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-exclamation-triangle"></i></a>
      <span class="badge badge-u rounded">3</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-comments"></i></a>
      <span class="badge badge-u">3</span>
    </li>
  </ul>
  <!-- End Badges With Icons -->

  <hr/>

  <!-- Badges With Icons -->
  <ul class="list-inline badge-lists badge-box-v1 margin-bottom-30">
    <li>
      <a href="#"><i class="fa fa-envelope"></i></a>
      <span class="badge badge-u rounded-x">3</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-cog"></i></a>
      <span class="badge badge-u rounded">8</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-gift"></i></a>
      <span class="badge badge-u rounded-x">3</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-exclamation-triangle"></i></a>
      <span class="badge badge-u rounded">2</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-comments"></i></a>
      <span class="badge badge-u rounded-x">5</span>
    </li>
    <li>
      <a href="#"><i class="fa fa-code"></i></a>
      <span class="badge badge-u">7</span>
    </li>
  </ul>

  <hr/>

  <ul class="list-inline badge-lists badge-box-v2 margin-bottom-30">
    <li>
      <a href="#"><i class="fa fa-envelope"></i>Inbox</a>
      <span class="badge badge-u rounded-x">3</span>
    </li>
    <li>
      <a class="rounded" href="#"><i class="fa fa-cog"></i>Settings</a>
      <span class="badge badge-u">7</span>
    </li>
    <li>
      <a class="rounded-2x" href="#"><i class="fa fa-gift"></i>Bounces</a>
      <span class="badge badge-u rounded-x">5</span>
    </li>
    <li>
      <a class="rounded-3x" href="#"><i class="fa fa-exclamation-triangle"></i>Alerts</a>
      <span class="badge badge-u rounded">2</span>
    </li>
  </ul>
  <!-- End Badges With Icons -->
</div>
</body>
</html>
