<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Badges</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/badge-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Badges</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Badges</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="margin-bottom-35">
    <p>Default Badges: Easily highlight new or unread items by adding a <code>&lt;span class="badge
      badge-*"&gt;</code>
      to links, Bootstrap navs, and more.</p>
    <span class="badge badge-u">1</span>
    <span class="badge badge-u">2</span>
    <span class="badge badge-u">3</span>
    <span class="badge badge-u">4</span>
    <span class="badge badge-u">5</span>
    <span class="badge badge-u">6</span>
    <span class="badge badge-u">7</span>
    <span class="badge badge-u">8</span>
    <span class="badge badge-u">9</span>
    <span class="badge badge-u">10</span>
    <span class="badge badge-u">11</span>
    <span class="badge badge-u">12</span>
    <span class="badge badge-u">13</span>
    <span class="badge badge-u">14</span>
  </div>
  <hr/>
  <div class="margin-bottom-35">
    <p>Rounded Corner Badges: You should add an extra class <code>.rounded</code> into <code>
      &lt;span&gt;</code> tag to do cornerd badges.</p>
    <span class="badge rounded badge-u">1</span>
    <span class="badge rounded badge-u">2</span>
    <span class="badge rounded badge-u">3</span>
    <span class="badge rounded badge-u">4</span>
    <span class="badge rounded badge-u">5</span>
    <span class="badge rounded badge-u">6</span>
    <span class="badge rounded badge-u">7</span>
    <span class="badge rounded badge-u">8</span>
    <span class="badge rounded badge-u">9</span>
    <span class="badge rounded badge-u">10</span>
    <span class="badge rounded badge-u">11</span>
    <span class="badge rounded badge-u">12</span>
  </div>
  <hr/>
  <div class="margin-bottom-35">
    <p>Rounded Corner Badges: You should add an extra class <code>.rounded-2x</code> into <code>
      &lt;span&gt;</code> tag to do circle badges.</p>
    <span class="badge rounded-2x badge-u">1</span>
    <span class="badge rounded-2x badge-u">2</span>
    <span class="badge rounded-2x badge-u">3</span>
    <span class="badge rounded-2x badge-u">4</span>
    <span class="badge rounded-2x badge-u">5</span>
    <span class="badge rounded-2x badge-u">6</span>
    <span class="badge rounded-2x badge-u">7</span>
    <span class="badge rounded-2x badge-u">8</span>
    <span class="badge rounded-2x badge-u">9</span>
    <span class="badge rounded-2x badge-u">10</span>
    <span class="badge rounded-2x badge-u">11</span>
    <span class="badge rounded-2x badge-u">12</span>
  </div>
</div>
</body>
</html>
