<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Our Services 2</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/owl-carousel/owl.carousel.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/service-blocks.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/processes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/lists.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/testimonials.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/parallax-counter-v3.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Services</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">Services</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!--=== Service Block v6 ===-->
  <div class="container content-sm">
    <div class="row service-block-v6">
      <div class="col-md-4 md-margin-bottom-50">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-bulb"></i>
        <div class="service-desc">
          <h2>Creative Ideas</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-50">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-energy"></i>
        <div class="service-desc">
          <h2>Excellent Features</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <i class="icon-custom rounded-x icon-color-u icon-line icon-screen-tablet"></i>
        <div class="service-desc">
          <h2>Fully Responsive</h2>
          <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div><!--/end row-->
  </div>
  <!--=== End Service Block v6 ===-->

  <!--=== Process v1 ===-->
  <div class="process-v1 bg-color-light">
    <div class="container content-sm">
      <div class="headline-center margin-bottom-60">
        <h2>OUR PROCESS</h2>
        <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br/> Lorem ipsum <strong>dolor</strong> sit amet,
          consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
      </div>
      <ul class="list-inline row process-in process-border">
        <li class="col-sm-3 sm-margin-bottom-50">
          <div class="process-icon">
            <i class="rounded-x dot-active"></i>
          </div>
          <div class="process-desc">
            <h3>Concept</h3>
            <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.</p>
          </div>
        </li>
        <li class="col-sm-3 sm-margin-bottom-50">
          <div class="process-icon">
            <i class="rounded-x dot-active"></i>
          </div>
          <div class="process-desc">
            <h3>Design</h3>
            <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.</p>
          </div>
        </li>
        <li class="col-sm-3 sm-margin-bottom-50">
          <div class="process-icon">
            <i class="rounded-x dot-active"></i>
          </div>
          <div class="process-desc">
            <h3>Coding</h3>
            <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.</p>
          </div>
        </li>
        <li class="col-sm-3">
          <div class="process-icon">
            <i class="rounded-x dot-active"></i>
          </div>
          <div class="process-desc">
            <h3>Launch</h3>
            <p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.</p>
          </div>
        </li>
      </ul>
    </div><!--/end container-->
  </div>
  <!--=== End Process v1 ===-->

  <!--=== Container Part ===-->
  <div class="container content-sm">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-50">
        <!--<img class="img-responsive" src="/images/bg/bg_1920x1280.jpg"/>-->
      </div>
      <div class="col-md-6">
        <br/><br/><br/>
        <div class="headline-left margin-bottom-30">
          <h2 class="headline-brd">WE ARE YQBoots AGENCY</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form.</p>
        </div>
        <ul class="list-unstyled lists-v2 margin-bottom-30">
          <li><i class="fa fa-check"></i> Suspendisse eget augue non dolor ultrices</li>
          <li><i class="fa fa-check"></i> Donec eget aliquet tortor, quis lacinia dolor</li>
          <li><i class="fa fa-check"></i> Curabitur ut augue at mi eleifend lobortis</li>
          <li><i class="fa fa-check"></i> Donec eget aliquet tortor, quis lacinia dolor</li>
        </ul>
        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark margin-right-10">Learn More</a>
        <a href="#" class="btn-u">Visit Our Work</a>
      </div><!--/end row-->
    </div>
  </div>
  <!--=== End Container Part ===-->

  <!--=== Container Part ===-->
  <div class="service-block-v6 bg-color-light">
    <div class="container content-sm">
      <div class="row">
        <div class="col-md-8">
          <div class="headline-left margin-bottom-30">
            <h2 class="headline-brd">OUR MAIN SERVICES</h2>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-sm icon-bg-u icon-bell"></i>
                <div class="service-desc">
                  <h2>Free updates</h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
              </div>
              <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-sm icon-bg-u icon-like"></i>
                <div class="service-desc">
                  <h2>Premium Sliders</h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
              </div>
              <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-sm icon-bg-u icon-bubbles"></i>
                <div class="service-desc">
                  <h2>Dedicated Support</h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-sm icon-bg-u icon-drawer"></i>
                <div class="service-desc">
                  <h2>1000+ Icons</h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
              </div>
              <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-sm icon-bg-u icon-screen-tablet"></i>
                <div class="service-desc">
                  <h2>Fully Responsive</h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
              </div>
              <div class="margin-bottom-30">
                <i class="icon-custom rounded-x icon-sm icon-bg-u icon-directions"></i>
                <div class="service-desc">
                  <h2>SEO Ready</h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img class="img-responsive img-center" src="/images/bg/bg_1920x1280.jpg" width="300"/>
        </div>
      </div><!--/end row-->
    </div><!--/end container-->
  </div>
  <!--=== End Container Part ===-->

  <!--=== Parallax Counter v3 ===-->
  <div class="parallax-counter-v3 parallaxBg1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6 md-margin-bottom-50">
          <div class="features">
            <span class="counter">5867</span>
            <span class="features-info">Customers</span>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 md-margin-bottom-50">
          <div class="features">
            <span class="counter">7169</span>
            <span class="features-info">Downloads</span>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="features">
            <span class="counter">3146</span>
            <span class="features-info">Awards</span>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="features">
            <span class="counter">9450</span>
            <span class="features-info">Projects</span>
          </div>
        </div>
      </div>
    </div><!--/end container-->
  </div>
  <!--=== End Parallax Counter v3 ===-->

  <!--=== Testimonials v3 ===-->
  <div class="container testimonials-v3 content-sm">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
          <li class="item">
            <img class="rounded-x img-bordered" src="/images/user.jpg"/>
            <div class="testimonials-v3-title">
              <p>David Case</p>
              <span>Web Developer, Google</span>
            </div>
            <p>I just wanted to tell you how much I like to use YQBoots - <strong>it's so sleek and elegant!</strong>
              <br/>
              The customisation options you implemented are countless, and I feel sorry I can't use them all. Good job,
              and keep going!
            </p>
          </li>
          <li class="item">
            <img class="rounded-x img-bordered" src="/images/user.jpg"/>
            <div class="testimonials-v3-title">
              <p>Tina Krueger</p>
              <span>UI Designer, Apple</span>
            </div>
            <p>Keep up the great work. Your template is by far the best on the market in terms of features, quality and
              value or money.</p>
          </li>
          <li class="item">
            <img class="rounded-x img-bordered" src="/images/user.jpg"/>
            <div class="testimonials-v3-title">
              <p>John Clarck</p>
              <span>Marketing &amp; Consulting, IBM</span>
            </div>
            <p>So far I really like the theme. I am looking forward to exploring more of your themes. Thank you!</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--=== End Testimonials v3 ===-->

  <!--=== Owl Clients v1 ===-->
  <div class="bg-color-light">
    <div class="container content-sm">
      <div class="owl-clients">
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
        <div class="item"><img src="/images/img_200x150.png"/></div>
      </div>
    </div>
  </div>
  <!--=== End Owl Clients v1 ===-->
</div>
</body>
</html>
