<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Gallery (SIX COLUMNS)</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/fancybox/fancybox.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/titles.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Gallery (SIX COLUMNS)</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">Gallery</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">SIX COLUMNS</h2>
    <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you
      need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
      on the Internet tend to repeat predefined chunks as necessary, making <span
          class="color-green">this the first</span> true generator on the Internet.</p>
  </div>

  <div class="row  margin-bottom-30">
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 1">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 2">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 3">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 4">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 5">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 6">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
  </div>

  <div class="row margin-bottom-30">
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 7">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 8">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 9">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 10">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 11">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 12">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
  </div>

  <div class="row margin-bottom-30">
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 13">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 14">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 15">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 16">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 17">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 18">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 19">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 20">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 21">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 22">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 23">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
    <div class="col-sm-2 sm-margin-bottom-30">
      <a href="/images/img_973x615.jpg" rel="gallery3" class="fancybox" title="Image 24">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </div>
  </div>
</div>
</body>
</html>
