<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">YuQi</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content="YuQi Projects" name="description"/>
  <meta content="Eric H B Zhan" name="author"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <!-- Favicon -->
  <link rel="shortcut icon" th:href="@{/favicon.ico}"/>

  <link rel="stylesheet" th:href="@{/theme/application.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/theme-colors/green.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/theme-skins/dark.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headlines.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tags.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/carousels.css}"/>
  <link rel="stylesheet" th:href="@{/css/blogs/blog.css}"/>
</head>
<body class="dark">
<div class="wrapper">
  <header th:replace="layouts/header :: header">&nbsp;</header>
  <div layout:fragment="breadcrumbs" class="breadcrumbs"></div>

  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div th:replace="showcase/blogs/layouts/sidebar :: sidebar">
          <p>TODO: sidebar</p>
        </div>
      </div>
      <div class="col-md-9">
        <div layout:fragment="content">
          <p>TODO: content</p>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="layouts/footer :: footer">&nbsp;</footer>
</div>

<script th:src="@{/dojo/dojo/dojo.js}" data-dojo-config="async: true"></script>
<script th:src="@{/dojo/jquery.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  require(['baf/main', 'jquery', 'jquery/migrate', 'bootstrap', 'dojo/domReady!'],
      function (app) {
          app.startup([[${execInfo.templateName}]], [[${#ctx.locale}]]);
      });
  /*]]>*/
</script>
</body>
</html>