<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="sidebar">
  <div class="headline-v2"><h2>Trending</h2></div>
  <!-- Trending -->
  <ul class="list-unstyled blog-trending margin-bottom-50">
    <li>
      <h3><a href="#">Praesent tincidunt ornare tortor</a></h3>
      <small>23 Jan, 2015 / <a href="#">Art,</a> <a href="#">Lifestyles</a></small>
    </li>
    <li>
      <h3><a href="#">Nunc leo leo, faucibus non gravida</a></h3>
      <small>22 Jan, 2015 / <a href="#">Marketing</a></small>
    </li>
    <li>
      <h3><a href="#">Proin dapibus ornare magna.</a></h3>
      <small>19 Jan, 2015 / <a href="#">Hi-Tech,</a> <a href="#">Technology</a></small>
    </li>
    <li>
      <h3><a href="#">Fusce at diam ante.</a></h3>
      <small>17 Jan, 2015 / <a href="#">Artificial Intelligence</a></small>
    </li>
    <li>
      <h3><a href="#">Donec quis consequat magna...</a></h3>
      <small>5 Jan, 2015 / <a href="#">Web,</a> <a href="#">Webdesign</a></small>
    </li>
  </ul>
  <!-- End Trending -->

  <div class="headline-v2"><h2>Latest Posts</h2></div>
  <!-- Latest Links -->
  <ul class="list-unstyled blog-latest-posts margin-bottom-50">
    <li>
      <h3><a href="#">Wireframe for the news view...</a></h3>
      <small>5 Jan, 2015 / <a href="#">Web,</a> <a href="#">Webdesign</a></small>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio leo.</p>
    </li>
    <li>
      <h3><a href="#">It is a long established fact that a reader</a></h3>
      <small>17 Jan, 2015 / <a href="#">Artificial Intelligence</a></small>
      <p>Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
    </li>
    <li>
      <h3><a href="#">The point of using Lorem Ipsum</a></h3>
      <small>19 Jan, 2015 / <a href="#">Hi-Tech,</a> <a href="#">Technology</a></small>
      <p>Phasellus ullamcorper pellentesque ex. Cras venenatis elit orci, vitae dictum elit egestas a. Nunc nec auctor
        mauris, semper scelerisque nibh.</p>
    </li>
    <li>
      <h3><a href="#">Many desktop publishing packages...</a></h3>
      <small>23 Jan, 2015 / <a href="#">Art,</a> <a href="#">Lifestyles</a></small>
      <p>Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.</p>
    </li>
  </ul>
  <!-- End Latest Links -->

  <div class="headline-v2"><h2>Tags</h2></div>
  <!-- Tags v2 -->
  <ul class="list-inline tags-v2 margin-bottom-50">
    <li><a href="#">Web Design</a></li>
    <li><a href="#">Economy</a></li>
    <li><a href="#">Sport</a></li>
    <li><a href="#">Marketing</a></li>
    <li><a href="#">Books</a></li>
    <li><a href="#">Elections</a></li>
    <li><a href="#">Flickr</a></li>
    <li><a href="#">Politics</a></li>
    <li><a href="#">Marketing</a></li>
    <li><a href="#">Web Hosting</a></li>
    <li><a href="#">Wrapbootstrap</a></li>
    <li><a href="#">Art</a></li>
  </ul>
  <!-- End Tags v2 -->

  <div class="headline-v2"><h2>Photostream</h2></div>
  <!-- Photostream -->
  <ul class="list-inline blog-photostream margin-bottom-50">
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 1">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 2">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 3">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 4">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 5">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 6">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 7">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 8">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
    <li>
      <a href="/images/img_973x615.jpg" rel="gallery" class="fancybox img-hover-v2" title="Image 9">
        <span><img class="img-responsive" src="/images/img_973x615.jpg"/></span>
      </a>
    </li>
  </ul>
  <!-- End Photostream -->

  <div class="headline-v2"><h2>Newsletter</h2></div>
  <!-- Blog Newsletter -->
  <div class="blog-newsletter">
    <p>Subscribe to our newsletter for good news, sent out every month.</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email"/>
      <span class="input-group-btn">
        <button class="btn-u" type="button">Subscribe</button>
      </span>
    </div>
  </div>
  <!-- End Blog Newsletter -->
</div>
</body>
</html>