<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Paginations</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Paginations</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Paginations</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="row">
    <!--Pagination Left-->
    <div class="col-md-6">
      <div class="tag-box tag-box-v1 text-justify">
        <h2>Pagination Left</h2>
        <p>At nissimos ducimus voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
          occaecati cupiditate non provident...</p>
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!--End Pagination Left-->

    <!--Pagination Right-->
    <div class="col-md-6">
      <div class="tag-box tag-box-v1 text-justify">
        <h2>Pagination Right</h2>
        <p>At nissimos ducimus voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
          occaecati cupiditate non provident...</p>
        <div class="text-right">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--End Pagination Right-->
  </div>

  <!--Pagination Centered-->
  <div class="tag-box tag-box-v7 text-justify">
    <h2>Pagination Centered</h2>
    <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est blanditiis
      ducimus qui blanditiis praesentium praesentium..</p>
    <div class="text-center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <!--End Pagination Centered-->

  <!--Pagination Sizing-->
  <div class="alert alert-warning">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <b>Pagination Sizing</b> Fancy larger or smaller pagination?<br/>
    Add <code>.pagination-lg</code> or <code>.pagination-sm</code> for additional sizes.
  </div>
  <div class="row pagination-no-space margin-bottom-40">
    <div class="col-md-4">
      <ul class="pagination pagination-lg">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="pagination pagination-sm">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <!--End Pagination Sizing-->
</div>
</body>
</html>
