<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>3 Columns</title>
  <link rel="stylesheet" th:href="@{/css/blocks/portfolio-v1.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">3 Columns</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Portfolio</li>
      <li class="active">3 Columns</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-sm height-500">
  <div class="row">
    <div class="col-md-4">
      <div class="view view-tenth">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <div class="mask">
          <h2>Portfolio Item</h2>

          <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident.</p>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="view view-tenth">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <div class="mask">
          <h2>Portfolio Item</h2>

          <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident.</p>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="view view-tenth">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <div class="mask">
          <h2>Portfolio Item</h2>

          <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident.</p>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="view view-tenth no-margin-bottom">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <div class="mask">
          <h2>Portfolio Item</h2>

          <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident.</p>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="view view-tenth no-margin-bottom">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <div class="mask">
          <h2>Portfolio Item</h2>

          <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident.</p>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="view view-tenth no-margin-bottom">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <div class="mask">
          <h2>Portfolio Item</h2>

          <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident.</p>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
