<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Text Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/owl-carousel/owl.carousel.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/portfolio-v2.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/owl-carousel-custom.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Text Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Portfolio</li>
      <li class="active">Text Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="sorting-block">
    <div class="content-xs">
      <ul class="sorting-nav sorting-nav-v1 text-center">
        <li class="filter" data-filter="all">All</li>
        <li class="filter" data-filter="category_1">UI Design</li>
        <li class="filter" data-filter="category_2">Wordpress</li>
        <li class="filter" data-filter="category_3">HTML5/CSS3</li>
        <li class="filter" data-filter="category_4">Bootstrap 3</li>
      </ul>
    </div>

    <ul class="row sorting-grid">
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_1" data-cat="3">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1" data-cat="2">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_4" data-cat="3">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1 category_4" data-cat="2">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_4" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_3  category_4" data-cat="2">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_2 category_3" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_4 category_2" data-cat="1">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_2" data-cat="3">
        <a href="#">
          <img class="img-responsive" src="/images/img_973x615.jpg"/>
          <span class="sorting-cover">
            <span>Happy New Year</span>
            <p>Anim pariatur cliche reprehenderit</p>
          </span>
        </a>
      </li>
    </ul>

    <div class="clearfix"></div>
  </div>
</div>
</body>
</html>
