<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Icons</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">General Icons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Icons</li>
      <li class="active">General Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="tag-box tag-box-v3 margin-bottom-40">
    <h3 class="heading-md">Default and Rounded Samples</h3>
    <p>You can control circle and rounded icons with <code>.rounded</code>, <code>.rounded-2x</code> and <code>.rounded-x</code>
      classes.</p><br/>

    <div class="row margin-bottom-20">
      <div class="col-md-3">
        <i class="icon-custom rounded-x icon-color-grey fa fa-thumbs-up"></i>
        <i class="icon-custom rounded-x icon-bg-grey fa fa-thumbs-up"></i>
      </div>
      <div class="col-md-3">
        <i class="icon-custom rounded-2x fa fa-thumbs-up"></i>
        <i class="icon-custom rounded-2x icon-bg-dark fa fa-thumbs-up"></i>
      </div>
      <div class="col-md-3">
        <i class="icon-custom rounded icon-color-grey fa fa-thumbs-up"></i>
        <i class="icon-custom rounded icon-bg-grey fa fa-thumbs-up"></i>
      </div>
      <div class="col-md-3">
        <i class="icon-custom fa fa-thumbs-up"></i>
        <i class="icon-custom icon-bg-dark fa fa-thumbs-up"></i>
      </div>
    </div>
    <!-- End Icon Styles -->

    <div class="clearfix"></div>
    <hr/>

    <!-- Icon Sizes -->
    <h3 class=" heading-md
    ">Icon Sizes</h3>
    <p>Now, you can control icons sizes very easily with predefined classes such as <code>.icon-lg</code>
      and <code>.icon-sm</code></p><br/>

    <div class="row margin-bottom-20">
      <div class="col-md-3">
        <i class="icon-custom icon-lg rounded-x icon-color-u icon-line icon-rocket"></i>
        <i class="icon-custom rounded-x icon-color-u icon-line icon-like"></i>
        <i class="icon-custom icon-sm rounded-x icon-color-u icon-line icon-printer"></i>

        <div class="clearfix"></div>

        <i class="icon-custom icon-lg rounded-x icon-bg-u icon-line icon-rocket"></i>
        <i class="icon-custom rounded-x icon-bg-u icon-line icon-like"></i>
        <i class="icon-custom icon-sm rounded-x icon-bg-u icon-line icon-printer"></i>
      </div>

      <div class="col-md-3">
        <i class="icon-custom icon-lg rounded-2x icon-color-u fa fa-lightbulb-o"></i>
        <i class="icon-custom rounded-2x icon-color-u fa fa-trash-o"></i>
        <i class="icon-custom icon-sm rounded-2x icon-color-u fa fa-thumbs-o-up"></i>

        <div class="clearfix"></div>

        <i class="icon-custom icon-lg rounded-2x icon-bg-u fa fa-lightbulb-o"></i>
        <i class="icon-custom rounded-2x icon-bg-u fa fa-trash-o"></i>
        <i class="icon-custom icon-sm rounded-2x icon-bg-u fa fa-thumbs-o-up"></i>
      </div>

      <div class="col-md-3">
        <i class="icon-custom icon-lg rounded icon-color-u icon-line icon-fire"></i>
        <i class="icon-custom rounded icon-color-u icon-line icon-diamond"></i>
        <i class="icon-custom icon-sm rounded icon-color-u icon-line icon-trophy"></i>

        <div class="clearfix"></div>

        <i class="icon-custom icon-lg rounded icon-bg-u icon-line icon-fire"></i>
        <i class="icon-custom rounded icon-bg-u icon-line icon-diamond"></i>
        <i class="icon-custom icon-sm rounded icon-bg-u icon-line icon-trophy"></i>
      </div>

      <div class="col-md-3">
        <i class="icon-custom icon-lg icon-color-u fa fa-microphone"></i>
        <i class="icon-custom icon-color-u fa fa-bell-o"></i>
        <i class="icon-custom icon-sm icon-color-u fa fa-pencil"></i>

        <div class="clearfix"></div>

        <i class="icon-custom icon-lg icon-bg-u fa fa-microphone"></i>
        <i class="icon-custom icon-bg-u fa fa-bell-o"></i>
        <i class="icon-custom icon-sm icon-bg-u fa fa-pencil"></i>
      </div>
    </div>
    <!-- End Icon Sizes -->

    <div class="clearfix"></div>
    <hr/>

    <!-- Mixed Icon Styles -->
    <h3 class="heading-md">Mixed Icons Color</h3>
    <p>You are able to use more than 10 predefined icon color styeles and you can also make your icon stlyes.
      Moreover, you can creat unlimeted block styles using Icon Styles. Here are some more <strong><a
          href="shortcode_box_general.html">awesome examples</a></strong>.</p><br/>

    <div class="row margin-bottom-20">
      <div class="col-md-6">
        <i class="icon-custom icon-lg rounded-x icon-color-orange icon-line icon-camera"></i>
        <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line icon-share"></i>
        <i class="icon-custom icon-lg rounded-x icon-color-yellow icon-line icon-settings"></i>
        <i class="icon-custom icon-lg rounded-x icon-color-sea icon-line icon-badge"></i>
        <i class="icon-custom icon-lg rounded-x icon-color-green icon-line icon-volume-2"></i>

        <div class="margin-bottom-10"></div>

        <i class="icon-custom icon-lg rounded-x icon-bg-red icon-line icon-chemistry"></i>
        <i class="icon-custom icon-lg rounded-x icon-bg-grey icon-line icon-screen-tablet"></i>
        <i class="icon-custom icon-lg rounded-x icon-bg-u icon-line icon-present"></i>
        <i class="icon-custom icon-lg rounded-x icon-bg-dark icon-line icon-trophy"></i>
        <i class="icon-custom icon-lg rounded-x icon-bg-dark-blue icon-line icon-users"></i>
      </div>
      <div class="col-md-6">
        <i class="icon-custom icon-lg icon-bg-purple fa fa-thumbs-up"></i>
        <i class="icon-custom icon-lg icon-bg-blue fa fa-cloud"></i>
        <i class="icon-custom icon-lg icon-bg-brown fa fa-chain-broken"></i>
        <i class="icon-custom icon-lg icon-bg-light-green fa fa-spinner"></i>
        <i class="icon-custom icon-lg icon-bg-yellow fa fa-hdd-o"></i>

        <div class="margin-bottom-10"></div>

        <i class="icon-custom icon-lg icon-color-u fa fa-cog"></i>
        <i class="icon-custom icon-lg icon-color-red fa fa-tasks"></i>
        <i class="icon-custom icon-lg icon-color-dark fa fa-exclamation-triangle"></i>
        <i class="icon-custom icon-lg icon-color-purple fa fa-tint"></i>
        <i class="icon-custom icon-lg icon-color-grey fa fa-files-o"></i>
      </div>
    </div>
    <!-- End Mixed Icon Styles -->
  </div>
</div>
</body>
</html>
