<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Christmas Icons</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/line-icons-pro/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/pages/line-icon-page.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Christmas Icons </h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Icons</li>
      <li class="active">Christmas Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="alert alert-info fade in margin-bottom-20">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Icons Christmas</strong> includes 100 simple icons and now embedded in a webfont for more convenient
    use on the web or in a native application. You can use simply any following classes and control their sizes
    with font-size color ect...
  </div>

  <section class="line-icon-page margin-bottom-40">
		<span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-001"></span>
				&nbsp;icon-christmas-001
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-002"></span>
				&nbsp;icon-christmas-002
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-003"></span>
				&nbsp;icon-christmas-003
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-004"></span>
				&nbsp;icon-christmas-004
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-005"></span>
				&nbsp;icon-christmas-005
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-006"></span>
				&nbsp;icon-christmas-006
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-007"></span>
				&nbsp;icon-christmas-007
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-008"></span>
				&nbsp;icon-christmas-008
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-009"></span>
				&nbsp;icon-christmas-009
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-010"></span>
				&nbsp;icon-christmas-010
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-011"></span>
				&nbsp;icon-christmas-011
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-012"></span>
				&nbsp;icon-christmas-012
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-013"></span>
				&nbsp;icon-christmas-013
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-014"></span>
				&nbsp;icon-christmas-014
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-015"></span>
				&nbsp;icon-christmas-015
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-016"></span>
				&nbsp;icon-christmas-016
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-017"></span>
				&nbsp;icon-christmas-017
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-018"></span>
				&nbsp;icon-christmas-018
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-019"></span>
				&nbsp;icon-christmas-019
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-020"></span>
				&nbsp;icon-christmas-020
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-021"></span>
				&nbsp;icon-christmas-021
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-022"></span>
				&nbsp;icon-christmas-022
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-023"></span>
				&nbsp;icon-christmas-023
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-024"></span>
				&nbsp;icon-christmas-024
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-025"></span>
				&nbsp;icon-christmas-025
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-026"></span>
				&nbsp;icon-christmas-026
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-027"></span>
				&nbsp;icon-christmas-027
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-028"></span>
				&nbsp;icon-christmas-028
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-029"></span>
				&nbsp;icon-christmas-029
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-030"></span>
				&nbsp;icon-christmas-030
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-031"></span>
				&nbsp;icon-christmas-031
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-032"></span>
				&nbsp;icon-christmas-032
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-033"></span>
				&nbsp;icon-christmas-033
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-034"></span>
				&nbsp;icon-christmas-034
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-035"></span>
				&nbsp;icon-christmas-035
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-036"></span>
				&nbsp;icon-christmas-036
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-037"></span>
				&nbsp;icon-christmas-037
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-038"></span>
				&nbsp;icon-christmas-038
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-039"></span>
				&nbsp;icon-christmas-039
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-040"></span>
				&nbsp;icon-christmas-040
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-041"></span>
				&nbsp;icon-christmas-041
			</span>
		</span>

    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-042"></span>
				&nbsp;icon-christmas-042
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-043"></span>
				&nbsp;icon-christmas-043
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-044"></span>
				&nbsp;icon-christmas-044
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-045"></span>
				&nbsp;icon-christmas-045
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-046"></span>
				&nbsp;icon-christmas-046
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-047"></span>
				&nbsp;icon-christmas-047
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-048"></span>
				&nbsp;icon-christmas-048
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-049"></span>
				&nbsp;icon-christmas-049
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-050"></span>
				&nbsp;icon-christmas-050
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-051"></span>
				&nbsp;icon-christmas-051
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-052"></span>
				&nbsp;icon-christmas-052
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-053"></span>
				&nbsp;icon-christmas-053
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-054"></span>
				&nbsp;icon-christmas-054
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-055"></span>
				&nbsp;icon-christmas-055
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-056"></span>
				&nbsp;icon-christmas-056
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-057"></span>
				&nbsp;icon-christmas-057
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-058"></span>
				&nbsp;icon-christmas-058
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-059"></span>
				&nbsp;icon-christmas-059
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-060"></span>
				&nbsp;icon-christmas-060
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-061"></span>
				&nbsp;icon-christmas-061
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-062"></span>
				&nbsp;icon-christmas-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-063"></span>
				&nbsp;icon-christmas-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-064"></span>
				&nbsp;icon-christmas-064
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-065"></span>
				&nbsp;icon-christmas-065
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-066"></span>
				&nbsp;icon-christmas-066
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-067"></span>
				&nbsp;icon-christmas-067
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-068"></span>
				&nbsp;icon-christmas-068
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-069"></span>
				&nbsp;icon-christmas-069
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-070"></span>
				&nbsp;icon-christmas-070
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-071"></span>
				&nbsp;icon-christmas-071
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-072"></span>
				&nbsp;icon-christmas-072
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-073"></span>
				&nbsp;icon-christmas-073
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-074"></span>
				&nbsp;icon-christmas-074
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-075"></span>
				&nbsp;icon-christmas-075
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-076"></span>
				&nbsp;icon-christmas-076
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-077"></span>
				&nbsp;icon-christmas-077
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-078"></span>
				&nbsp;icon-christmas-078
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-079"></span>
				&nbsp;icon-christmas-079
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-080"></span>
				&nbsp;icon-christmas-080
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-081"></span>
				&nbsp;icon-christmas-081
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-082"></span>
				&nbsp;icon-christmas-082
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-083"></span>
				&nbsp;icon-christmas-083
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-084"></span>
				&nbsp;icon-christmas-084
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-085"></span>
				&nbsp;icon-christmas-085
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-086"></span>
				&nbsp;icon-christmas-086
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-087"></span>
				&nbsp;icon-christmas-087
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-088"></span>
				&nbsp;icon-christmas-088
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-089"></span>
				&nbsp;icon-christmas-089
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-090"></span>
				&nbsp;icon-christmas-090
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-091"></span>
				&nbsp;icon-christmas-091
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-092"></span>
				&nbsp;icon-christmas-092
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-093"></span>
				&nbsp;icon-christmas-093
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-094"></span>
				&nbsp;icon-christmas-094
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-095"></span>
				&nbsp;icon-christmas-095
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-096"></span>
				&nbsp;icon-christmas-096
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-097"></span>
				&nbsp;icon-christmas-097
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-098"></span>
				&nbsp;icon-christmas-098
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-099"></span>
				&nbsp;icon-christmas-099
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-christmas-100"></span>
				&nbsp;icon-christmas-100
			</span>
		</span>
  </section>
</div>
</body>
</html>
