<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Electronics Icons</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/line-icons-pro/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/pages/line-icon-page.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Electronics Icons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Icons</li>
      <li class="active">Electronics Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="alert alert-info fade in margin-bottom-20">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Icons Electronics</strong> includes 160 simple icons and now embedded in a webfont for more convenient
    use on the web or in a native application. You can use simply any following classes and control their sizes
    with font-size color ect...
  </div>

  <section class="line-icon-page margin-bottom-40">
		<span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-001"></span>
				&nbsp;icon-electronics-001
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-002"></span>
				&nbsp;icon-electronics-002
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-003"></span>
				&nbsp;icon-electronics-003
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-004"></span>
				&nbsp;icon-electronics-004
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-005"></span>
				&nbsp;icon-electronics-005
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-006"></span>
				&nbsp;icon-electronics-006
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-007"></span>
				&nbsp;icon-electronics-007
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-008"></span>
				&nbsp;icon-electronics-008
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-009"></span>
				&nbsp;icon-electronics-009
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-010"></span>
				&nbsp;icon-electronics-010
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-011"></span>
				&nbsp;icon-electronics-011
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-012"></span>
				&nbsp;icon-electronics-012
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-013"></span>
				&nbsp;icon-electronics-013
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-014"></span>
				&nbsp;icon-electronics-014
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-015"></span>
				&nbsp;icon-electronics-015
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-016"></span>
				&nbsp;icon-electronics-016
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-017"></span>
				&nbsp;icon-electronics-017
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-018"></span>
				&nbsp;icon-electronics-018
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-019"></span>
				&nbsp;icon-electronics-019
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-020"></span>
				&nbsp;icon-electronics-020
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-021"></span>
				&nbsp;icon-electronics-021
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-022"></span>
				&nbsp;icon-electronics-022
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-023"></span>
				&nbsp;icon-electronics-023
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-024"></span>
				&nbsp;icon-electronics-024
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-025"></span>
				&nbsp;icon-electronics-025
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-026"></span>
				&nbsp;icon-electronics-026
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-027"></span>
				&nbsp;icon-electronics-027
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-028"></span>
				&nbsp;icon-electronics-028
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-029"></span>
				&nbsp;icon-electronics-029
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-030"></span>
				&nbsp;icon-electronics-030
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-031"></span>
				&nbsp;icon-electronics-031
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-032"></span>
				&nbsp;icon-electronics-032
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-033"></span>
				&nbsp;icon-electronics-033
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-034"></span>
				&nbsp;icon-electronics-034
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-035"></span>
				&nbsp;icon-electronics-035
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-036"></span>
				&nbsp;icon-electronics-036
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-037"></span>
				&nbsp;icon-electronics-037
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-038"></span>
				&nbsp;icon-electronics-038
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-039"></span>
				&nbsp;icon-electronics-039
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-040"></span>
				&nbsp;icon-electronics-040
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-041"></span>
				&nbsp;icon-electronics-041
			</span>
		</span>

    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-042"></span>
				&nbsp;icon-electronics-042
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-043"></span>
				&nbsp;icon-electronics-043
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-044"></span>
				&nbsp;icon-electronics-044
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-045"></span>
				&nbsp;icon-electronics-045
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-046"></span>
				&nbsp;icon-electronics-046
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-047"></span>
				&nbsp;icon-electronics-047
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-048"></span>
				&nbsp;icon-electronics-048
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-049"></span>
				&nbsp;icon-electronics-049
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-050"></span>
				&nbsp;icon-electronics-050
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-051"></span>
				&nbsp;icon-electronics-051
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-052"></span>
				&nbsp;icon-electronics-052
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-053"></span>
				&nbsp;icon-electronics-053
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-054"></span>
				&nbsp;icon-electronics-054
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-055"></span>
				&nbsp;icon-electronics-055
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-056"></span>
				&nbsp;icon-electronics-056
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-057"></span>
				&nbsp;icon-electronics-057
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-058"></span>
				&nbsp;icon-electronics-058
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-059"></span>
				&nbsp;icon-electronics-059
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-060"></span>
				&nbsp;icon-electronics-060
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-061"></span>
				&nbsp;icon-electronics-061
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-062"></span>
				&nbsp;icon-electronics-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-063"></span>
				&nbsp;icon-electronics-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-064"></span>
				&nbsp;icon-electronics-064
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-065"></span>
				&nbsp;icon-electronics-065
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-066"></span>
				&nbsp;icon-electronics-066
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-067"></span>
				&nbsp;icon-electronics-067
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-068"></span>
				&nbsp;icon-electronics-068
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-069"></span>
				&nbsp;icon-electronics-069
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-070"></span>
				&nbsp;icon-electronics-070
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-071"></span>
				&nbsp;icon-electronics-071
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-072"></span>
				&nbsp;icon-electronics-072
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-073"></span>
				&nbsp;icon-electronics-073
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-074"></span>
				&nbsp;icon-electronics-074
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-075"></span>
				&nbsp;icon-electronics-075
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-076"></span>
				&nbsp;icon-electronics-076
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-077"></span>
				&nbsp;icon-electronics-077
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-078"></span>
				&nbsp;icon-electronics-078
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-079"></span>
				&nbsp;icon-electronics-079
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-080"></span>
				&nbsp;icon-electronics-080
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-081"></span>
				&nbsp;icon-electronics-081
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-082"></span>
				&nbsp;icon-electronics-082
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-083"></span>
				&nbsp;icon-electronics-083
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-084"></span>
				&nbsp;icon-electronics-084
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-085"></span>
				&nbsp;icon-electronics-085
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-086"></span>
				&nbsp;icon-electronics-086
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-087"></span>
				&nbsp;icon-electronics-087
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-088"></span>
				&nbsp;icon-electronics-088
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-089"></span>
				&nbsp;icon-electronics-089
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-090"></span>
				&nbsp;icon-electronics-090
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-091"></span>
				&nbsp;icon-electronics-091
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-092"></span>
				&nbsp;icon-electronics-092
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-093"></span>
				&nbsp;icon-electronics-093
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-094"></span>
				&nbsp;icon-electronics-094
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-095"></span>
				&nbsp;icon-electronics-095
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-096"></span>
				&nbsp;icon-electronics-096
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-097"></span>
				&nbsp;icon-electronics-097
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-098"></span>
				&nbsp;icon-electronics-098
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-099"></span>
				&nbsp;icon-electronics-099
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-100"></span>
				&nbsp;icon-electronics-100
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-101"></span>
				&nbsp;icon-electronics-101
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-102"></span>
				&nbsp;icon-electronics-102
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-103"></span>
				&nbsp;icon-electronics-103
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-104"></span>
				&nbsp;icon-electronics-104
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-105"></span>
				&nbsp;icon-electronics-105
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-106"></span>
				&nbsp;icon-electronics-106
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-107"></span>
				&nbsp;icon-electronics-107
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-108"></span>
				&nbsp;icon-electronics-108
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-109"></span>
				&nbsp;icon-electronics-109
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-110"></span>
				&nbsp;icon-electronics-110
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-111"></span>
				&nbsp;icon-electronics-111
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-112"></span>
				&nbsp;icon-electronics-112
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-113"></span>
				&nbsp;icon-electronics-113
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-114"></span>
				&nbsp;icon-electronics-114
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-115"></span>
				&nbsp;icon-electronics-115
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-116"></span>
				&nbsp;icon-electronics-116
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-117"></span>
				&nbsp;icon-electronics-117
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-118"></span>
				&nbsp;icon-electronics-118
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-119"></span>
				&nbsp;icon-electronics-119
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-120"></span>
				&nbsp;icon-electronics-120
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-121"></span>
				&nbsp;icon-electronics-121
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-122"></span>
				&nbsp;icon-electronics-122
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-123"></span>
				&nbsp;icon-electronics-123
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-124"></span>
				&nbsp;icon-electronics-124
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-125"></span>
				&nbsp;icon-electronics-125
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-126"></span>
				&nbsp;icon-electronics-126
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-127"></span>
				&nbsp;icon-electronics-127
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-128"></span>
				&nbsp;icon-electronics-128
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-129"></span>
				&nbsp;icon-electronics-129
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-130"></span>
				&nbsp;icon-electronics-130
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-131"></span>
				&nbsp;icon-electronics-131
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-132"></span>
				&nbsp;icon-electronics-132
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-133"></span>
				&nbsp;icon-electronics-133
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-134"></span>
				&nbsp;icon-electronics-134
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-135"></span>
				&nbsp;icon-electronics-135
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-136"></span>
				&nbsp;icon-electronics-136
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-137"></span>
				&nbsp;icon-electronics-137
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-138"></span>
				&nbsp;icon-electronics-138
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-139"></span>
				&nbsp;icon-electronics-139
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-140"></span>
				&nbsp;icon-electronics-140
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-141"></span>
				&nbsp;icon-electronics-141
			</span>
		</span>

    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-142"></span>
				&nbsp;icon-electronics-142
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-143"></span>
				&nbsp;icon-electronics-143
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-144"></span>
				&nbsp;icon-electronics-144
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-145"></span>
				&nbsp;icon-electronics-145
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-146"></span>
				&nbsp;icon-electronics-146
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-147"></span>
				&nbsp;icon-electronics-147
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-148"></span>
				&nbsp;icon-electronics-148
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-149"></span>
				&nbsp;icon-electronics-149
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-150"></span>
				&nbsp;icon-electronics-150
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-151"></span>
				&nbsp;icon-electronics-151
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-152"></span>
				&nbsp;icon-electronics-152
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-153"></span>
				&nbsp;icon-electronics-153
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-154"></span>
				&nbsp;icon-electronics-154
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-155"></span>
				&nbsp;icon-electronics-155
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-156"></span>
				&nbsp;icon-electronics-156
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-157"></span>
				&nbsp;icon-electronics-157
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-158"></span>
				&nbsp;icon-electronics-158
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-159"></span>
				&nbsp;icon-electronics-159
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-electronics-160"></span>
				&nbsp;icon-electronics-160
			</span>
		</span>
  </section>
</div>
</body>
</html>
