<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Furniture Icons</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/line-icons-pro/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/pages/line-icon-page.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Furniture Icons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Icons</li>
      <li class="active">Furniture Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="alert alert-info fade in margin-bottom-20">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Icons Furniture</strong> includes 100 simple icons and now embedded in a webfont for more convenient
    use on the web or in a native application. You can use simply any following classes and control their sizes
    with font-size color ect...
  </div>

  <section class="line-icon-page margin-bottom-40">
		<span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-001"></span>
				&nbsp;icon-furniture-001
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-002"></span>
				&nbsp;icon-furniture-002
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-003"></span>
				&nbsp;icon-furniture-003
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-004"></span>
				&nbsp;icon-furniture-004
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-005"></span>
				&nbsp;icon-furniture-005
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-006"></span>
				&nbsp;icon-furniture-006
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-007"></span>
				&nbsp;icon-furniture-007
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-008"></span>
				&nbsp;icon-furniture-008
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-009"></span>
				&nbsp;icon-furniture-009
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-010"></span>
				&nbsp;icon-furniture-010
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-011"></span>
				&nbsp;icon-furniture-011
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-012"></span>
				&nbsp;icon-furniture-012
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-013"></span>
				&nbsp;icon-furniture-013
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-014"></span>
				&nbsp;icon-furniture-014
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-015"></span>
				&nbsp;icon-furniture-015
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-016"></span>
				&nbsp;icon-furniture-016
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-017"></span>
				&nbsp;icon-furniture-017
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-018"></span>
				&nbsp;icon-furniture-018
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-019"></span>
				&nbsp;icon-furniture-019
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-020"></span>
				&nbsp;icon-furniture-020
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-021"></span>
				&nbsp;icon-furniture-021
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-022"></span>
				&nbsp;icon-furniture-022
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-023"></span>
				&nbsp;icon-furniture-023
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-024"></span>
				&nbsp;icon-furniture-024
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-025"></span>
				&nbsp;icon-furniture-025
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-026"></span>
				&nbsp;icon-furniture-026
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-027"></span>
				&nbsp;icon-furniture-027
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-028"></span>
				&nbsp;icon-furniture-028
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-029"></span>
				&nbsp;icon-furniture-029
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-030"></span>
				&nbsp;icon-furniture-030
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-031"></span>
				&nbsp;icon-furniture-031
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-032"></span>
				&nbsp;icon-furniture-032
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-033"></span>
				&nbsp;icon-furniture-033
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-034"></span>
				&nbsp;icon-furniture-034
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-035"></span>
				&nbsp;icon-furniture-035
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-036"></span>
				&nbsp;icon-furniture-036
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-037"></span>
				&nbsp;icon-furniture-037
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-038"></span>
				&nbsp;icon-furniture-038
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-039"></span>
				&nbsp;icon-furniture-039
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-040"></span>
				&nbsp;icon-furniture-040
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-041"></span>
				&nbsp;icon-furniture-041
			</span>
		</span>

    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-042"></span>
				&nbsp;icon-furniture-042
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-043"></span>
				&nbsp;icon-furniture-043
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-044"></span>
				&nbsp;icon-furniture-044
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-045"></span>
				&nbsp;icon-furniture-045
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-046"></span>
				&nbsp;icon-furniture-046
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-047"></span>
				&nbsp;icon-furniture-047
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-048"></span>
				&nbsp;icon-furniture-048
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-049"></span>
				&nbsp;icon-furniture-049
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-050"></span>
				&nbsp;icon-furniture-050
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-051"></span>
				&nbsp;icon-furniture-051
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-052"></span>
				&nbsp;icon-furniture-052
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-053"></span>
				&nbsp;icon-furniture-053
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-054"></span>
				&nbsp;icon-furniture-054
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-055"></span>
				&nbsp;icon-furniture-055
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-056"></span>
				&nbsp;icon-furniture-056
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-057"></span>
				&nbsp;icon-furniture-057
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-058"></span>
				&nbsp;icon-furniture-058
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-059"></span>
				&nbsp;icon-furniture-059
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-060"></span>
				&nbsp;icon-furniture-060
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-061"></span>
				&nbsp;icon-furniture-061
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-062"></span>
				&nbsp;icon-furniture-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-063"></span>
				&nbsp;icon-furniture-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-064"></span>
				&nbsp;icon-furniture-064
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-065"></span>
				&nbsp;icon-furniture-065
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-066"></span>
				&nbsp;icon-furniture-066
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-067"></span>
				&nbsp;icon-furniture-067
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-068"></span>
				&nbsp;icon-furniture-068
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-069"></span>
				&nbsp;icon-furniture-069
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-070"></span>
				&nbsp;icon-furniture-070
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-071"></span>
				&nbsp;icon-furniture-071
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-072"></span>
				&nbsp;icon-furniture-072
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-073"></span>
				&nbsp;icon-furniture-073
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-074"></span>
				&nbsp;icon-furniture-074
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-075"></span>
				&nbsp;icon-furniture-075
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-076"></span>
				&nbsp;icon-furniture-076
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-077"></span>
				&nbsp;icon-furniture-077
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-078"></span>
				&nbsp;icon-furniture-078
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-079"></span>
				&nbsp;icon-furniture-079
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-080"></span>
				&nbsp;icon-furniture-080
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-081"></span>
				&nbsp;icon-furniture-081
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-082"></span>
				&nbsp;icon-furniture-082
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-083"></span>
				&nbsp;icon-furniture-083
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-084"></span>
				&nbsp;icon-furniture-084
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-085"></span>
				&nbsp;icon-furniture-085
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-086"></span>
				&nbsp;icon-furniture-086
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-087"></span>
				&nbsp;icon-furniture-087
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-088"></span>
				&nbsp;icon-furniture-088
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-089"></span>
				&nbsp;icon-furniture-089
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-090"></span>
				&nbsp;icon-furniture-090
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-091"></span>
				&nbsp;icon-furniture-091
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-092"></span>
				&nbsp;icon-furniture-092
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-093"></span>
				&nbsp;icon-furniture-093
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-094"></span>
				&nbsp;icon-furniture-094
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-095"></span>
				&nbsp;icon-furniture-095
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-096"></span>
				&nbsp;icon-furniture-096
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-097"></span>
				&nbsp;icon-furniture-097
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-098"></span>
				&nbsp;icon-furniture-098
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-099"></span>
				&nbsp;icon-furniture-099
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-furniture-100"></span>
				&nbsp;icon-furniture-100
			</span>
		</span>
  </section>
</div>
</body>
</html>
