<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Medical Icons</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/line-icons-pro/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/pages/line-icon-page.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Medical Icons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Icons</li>
      <li class="active">Medical Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="alert alert-info fade in margin-bottom-20">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Icons Medical</strong> includes 100 simple icons and now embedded in a webfont for more convenient use
    on the web or in a native application. You can use simply any following classes and control their sizes with
    font-size color ect...
  </div>

  <section class="line-icon-page margin-bottom-40">
		<span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-001"></span>
				&nbsp;icon-medical-001
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-002"></span>
				&nbsp;icon-medical-002
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-003"></span>
				&nbsp;icon-medical-003
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-004"></span>
				&nbsp;icon-medical-004
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-005"></span>
				&nbsp;icon-medical-005
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-006"></span>
				&nbsp;icon-medical-006
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-007"></span>
				&nbsp;icon-medical-007
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-008"></span>
				&nbsp;icon-medical-008
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-009"></span>
				&nbsp;icon-medical-009
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-010"></span>
				&nbsp;icon-medical-010
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-011"></span>
				&nbsp;icon-medical-011
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-012"></span>
				&nbsp;icon-medical-012
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-013"></span>
				&nbsp;icon-medical-013
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-014"></span>
				&nbsp;icon-medical-014
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-015"></span>
				&nbsp;icon-medical-015
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-016"></span>
				&nbsp;icon-medical-016
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-017"></span>
				&nbsp;icon-medical-017
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-018"></span>
				&nbsp;icon-medical-018
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-019"></span>
				&nbsp;icon-medical-019
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-020"></span>
				&nbsp;icon-medical-020
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-021"></span>
				&nbsp;icon-medical-021
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-022"></span>
				&nbsp;icon-medical-022
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-023"></span>
				&nbsp;icon-medical-023
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-024"></span>
				&nbsp;icon-medical-024
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-025"></span>
				&nbsp;icon-medical-025
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-026"></span>
				&nbsp;icon-medical-026
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-027"></span>
				&nbsp;icon-medical-027
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-028"></span>
				&nbsp;icon-medical-028
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-029"></span>
				&nbsp;icon-medical-029
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-030"></span>
				&nbsp;icon-medical-030
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-031"></span>
				&nbsp;icon-medical-031
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-032"></span>
				&nbsp;icon-medical-032
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-033"></span>
				&nbsp;icon-medical-033
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-034"></span>
				&nbsp;icon-medical-034
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-035"></span>
				&nbsp;icon-medical-035
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-036"></span>
				&nbsp;icon-medical-036
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-037"></span>
				&nbsp;icon-medical-037
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-038"></span>
				&nbsp;icon-medical-038
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-039"></span>
				&nbsp;icon-medical-039
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-040"></span>
				&nbsp;icon-medical-040
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-041"></span>
				&nbsp;icon-medical-041
			</span>
		</span>

    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-042"></span>
				&nbsp;icon-medical-042
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-043"></span>
				&nbsp;icon-medical-043
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-044"></span>
				&nbsp;icon-medical-044
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-045"></span>
				&nbsp;icon-medical-045
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-046"></span>
				&nbsp;icon-medical-046
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-047"></span>
				&nbsp;icon-medical-047
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-048"></span>
				&nbsp;icon-medical-048
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-049"></span>
				&nbsp;icon-medical-049
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-050"></span>
				&nbsp;icon-medical-050
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-051"></span>
				&nbsp;icon-medical-051
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-052"></span>
				&nbsp;icon-medical-052
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-053"></span>
				&nbsp;icon-medical-053
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-054"></span>
				&nbsp;icon-medical-054
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-055"></span>
				&nbsp;icon-medical-055
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-056"></span>
				&nbsp;icon-medical-056
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-057"></span>
				&nbsp;icon-medical-057
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-058"></span>
				&nbsp;icon-medical-058
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-059"></span>
				&nbsp;icon-medical-059
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-060"></span>
				&nbsp;icon-medical-060
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-061"></span>
				&nbsp;icon-medical-061
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-062"></span>
				&nbsp;icon-medical-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-063"></span>
				&nbsp;icon-medical-062
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-064"></span>
				&nbsp;icon-medical-064
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-065"></span>
				&nbsp;icon-medical-065
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-066"></span>
				&nbsp;icon-medical-066
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-067"></span>
				&nbsp;icon-medical-067
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-068"></span>
				&nbsp;icon-medical-068
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-069"></span>
				&nbsp;icon-medical-069
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-070"></span>
				&nbsp;icon-medical-070
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-071"></span>
				&nbsp;icon-medical-071
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-072"></span>
				&nbsp;icon-medical-072
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-073"></span>
				&nbsp;icon-medical-073
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-074"></span>
				&nbsp;icon-medical-074
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-075"></span>
				&nbsp;icon-medical-075
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-076"></span>
				&nbsp;icon-medical-076
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-077"></span>
				&nbsp;icon-medical-077
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-078"></span>
				&nbsp;icon-medical-078
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-079"></span>
				&nbsp;icon-medical-079
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-080"></span>
				&nbsp;icon-medical-080
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-081"></span>
				&nbsp;icon-medical-081
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-082"></span>
				&nbsp;icon-medical-082
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-083"></span>
				&nbsp;icon-medical-083
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-084"></span>
				&nbsp;icon-medical-084
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-085"></span>
				&nbsp;icon-medical-085
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-086"></span>
				&nbsp;icon-medical-086
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-087"></span>
				&nbsp;icon-medical-087
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-088"></span>
				&nbsp;icon-medical-088
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-089"></span>
				&nbsp;icon-medical-089
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-090"></span>
				&nbsp;icon-medical-090
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-091"></span>
				&nbsp;icon-medical-091
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-092"></span>
				&nbsp;icon-medical-092
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-093"></span>
				&nbsp;icon-medical-093
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-094"></span>
				&nbsp;icon-medical-094
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-095"></span>
				&nbsp;icon-medical-095
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-096"></span>
				&nbsp;icon-medical-096
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-097"></span>
				&nbsp;icon-medical-097
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-098"></span>
				&nbsp;icon-medical-098
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-099"></span>
				&nbsp;icon-medical-099
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-medical-100"></span>
				&nbsp;icon-medical-100
			</span>
		</span>
  </section>
</div>
</body>
</html>
