<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Weather Icons</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/line-icons-pro/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/pages/line-icon-page.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Line Icons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Icons</li>
      <li class="active">Line Icons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="alert alert-info fade in margin-bottom-20">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Icons Weather</strong> includes 60 simple icons and now embedded in a webfont for more convenient use
    on the web or in a native application. You can use simply any following classes and control their sizes with
    font-size color ect...
  </div>

  <section class="line-icon-page margin-bottom-40">
		<span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-001"></span>
				&nbsp;icon-weather-001
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-002"></span>
				&nbsp;icon-weather-002
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-003"></span>
				&nbsp;icon-weather-003
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-004"></span>
				&nbsp;icon-weather-004
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-005"></span>
				&nbsp;icon-weather-005
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-006"></span>
				&nbsp;icon-weather-006
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-007"></span>
				&nbsp;icon-weather-007
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-008"></span>
				&nbsp;icon-weather-008
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-009"></span>
				&nbsp;icon-weather-009
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-010"></span>
				&nbsp;icon-weather-010
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-011"></span>
				&nbsp;icon-weather-011
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-012"></span>
				&nbsp;icon-weather-012
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-013"></span>
				&nbsp;icon-weather-013
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-014"></span>
				&nbsp;icon-weather-014
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-015"></span>
				&nbsp;icon-weather-015
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-016"></span>
				&nbsp;icon-weather-016
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-017"></span>
				&nbsp;icon-weather-017
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-018"></span>
				&nbsp;icon-weather-018
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-019"></span>
				&nbsp;icon-weather-019
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-020"></span>
				&nbsp;icon-weather-020
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-021"></span>
				&nbsp;icon-weather-021
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-022"></span>
				&nbsp;icon-weather-022
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-023"></span>
				&nbsp;icon-weather-023
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-024"></span>
				&nbsp;icon-weather-024
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-025"></span>
				&nbsp;icon-weather-025
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-026"></span>
				&nbsp;icon-weather-026
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-027"></span>
				&nbsp;icon-weather-027
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-028"></span>
				&nbsp;icon-weather-028
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-029"></span>
				&nbsp;icon-weather-029
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-030"></span>
				&nbsp;icon-weather-030
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-031"></span>
				&nbsp;icon-weather-031
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-032"></span>
				&nbsp;icon-weather-032
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-033"></span>
				&nbsp;icon-weather-033
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-034"></span>
				&nbsp;icon-weather-034
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-035"></span>
				&nbsp;icon-weather-035
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-036"></span>
				&nbsp;icon-weather-036
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-037"></span>
				&nbsp;icon-weather-037
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-038"></span>
				&nbsp;icon-weather-038
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-039"></span>
				&nbsp;icon-weather-039
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-040"></span>
				&nbsp;icon-weather-040
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-041"></span>
				&nbsp;icon-weather-041
			</span>
		</span>

    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-042"></span>
				&nbsp;icon-weather-042
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-043"></span>
				&nbsp;icon-weather-043
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-044"></span>
				&nbsp;icon-weather-044
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-045"></span>
				&nbsp;icon-weather-045
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-046"></span>
				&nbsp;icon-weather-046
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-047"></span>
				&nbsp;icon-weather-047
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-048"></span>
				&nbsp;icon-weather-048
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-049"></span>
				&nbsp;icon-weather-049
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-050"></span>
				&nbsp;icon-weather-050
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-051"></span>
				&nbsp;icon-weather-051
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-052"></span>
				&nbsp;icon-weather-052
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-053"></span>
				&nbsp;icon-weather-053
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-054"></span>
				&nbsp;icon-weather-054
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-055"></span>
				&nbsp;icon-weather-055
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-056"></span>
				&nbsp;icon-weather-056
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-057"></span>
				&nbsp;icon-weather-057
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-058"></span>
				&nbsp;icon-weather-058
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-059"></span>
				&nbsp;icon-weather-059
			</span>
		</span>
    <span class="item-box item-box--higher">
			<span class="item">
				<span aria-hidden="true" class="icon-weather-060"></span>
				&nbsp;icon-weather-060
			</span>
		</span>
  </section>
</div>
</body>
</html>
