<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Team Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/teams.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/social-icons-v1.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Team Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Team Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-md">
  <div class="row team-v6">
    <div class="col-md-3 col-sm-6 md-margin-bottom-50">
      <img class="img-responsive" src="/images/img_500x500.jpg"/>
      <span>Marketing</span>
      <small>Graphic Designer</small>
      <ul class="list-inline social-icons-v1">
        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 md-margin-bottom-50">
      <img class="img-responsive" src="/images/img_500x500.jpg"/>
      <span>Sara Lisbon</span>
      <small>Community</small>
      <ul class="list-inline social-icons-v1">
        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
      <img class="img-responsive" src="/images/img_500x500.jpg"/>
      <span>John Doe</span>
      <small>Support</small>
      <ul class="list-inline social-icons-v1">
        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <img class="img-responsive" src="/images/img_500x500.jpg"/>
      <span>Alice Williams</span>
      <small>Marketing</small>
      <ul class="list-inline social-icons-v1">
        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
