<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Team Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/teams.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Team Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Team Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-md">
  <div class="row">
    <!-- Team v2 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-v2 no-margin-bottom">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>

        <div class="inner-team">
          <h3>Jack Anderson</h3>
          <small class="color-green">CEO, Chief Officer</small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
            sem...</p>
          <hr/>
          <ul class="list-inline team-social">
            <li>
              <a class="fb tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Facebook"
                 href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="tw tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Twitter"
                 href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="gp tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Google plus"
                 href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Team v2 -->

    <!-- Team v2 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-v2 no-margin-bottom">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>

        <div class="inner-team">
          <h3>Kate Metus</h3>
          <small class="color-green">Project Manager</small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
            sem...</p>
          <hr/>
          <ul class="list-inline team-social">
            <li>
              <a class="fb tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Facebook"
                 href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="tw tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Twitter"
                 href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="gp tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Google plus"
                 href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Team v2 -->

    <!-- Team v2 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-v2 no-margin-bottom">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>

        <div class="inner-team">
          <h3>Porta Gravida</h3>
          <small class="color-green">VP of Operations</small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
            sem...</p>
          <hr/>
          <ul class="list-inline team-social">
            <li>
              <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook"
                 href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter"
                 href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus"
                 href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Team v2 -->

    <!-- Team v2 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-v2 no-margin-bottom">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>

        <div class="inner-team">
          <h3>Donec Elisson</h3>
          <small class="color-green">Director, R &amp; D Talent</small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
            sem...</p>
          <hr/>
          <ul class="list-inline team-social">
            <li>
              <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook"
                 href="#">
                <i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter"
                 href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus"
                 href="#">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Team v2 -->
  </div>
</div>
</body>
</html>
