<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Team Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/teams.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Team Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Team Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-md team-v1">
  <ul class="list-unstyled row">
    <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
      <div class="team-img">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <h3>John Brown</h3>
      <h4>/ Technical Director</h4>

      <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
    </li>
    <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
      <div class="team-img">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <h3>Tina Krueger</h3>
      <h4>/ Lead Designer</h4>

      <p>Lead Designer mi porta gravida at eget metus id elit mi egetine...</p>
    </li>
    <li class="col-sm-3 col-xs-6">
      <div class="team-img">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <h3>David Case</h3>
      <h4>/ Web Developer</h4>

      <p>Web Developer in YQBoots agency porta gravida at eget metus id elit...</p>
    </li>
    <li class="col-sm-3 col-xs-6">
      <div class="team-img">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <ul>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <h3>Kathy Reyes</h3>
      <h4>/ Creative Designer</h4>

      <p>Former Designer in Twitter non mi porta gravida at elit mi egetine...</p>
    </li>
  </ul>
</div>
</body>
</html>
