<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Team Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/teams.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Team Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Team Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container-fluid">
  <!-- Team Blocks -->
  <div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 team-arrow-right">
      <div class="dp-table">
        <div class="equal-height-column dp-table-cell team-v7-in" style="height: 555px;">
          <span class="team-v7-name">Daniel Wearne</span>
          <span class="team-v7-position">Co-Founder / CEO</span>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget varius leo, at elementum eros. Fusce
            tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla. Nam
            condimentum arcu eu diam gravida cursus. Morbi ante eros, lobortis sit amet tempus in, fermentum vitae
            neque.</p>
          <ul class="list-inline social-icons-v1">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 team-v7-img">
      <img class="img-responsive full-width equal-height-column" src="/images/img_500x500.jpg" style="height: 555px;"/>
    </div>
  </div>
  <!-- End Team Blocks -->

  <!-- Team Blocks -->
  <div class="row team-v7 no-gutter equal-height-columns">
    <div class="col-md-6 col-md-push-6 team-arrow-left">
      <div class="dp-table">
        <div class="equal-height-column dp-table-cell team-v7-in" style="height: 555px;">
          <span class="team-v7-name">Kate Metus</span>
          <span class="team-v7-position">Co-Founder/ UX Design</span>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget varius leo, at elementum eros. Fusce
            tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla. Nam
            condimentum arcu eu diam gravida cursus. Morbi ante eros, lobortis sit amet tempus in, fermentum vitae
            neque.</p>
          <ul class="list-inline social-icons-v1">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6 team-v7-img">
      <img class="img-responsive full-width equal-height-column" src="/images/img_500x500.jpg" style="height: 555px;"/>
    </div>
  </div>
  <!-- End Team Blocks -->
</div>
</body>
</html>
