<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Alerts &amp; Messages</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Alerts &amp; Messages</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Alerts &amp; Messages</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <!-- Alert Tabs -->
  <div class="tab-v2 margin-bottom-40">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#alert-1" data-toggle="tab">Alerts Messages</a></li>
      <li><a href="#alert-2" data-toggle="tab">Dismissable Alerts</a></li>
      <li><a href="#alert-3" data-toggle="tab">Links in Alerts</a></li>
    </ul>
    <div class="tab-content">
      <!-- Alert Messages -->
      <div class="tab-pane fade in active" id="alert-1">
        <div class="margin-bottom-15"></div>
        <div class="alert alert-warning fade in">
          <b>Warning!</b> Best check yo self, you're not looking too good.
        </div>
        <div class="alert alert-danger fade in">
          <b>Oh snap!</b> Change a few things up and try submitting again.
        </div>
        <div class="alert alert-success fade in">
          <b>Well done!</b> Change a few things up and try submitting again.
        </div>
        <div class="alert alert-info fade in">
          <b>Heads up!</b> Change a few things up and try submitting again.
        </div>
      </div>
      <!-- End Alert Messages -->

      <!-- Dismissable Alerts -->
      <div class="tab-pane fade in" id="alert-2">
        <div class="margin-bottom-15"></div>
        <div class="alert alert-warning fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Warning!</b> Best check yo self, you're not looking too good.
        </div>
        <div class="alert alert-danger fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Oh snap!</b> Change a few things up and try submitting again.
        </div>
        <div class="alert alert-success fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Well done!</b> Change a few things up and try submitting again.
        </div>
        <div class="alert alert-info fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Heads up!</b> Change a few things up and try submitting again.
        </div>
      </div>
      <!-- End Dismissable Alerts -->

      <!-- Links in Alerts -->
      <div class="tab-pane fade in" id="alert-3">
        <div class="margin-bottom-15"></div>
        <div class="alert alert-warning fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Warning!</b> Best check yo self, <a class="alert-link" href="#">you're not looking too
          good.</a>
        </div>
        <div class="alert alert-danger fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Oh snap!</b> Change a few things up and <a class="alert-link" href="#">try submitting
          again.</a>
        </div>
        <div class="alert alert-success fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Well done!</b> <a class="alert-link" href="#">Change a few things up</a> and try submitting
          again.
        </div>
        <div class="alert alert-info fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b>Heads up!</b> Change a <a class="alert-link" href="#">few things</a> up and try submitting
          again.
        </div>
      </div>
      <!-- Links in Alerts -->
    </div>
  </div>
  <!-- End Alert Tabs -->

  <!-- Alert Blocks -->
  <div class="headline"><h2 class="heading-sm">Alert Blocks</h2></div>
  <div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4>Oh snap! You got an error!</h4>
    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
      lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    <p>
      <a class="btn-u" href="#">Take this action</a>
      <a class="btn-u btn-u-sea" href="#">Or do this</a>
    </p>
  </div>
  <div class="alert alert-success fade in margin-bottom-40">
    <h4>Well done!</h4>
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
  </div>
  <!-- End Alert Blocks -->

  <!-- Different Styles -->
  <div class="headline"><h2 class="heading-sm">Different Styles</h2></div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Info! Important Message!</h4>
        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
          eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>
          <a class="btn-u btn-u-xs btn-u-default" href="#"><i class="fa fa-cog"></i> Take this action</a>
          <a class="btn-u btn-u-xs btn-u-dark" href="#"><i class="fa fa-flask"></i> Or do this</a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning fade in text-center">
        <h4>Please Search Again!</h4>
        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
          eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>
          <a class="btn-u btn-u-xs" href="#">Take this action</a>
          <a class="btn-u btn-u-xs btn-u-sea" href="#">Or do this</a>
        </p>
      </div>
    </div>
  </div>
  <div class="tag-box tag-box-v3">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Expedita distinctio lorem ipsum!</h2>
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat.</p>
  </div>
  <div class="tag-box tag-box-v4">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Expedita distinctio lorem ipsum!</h2>
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat.</p>
  </div>
  <div class="tag-box tag-box-v6">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Expedita distinctio lorem ipsum!</h2>
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat.</p>
  </div>
  <!-- End Different Styles -->
</div>
</body>
</html>
