<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>News Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/news.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">News Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">News Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-md">
  <div class="row">
    <div class="col-md-4 news-v3">
      <img class="img-responsive full-width" src="/images/img_973x615.jpg"/>
      <div class="news-v3-in-sm bg-color-light">
        <ul class="list-inline posted-info-sm">
          <li>By: <a href="#">Alex</a></li>
          <li>In: <a href="#">Design</a></li>
          <li>Posted: Jan 24, 2015</li>
        </ul>
        <h2><a href="#">Incredible standard post</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed.</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i> <span>26</span></a></li>
          <li><a href="#"><i class="rounded-x icon-share"></i> <span>98</span></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i> <span>30</span></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 news-v3">
      <img class="img-responsive full-width" src="/images/img_973x615.jpg"/>
      <div class="news-v3-in-sm bg-color-light">
        <ul class="list-inline posted-info-sm">
          <li>By: <a href="#">Susan</a></li>
          <li>In: <a href="#">Wordpress</a></li>
          <li>Posted: Jan 24, 2015</li>
        </ul>
        <h2><a href="#">Imperdiet molesti volutpa</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed.</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i><span>26</span></a></li>
          <li><a href="#"><i class="rounded-x icon-share"></i><span>98</span></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i><span>30</span></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4 news-v3">
      <img class="img-responsive full-width" src="/images/img_973x615.jpg"/>
      <div class="news-v3-in-sm bg-color-light">
        <ul class="list-inline posted-info-sm">
          <li>By: <a href="#">Joe</a></li>
          <li>In: <a href="#">YQBoots</a></li>
          <li>Posted: Jan 24, 2015</li>
        </ul>
        <h2><a href="#">Nullam non metus inmi</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin sed.</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i><span>26</span></a></li>
          <li><a href="#"><i class="rounded-x icon-share"></i><span>98</span></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i><span>30</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
