<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>News Blocks</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/news.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">News Blocks</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">News Blocks</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content-md">
  <div class="row news-v2">
    <div class="col-md-4 sm-margin-bottom-30">
      <div class="news-v2-badge">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <p>
          <span>26</span>
          <small>Feb</small>
        </p>
      </div>
      <div class="news-v2-desc bg-color-light">
        <h3><a href="#">Corrupti Quos Dolores</a></h3>
        <small>By Admin | <a class="color-inherit" href="#">16 Comments</a> | In <a href="#">Web Trends</a></small>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores.</p>
      </div>
    </div>
    <div class="col-md-4 sm-margin-bottom-30">
      <div class="news-v2-badge">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <p>
          <span>24</span>
          <small>Feb</small>
        </p>
      </div>
      <div class="news-v2-desc bg-color-light">
        <h3><a href="#">Blanditi Praesium Voluptum</a></h3>
        <small>
          By Admin | <a class="color-inherit" href="#">51 Comments</a> | In <a href="#">Art &amp; Design</a>
        </small>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="news-v2-badge">
        <img class="img-responsive" src="/images/img_973x615.jpg"/>
        <p>
          <span>21</span>
          <small>Feb</small>
        </p>
      </div>
      <div class="news-v2-desc bg-color-light">
        <h3><a href="#">Key Digital Services</a></h3>
        <small>
          By Admin | <a class="color-inherit" href="#">32 Comments</a> | In <a href="#">Google &amp; Android</a>
        </small>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
