<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Creative</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/revolution-slider/css/settings.css}" media="screen"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/revolution-slider.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/titles.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/counters.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/teams.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/portfolio-box.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/thumbnail.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/parallax-counter-v1.css}"/>
</head>
<body>
<div layout:fragment="content">
  <!--=== Slider ===-->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <!-- SLIDE -->
        <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
            data-title="Slide 1">
          <!-- MAIN IMAGE -->
          <img th:src="@{/images/sliders/1.jpg}" alt="darkblurbg" data-bgfit="cover" data-bgposition="center center"
               data-bgrepeat="no-repeat"/>

          <!-- LAYER -->
          <div class="tp-caption re-title-v1 sft start"
               data-x="center"
               data-hoffset="0"
               data-y="100"
               data-speed="1500"
               data-start="500"
               data-easing="Back.easeInOut"
               data-endeasing="Power1.easeIn"
               data-endspeed="300">
            Welcome To YQBoots
          </div>
          <!-- END LAYER -->

          <!-- LAYER -->
          <div class="tp-caption re-text-v1 sft"
               data-x="center"
               data-hoffset="0"
               data-y="200"
               data-speed="1400"
               data-start="2000"
               data-easing="Power4.easeOut"
               data-endspeed="300"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 6">
            YQBoots is creative technology company providing key digital services on web and mobile. <br/>
            We minimize the gap between technology and its audience.
          </div>
          <!-- END LAYER -->

          <!-- LAYER -->
          <div class="tp-caption sft"
               data-x="center"
               data-hoffset="0"
               data-y="320"
               data-speed="1600"
               data-start="2800"
               data-easing="Power4.easeOut"
               data-endspeed="300"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 6">
            <a href="#" class="btn-u btn-u-lg re-btn-brd margin-right-5">Read About Us</a>
            <a href="#" class="btn-u btn-u-lg">Visit Our Work</a>
          </div>
          <!-- END LAYER -->
        </li>
        <!-- END SLIDE -->

        <!-- SLIDE -->
        <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
            data-title="Slide 2">
          <!-- MAIN IMAGE -->
          <img th:src="@{/images/sliders/2.jpg}" alt="darkblurbg" data-bgfit="cover" data-bgposition="center center"
               data-bgrepeat="no-repeat"/>

          <!-- LAYER -->
          <div class="tp-caption re-title-v2 sft"
               data-x="center"
               data-hoffset="0"
               data-y="100"
               data-speed="1400"
               data-start="1000"
               data-easing="easeOutBack"
               data-endspeed="300"
               data-endeasing="easeInQuad"
               data-captionhidden="off"
               style="z-index: 6">
            We're Creative Team
          </div>

          <!-- LAYER -->
          <div class="tp-caption re-text-v1 sft"
               data-x="center"
               data-hoffset="0"
               data-y="150"
               data-speed="1600"
               data-start="2000"
               data-easing="Power4.easeOut"
               data-endspeed="300"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 6">
            YQBoots provides key digital services on web and mobile.
          </div>

          <!-- LAYER -->
          <div class="tp-caption sfb"
               data-x="center"
               data-hoffset="0"
               data-y="230"
               data-speed="1800"
               data-start="3000"
               data-easing="Power4.easeOut"
               data-endspeed="300"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 6">
            <img th:src="@{/images/mockup/iphone.png}"/>
          </div>
        </li>
        <!-- END SLIDE -->

        <!-- SLIDE -->
        <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
            data-title="Slide 3">
          <!-- MAIN IMAGE -->
          <img th:src="@{/images/sliders/3.jpg}" alt="darkblurbg" data-bgfit="cover" data-bgposition="center center"
               data-bgrepeat="no-repeat"/>

          <div class="tp-caption re-title-v2 sft start"
               data-x="20"
               data-hoffset="0"
               data-y="150"
               data-speed="1500"
               data-start="500"
               data-easing="Back.easeInOut"
               data-endeasing="Power1.easeIn"
               data-endspeed="300">
            Welcome To YQBoots
          </div>

          <div class="tp-caption re-text-v2 sft start"
               data-x="20"
               data-hoffset="0"
               data-y="220"
               data-speed="2000"
               data-start="1000"
               data-easing="Back.easeInOut"
               data-endeasing="Power1.easeIn"
               data-endspeed="300">
            YQBoots is creative technology company providing <br/>
            We minimize the gap between technology and its.
          </div>

          <!-- LAYER -->
          <div class="tp-caption sft"
               data-x="20"
               data-hoffset="0"
               data-y="320"
               data-speed="1600"
               data-start="2800"
               data-easing="Power4.easeOut"
               data-endspeed="300"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 6">
            <a href="#" class="btn-u btn-u-lg re-btn-brd margin-right-5">Read About Us</a>
            <a href="#" class="btn-u btn-u-lg">Visit Our Work</a>
          </div>
        </li>
        <!-- END SLIDE -->
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
  <!--=== End Slider ===-->

  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">WE ARE YQBoots AGENCY</h2>
      <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you
        need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
        on the Internet tend to repeat predefined chunks as necessary, making <span
            class="color-green">this the first</span> true generator on the Internet.</p>
    </div>

    <div class="row content-boxes-v4">
      <div class="col-md-4 md-margin-bottom-40">
        <i class="pull-left fa fa-lightbulb-o"></i>
        <div class="content-boxes-in-v4">
          <h2>Creative Ideas</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-40">
        <i class="pull-left fa fa-flash"></i>
        <div class="content-boxes-in-v4">
          <h2>Excellent Features</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <i class="pull-left fa fa-compress"></i>
        <div class="content-boxes-in-v4">
          <h2>Fully Responsive</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey content-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="responsive-video margin-bottom-30">
            <!--<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0"></iframe>-->
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="title-v2">WATCH ABOUT US</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
            hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
            chunks as necessary, making this the first true generator on the Internet.</p><br/>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
          <a href="#" class="btn-u">Purchase Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">READ ABOUT YQBoots</h2>
      <p class="space-lg-hor">If you are going to use a passage of Lorem Ipsum, <span
          class="color-green">you need to</span> be sure there isn't anything embarrassing hidden in the middle of text.
        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the
        first true <span class="color-green">generator</span> on the Internet.</p>
    </div>

    <div class="row">
      <div class="col-sm-4 md-margin-bottom-40">
        <div class="thumbnails-v1">
          <div class="thumbnail-img">
            <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
          </div>
          <div class="caption">
            <h3><a href="#">Business Opportunities</a></h3>
            <p>Donec id elit non mi porta gravida at eget metsit us. Fusce dapibus, justo sit amet risus etiam portapsum
              generators on the Internet tend to repeat predefined.</p>
            <p><a class="read-more" href="#">See More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 md-margin-bottom-40">
        <div class="thumbnails-v1">
          <div class="thumbnail-img">
            <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
          </div>
          <div class="caption">
            <h3><a href="#">Engage Customers With YQBoots</a></h3>
            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text, all the ipsum generators.</p>
            <p><a class="read-more" href="#">See More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnails-v1">
          <div class="thumbnail-img">
            <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
          </div>
          <div class="caption">
            <h3><a href="#">Empower People, HCM</a></h3>
            <p>Donec id elit non mi porta gravida at eget metsit us. Fusce dapibus, justo sit amet risus etiam portapsum
              generators on the Internet tend to repeat predefined.</p>
            <p><a class="read-more" href="#">See More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-counter-v1 parallaxBg">
    <div class="container">
      <h2 class="title-v2 title-light title-center">SOME FACTS AND SERVICES</h2>
      <p class="space-xlg-hor text-center color-light">If you are going to use a passage of Lorem Ipsum, you need to be
        sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
        Internet tend to repeat predefined chunks as necessary.</p>

      <div class="margin-bottom-40"></div>

      <div class="row margin-bottom-10">
        <div class="col-sm-3 col-xs-6 md-margin-bottom-10">
          <div class="counters">
            <span class="counter">10629</span>
            <h4>Users</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 md-margin-bottom-10">
          <div class="counters">
            <span class="counter">277</span>
            <h4>Projects</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="counters">
            <span class="counter">78</span>
            <h4>Team Members</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="counters">
            <span class="counter">109</span>
            <h4>Awards</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-sm">
    <div class="row">
      <div class="col-sm-6 content-boxes-v3 content-boxes-v3-right sm-margin-bottom-30">
        <div class="margin-bottom-30">
          <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">Innovation Leader</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-directions"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="clearfix">
          <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-rocket"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">SEO &amp; Advertising</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 content-boxes-v3">
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-bar-chart"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">Analysis &amp; Consulting</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="clearfix margin-bottom-30">
          <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-badge"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">Quality Service &amp; Support</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
        <div class="clearfix">
          <i class="icon-custom icon-md rounded-x icon-bg-darker icon-line icon-envelope"></i>
          <div class="content-boxes-in-v3">
            <h2 class="heading-sm">Email Marketing</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-unstyled row portfolio-box-v1">
    <li class="col-md-3 col-sm-6">
      <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
      <div class="portfolio-box-v1-in">
        <h3>Collective Package</h3>
        <p>Web Design, Mock-up</p>
        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
      </div>
    </li>
    <li class="col-md-3 col-sm-6">
      <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
      <div class="portfolio-box-v1-in">
        <h3>Ahola Company</h3>
        <p>Brand Design, UI</p>
        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
      </div>
    </li>
    <li class="col-md-3 col-sm-6">
      <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
      <div class="portfolio-box-v1-in">
        <h3>YQBoots Project</h3>
        <p>Web Development, HTML5</p>
        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
      </div>
    </li>
    <li class="col-md-3 col-sm-6">
      <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
      <div class="portfolio-box-v1-in">
        <h3>Stand There</h3>
        <p>Brand Design, UI</p>
        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
      </div>
    </li>
  </ul>

  <div class="bg-grey content-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
          <h2 class="title-v2">WE ARE CREATIVE</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
            hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
            chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200
            Latin words, combined with a handful of model sentence structures.</p><br/>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
          <a href="#" class="btn-u">Purchase Now</a>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" th:src="@{/images/img_500x500.jpg}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container team-v1 content-sm">
    <div class="margin-bottom-40 text-center">
      <h2 class="title-v2 title-center">MEET OUR TEAM</h2>
      <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br/>
        We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
    </div>

    <ul class="list-unstyled row">
      <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
        <div class="team-img">
          <img class="img-responsive" th:src="@{/images/img_500x500.jpg}"/>
          <ul>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <h3>John Brown</h3>
        <h4>/ Technical Director</h4>
        <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
      </li>
      <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
        <div class="team-img">
          <img class="img-responsive" th:src="@{/images/img_500x500.jpg}"/>
          <ul>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <h3>Tina Krueger</h3>
        <h4>/ Lead Designer</h4>
        <p>Lead Designer mi porta gravida at eget metus id elit mi egetine...</p>
      </li>
      <li class="col-sm-3 col-xs-6">
        <div class="team-img">
          <img class="img-responsive" th:src="@{/images/img_500x500.jpg}"/>
          <ul>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <h3>David Case</h3>
        <h4>/ Web Developer</h4>
        <p>Web Developer in YQBoots agency porta gravida at eget metus id elit...</p>
      </li>
      <li class="col-sm-3 col-xs-6">
        <div class="team-img">
          <img class="img-responsive" th:src="@{/images/img_500x500.jpg}"/>
          <ul>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <h3>Kathy Reyes</h3>
        <h4>/ Creative Designer</h4>
        <p>Former Designer in Twitter non mi porta gravida at elit mi egetine...</p>
      </li>
    </ul>
  </div>

  <div class="bg-grey content-sm">
    <div class="container text-center">
      <h2 class="title-v2 title-center">FIND MORE ABOUT US</h2>
      <p class="space-lg-hor">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
        embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
        predefined chunks as necessary, making this the first true generator on the Internet.</p><br/>
      <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read About Us</a>
      <a href="#" class="btn-u">View Our Portfolio</a>
    </div>
  </div>
</div><!--/wrapper-->
<div layout:fragment="script">
  <script th:src="@{/js/plugins/revolution-slider.js}"></script>
  <script type="text/javascript">
      jQuery(document).ready(function() {
          RevolutionSlider.initRSfullScreenOffset();
      });
  </script>
</div>
</body>
</html>
