<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Inspire</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/parallax-slider/parallax-slider.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/fancybox/fancybox.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/owl-carousel/owl.carousel.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/titles.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headlines.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/testimonials.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/thumbnail.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/portfolio-box.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/content-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/interactive-slider-v2.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/flat-bg-block-v1.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/bg-image-v1.css}"/>
</head>
<body>
<div layout:fragment="content">
  <!-- Interactive Slider v2 -->
  <div class="interactive-slider-v2 img-v4">
    <div class="container">
      <h1>Welcome to Unify</h1>
      <p>Clean and fully responsive Template.</p>
    </div>
  </div>
  <!-- End Interactive Slider v2 -->

  <!--=== Content ===-->
  <div class="content-md">
    <div class="container">
      <!-- Service Box -->
      <div class="row text-center margin-bottom-60">
        <div class="col-md-4 md-margin-bottom-50">
          <img class="image-md margin-bottom-20" th:src="@{/images/icons/flat/01.png}"/>
          <h1 class="title-v3-md margin-bottom-10">Fully Responsive</h1>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
        </div>
        <div class="col-md-4 flat-service md-margin-bottom-50">
          <img class="image-md margin-bottom-20" th:src="@{/images/icons/flat/02.png}"/>
          <h2 class="title-v3-md margin-bottom-10">HTML5 + CSS3</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
        </div>
        <div class="col-md-4 flat-service">
          <img class="image-md margin-bottom-20" th:src="@{/images/icons/flat/03.png}"/>
          <h2 class="title-v3-md margin-bottom-10">Launch Ready</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
        </div>
      </div>
      <!-- End Service Box -->
    </div><!--/container -->

    <div class="bg-color-light">
      <div class="container content-sm">
        <div class="row">
          <div class="col-md-6 md-margin-bottom-50">
            <img class="img-responsive" th:src="@{/images/img_973x615.jpg}"/>
          </div>
          <div class="col-md-6">
            <br/><br/><br/>
            <div class="headline-left margin-bottom-30">
              <h2 class="headline-brd">WE ARE UNIFY AGENCY</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form.</p>
            </div>
            <ul class="list-unstyled lists-v2 margin-bottom-30">
              <li><i class="fa fa-check"></i> Suspendisse eget augue non dolor ultrices</li>
              <li><i class="fa fa-check"></i> Donec eget aliquet tortor, quis lacinia dolor</li>
              <li><i class="fa fa-check"></i> Curabitur ut augue at mi eleifend lobortis</li>
              <li><i class="fa fa-check"></i> Eleifend eget aliquet tortor, quis lacinia dolor</li>
            </ul>
            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Learn More</a>
          </div><!--/end row-->
        </div>
      </div>
    </div>
    <div class="container content-sm">
      <div class="headline-center margin-bottom-60">
        <h2>Recent Works</h2>
        <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a
            href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis
          orci</p>
      </div><!--/end Headline Center-->

      <!-- Portfolio Box -->
      <ul class="list-unstyled row portfolio-box">
        <li class="col-sm-4 md-margin-bottom-50">
          <a class="thumbnail fancybox" data-rel="gallery" title="Project One" th:href="@{/images/img_973x615.jpg}">
            <img class="full-width img-responsive" th:src="@{/images/img_973x615.jpg}"/>
            <span class="portfolio-box-in rounded-x">
								<i class="icon-magnifier-add"></i>
							</span>
          </a>
          <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Project One</h3></div>
          <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a>
          </small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet </p>
        </li>
        <li class="col-sm-4 md-margin-bottom-50">
          <a class="thumbnail fancybox" data-rel="gallery" title="Project Two" th:href="@{/images/img_973x615.jpg}">
            <img class="full-width img-responsive" th:src="@{/images/img_973x615.jpg}"/>
            <span class="portfolio-box-in rounded-x">
								<i class="icon-magnifier-add"></i>
							</span>
          </a>
          <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Project Two</h3></div>
          <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a>
          </small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet </p>
        </li>
        <li class="col-sm-4">
          <a class="thumbnail fancybox" data-rel="gallery" title="Project Three" th:href="@{/images/img_973x615.jpg}">
            <img class="full-width img-responsive" th:src="@{/images/img_973x615.jpg}"/>
            <span class="portfolio-box-in rounded-x">
								<i class="icon-magnifier-add"></i>
							</span>
          </a>
          <div class="headline-left margin-bottom-10"><h3 class="headline-brd">Project Three</h3></div>
          <small class="project-tag"><i class="fa fa-tag"></i><a href="#">Technology</a>, <a href="#">Business</a>
          </small>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet </p>
        </li>
      </ul>
      <!-- End Portfolio Box -->
    </div><!--/end container-->

    <!-- Flat Background Block -->
    <div class="flat-bg-block-v1 parallaxBg1 margin-bottom-60">
      <div class="container">
        <div class="row">
          <div class="col-md-7 md-margin-bottom-60">
            <div class="headline-left margin-bottom-20">
              <h2 class="headline-brd">Unify is Fully Responsive</h2>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas moles</p>
            </div><!--/end Headline Left-->

            <div class="row">
              <div class="col-sm-5">
                <ul class="list-unstyled checked-list">
                  <li><i class="fa fa-check"></i> Donec id elit non mi porta gravida</li>
                  <li><i class="fa fa-check"></i> Corporate and Creative</li>
                  <li><i class="fa fa-check"></i> Responsive Bootstrap Template</li>
                  <li><i class="fa fa-check"></i> Corporate and Creative</li>
                </ul>
              </div>
              <div class="col-sm-5 col-sm-offset-1">
                <ul class="list-unstyled checked-list">
                  <li><i class="fa fa-check"></i> Donec id elit non mi porta gravida</li>
                  <li><i class="fa fa-check"></i> Corporate and Creative</li>
                  <li><i class="fa fa-check"></i> Responsive Bootstrap Template</li>
                  <li><i class="fa fa-check"></i> Corporate and Creative</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <img class="img-over img-responsive" th:src="@{/images/img_500x325.jpg}"/>
          </div>
        </div>
      </div><!--/end container-->
    </div>
    <!-- End Flat Background Block -->

    <div class="container">
      <div class="headline-left margin-bottom-40">
        <h2 class="headline-brd">Latest Shots</h2>
      </div><!--/end Headline Left-->

      <div class="row margin-bottom-60">
        <div class="col-sm-6">
          <!-- Owl Carousel v5 -->
          <div class="owl-carousel-v5">
            <div class="owl-slider-v5">
              <div class="item">
                <img class="full-width img-responsive" th:src="@{/images/img_973x615.jpg}"/>
              </div>
              <div class="item">
                <img class="full-width img-responsive" th:src="@{/images/img_973x615.jpg}"/>
              </div>
              <div class="item">
                <img class="full-width img-responsive" th:src="@{/images/img_973x615.jpg}"/>
              </div>
            </div>
          </div>
          <!-- End Owl Carousel v5 -->
        </div>
        <div class="col-sm-6">
          <h3>Justo cras odio apibus ac afilisi</h3><br/>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ipsum vel mi gravida mattis. Ut sit amet
            laoreet diam. Fusce iaculis sollicitudin purus, in tristique urna. Suspendisse potenti. Fusce non sem
            efficitur leo fermentum porttitor ut vitae orci. Aliquam erat volutpat.</p><br/>
          <p>Sed consectetur blandit ornare. Etiam at ante est. Nunc sed luctus ipsum, eu tincidunt justo. Sed id
            venenatis tellus. Mauris a cursus dolor. Maecenas sed magna non est interdum sollicitudin eget vitae ex. Ut
            eget lacus lorem.</p><br/>
          <button type="button" class="btn-u text-uppercase">View More</button>
        </div>
      </div><!--/end row-->
    </div><!--/end container-->

    <!-- Flat Testimonials -->
    <div class="testimonials-v3 bg-image-v1 parallaxBg margin-bottom-60">
      <div class="container">
        <div class="headline-center headline-light margin-bottom-60">
          <h2>What People Are Saying</h2>
          <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a
              href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere
            mollis orci</p>
        </div><!--/end Headline Center-->

        <div class="row">
          <div class="col-sm-4">
            <div class="testimonials-v3-in md-margin-bottom-50">
              <img class="rounded-x img-responsive" th:src="@{/images/user.jpg}"/>
              <h3>Anthony Connor</h3>
              <span class="color-green">Software Developer</span>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="testimonials-v3-in md-margin-bottom-50">
              <img class="rounded-x img-responsive" th:src="@{/images/user.jpg}"/>
              <h3>Angela Danil</h3>
              <span class="color-green">Web Designer</span>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="testimonials-v3-in">
              <img class="rounded-x img-responsive" th:src="@{/images/user.jpg}"/>
              <h3>Anthony Connor</h3>
              <span class="color-green">Software Developer</span>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml</p>
            </div>
          </div>
        </div><!--/end row-->
      </div><!--/end container-->
    </div>
    <!-- End Flat Testimonials -->

    <div class="container">
      <div class="headline-center margin-bottom-60">
        <h2>What We Provide</h2>
        <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a
            href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis
          orci</p>
      </div><!--/end Headline Center-->

      <div class="row margin-bottom-40">
        <div class="col-md-4">
          <div class="content-boxes-v5 margin-bottom-30">
            <i class="rounded-x icon-layers"></i>
            <div class="overflow-h">
              <h3 class="no-top-space">Responsive Layout</h3>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
            </div>
          </div>
          <div class="content-boxes-v5 md-margin-bottom-30">
            <i class="rounded-x icon-settings"></i>
            <div class="overflow-h">
              <h3 class="no-top-space">Color Options</h3>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-boxes-v5 margin-bottom-30">
            <i class="rounded-x icon-earphones-alt "></i>
            <div class="overflow-h">
              <h3 class="no-top-space">Outstanding Support</h3>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
            </div>
          </div>
          <div class="content-boxes-v5 md-margin-bottom-30">
            <i class="rounded-x icon-user "></i>
            <div class="overflow-h">
              <h3 class="no-top-space">User Friendly</h3>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-boxes-v5 margin-bottom-30">
            <i class="rounded-x icon-wrench"></i>
            <div class="overflow-h">
              <h3 class="no-top-space">Customizable Design</h3>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
            </div>
          </div>
          <div class="content-boxes-v5 md-margin-bottom-30">
            <i class="rounded-x icon-star"></i>
            <div class="overflow-h">
              <h3 class="no-top-space">Free Updates</h3>
              <p>Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
            </div>
          </div>
        </div>
      </div><!--/end row-->
    </div><!--/end container-->
  </div>
  <!--=== End Content ===-->
</div><!--/wrapper-->
</body>
</html>
