<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v07/layout">
<head>
  <title>Registration v2</title>
  <link rel="stylesheet" th:href="@{/css/pages/login-registration-v2.css}"/>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
  <div class="row equal-height-columns">
    <div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column"></div>

    <div class="col-md-6 col-sm-6 form-block equal-height-column">
      <div class="reg-block">
        <a th:href="@{/}">
          <img th:src="@{/theme/images/logo-green.png}"/>
        </a>

        <h2 class="margin-bottom-30">Create new account</h2>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon rounded-left"><i class="icon-pencil color-green"></i></span>
          <input type="text" class="form-control rounded-right" placeholder="Your name"/>
        </div>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon rounded-left"><i class="icon-user color-green"></i></span>
          <input type="text" class="form-control rounded-right" placeholder="Username"/>
        </div>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon rounded-left"><i class="icon-envelope color-green"></i></span>
          <input type="email" class="form-control rounded-right" placeholder="Your email"/>
        </div>

        <div class="input-group margin-bottom-30">
          <span class="input-group-addon rounded-left"><i class="icon-lock color-green"></i></span>
          <input type="password" class="form-control rounded-right" placeholder="Password"/>
        </div>

        <div class="checkbox margin-bottom-30">
          <label>
            <input type="checkbox"/> I agree to terms &amp; conditions
          </label>

          <label>
            <input type="checkbox"/> Subscribe to our newsletter
          </label>
        </div>

        <button type="submit" class="btn-u btn-block rounded">Create new</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>