<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Accordion</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/accordions.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Accordion</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Accordion</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content height-500">
  <div class="panel-group accordion-v1" id="accordion-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse1">
            Collapsible Group Item #1
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse in" id="collapse1">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="/images/img_973x615.jpg"/>
            </div>
            <div class="col-md-8">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse2">
            Collapsible Group Item #2
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="collapse2">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid.</p>
              <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget
                  metus..
                </li>
                <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..
                </li>
                <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod
                  runch..
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="/images/img_973x615.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse3">
            Collapsible Group Item #3
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="collapse3">
        <div class="panel-body">
          Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food
          truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher
          vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse4">
            Collapsible Group Item #4
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="collapse4">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
          moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
          shoreditch et.
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
