<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>About Me 2</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/css/cubeportfolio.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/custom/custom-cubeportfolio.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/call-actions.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/quotes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">About Me</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">About Me</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!--=== Container Part ===-->
  <div class="container content-sm">
    <div class="row">
      <!-- Social Network -->
      <div class="col-md-6 md-margin-bottom-50">
        <div class="headline-left margin-bottom-30">
          <h2 class="headline-brd heading-md">ABOUT <span class="color-green">ME</span></h2>
        </div>
        <p>Foster tackle reduce child mortality freedom accelerate dedicated international development United Nations.
          Environmental progressive deep engagement; giving carbon rights community health workers achieve
          inspiration.</p>
        <p>Development United Nations. Environmental progressive deep engagement; giving carbon rights community health
          workers achieve inspiration.</p><br/>
        <ul class="list-inline social-icons-v1">
          <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="rounded-x fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- End Social Network -->

      <!-- Progress Bar -->
      <div class="col-md-6 progress-box md-margin-bottom-50">
        <div class="headline-left margin-bottom-30">
          <h2 class="headline-brd heading-md">MY <span class="color-green">SKILLS</span></h2>
        </div>
        <h3 class="heading-xs">Web Design <span class="pull-right">88%</span></h3>
        <div class="progress progress-u progress-xxs">
          <div class="progress-bar progress-bar-dark" role="progressbar" data-width="88">
          </div>
        </div>

        <h3 class="heading-xs">PHP/WordPress <span class="pull-right">76%</span></h3>
        <div class="progress progress-u progress-xxs">
          <div class="progress-bar progress-bar-dark" role="progressbar" data-width="76">
          </div>
        </div>

        <h3 class="heading-xs">HTML/CSS <span class="pull-right">97%</span></h3>
        <div class="progress progress-u progress-xxs">
          <div class="progress-bar progress-bar-dark" role="progressbar" data-width="97">
          </div>
        </div>
      </div>
      <!-- End Progress Bar -->
    </div><!--/end row-->
  </div>
  <!--=== End Container Part ===-->

  <!--=== Quote v1 ===-->
  <div class="quote-v1 parallaxBg">
    <div class="container">
      <p>Everyone knows that debugging is twice as hard as writing a program in the first place. So if you're as clever
        as you can be when you write it, how will you ever debug it.</p>
      <span>Jimmy Howell, <a href="#">CEO, Director</a></span>
    </div>
  </div>
  <!--=== End Quote v1 ===-->

  <!--=== Portfolio ===-->
  <div class="container content-sm">
    <div class="headline-center margin-bottom-30">
      <h2 class="headline-brd heading-md">LATEST <span class="color-green">PROJECTS</span></h2>
      <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you
        need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
        on the Internet tend to repeat predefined chunks as necessary, making <span
          class="color-green">this the first</span> true generator on the Internet.</p>
    </div>

    <!-- Cube Portfolio -->
    <div class="cube-portfolio container margin-bottom-20">
      <div class="margin-bottom-30">
        <div id="filters-container" class="cbp-l-filters-text">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All</div>
          |
          <div data-filter=".illustration" class="cbp-filter-item"> Illustration</div>
          |
          <div data-filter=".web-design" class="cbp-filter-item"> Web Design</div>
          |
          <div data-filter=".graphic" class="cbp-filter-item"> Graphic</div>
          |
          <div data-filter=".logo" class="cbp-filter-item"> Logo</div>
        </div><!--/end Filters Container-->
      </div>

      <div id="grid-container" class="cbp-l-grid-gallery">
        <div class="cbp-item illustration web-design">
          <a class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget&lt;br/&gt;by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg}"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Paul Flavius</div>
                  <div class="cbp-l-caption-desc">Development</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item web-design logo">
          <a class="cbp-caption cbp-singlePageInline" data-title="Bolt UI&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg}"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Web-Design</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item illustration web-design">
          <a class="cbp-caption cbp-singlePageInline" data-title="WhereTO App&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg}"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Illustration</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item web-design illustration">
          <a class="cbp-caption cbp-singlePageInline" data-title="iDevices&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg}"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Illustration</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item web-design graphic">
          <a class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg}"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Illustration</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item illustration web-design graphic">
          <a class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg}"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Web-Design</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div><!--/end Grid Container-->
    </div>
    <!-- End Cube Portfolio -->
  </div>
  <!--=== End Portfolio ===-->

  <!--=== Call To Action v2 ===-->
  <div class="call-action-v2 parallaxBg">
    <div class="container">
      <h2>Hire Me!</h2>
      <p>Nulla ipsum dolor sit amet, consectetur adipiscing elitut eleifend nisl. In hac habitasse platea dictumst.
        Curabitur hendrerit, Proin et augue vel nisi rhoncus tincidunt lectus in bibendum pellentesque, lacus eros
        rutrum ligula.</p>
      <a href="#" class="btn-u">Get In Touch</a>
    </div>
  </div>
  <!--=== End Call To Action v2 ===-->
</div>
</body>
</html>
