<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>About Me</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/css/cubeportfolio.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/custom/custom-cubeportfolio.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/titles.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/counters.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/parallax-quote.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/about-me.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/social-icons.css}"/>
  <link rel="stylesheet" th:href="@{/css/blocks/parallax-counter-v2.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">About Me</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li><a href="">Page</a></li>
      <li class="active">About me</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- About Me Block -->
  <div class="container content-sm">
    <div class="row about-me">
      <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
        <div class="box-shadow shadow-effect-2">
          <img class="img-responsive img-bordered full-width" src="/images/img_500x500.jpg"/>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="overflow-h">
          <div class="pull-left">
            <h2>John Watson</h2>
            <span>CEO, Director</span>
          </div>
          <ul class="social-icons pull-right">
            <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
            <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
            <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
            <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
          </ul>
        </div>
        <p>Nulla fermentum blandit dolor eu dictum. Nulla faucibus libero eget mi tempus, quis laoreet ante congue.
          Nullam sed tortor vitae magna auctor vestibulum. Fusce gravida, mauris at vulputate aliquet, arcu nunc
          scelerisque mi, pellentesque mollis lectus mauris in urna.</p>
        <p>Suspendisse non magna sed justo tincidunt pellentesque. Proin sit amet ligula vel orci tempus viverra. Donec
          massa justo, sodales in leo pretium, adipiscing dictum mi. Nullam sed eleifend purus. Sed eget lacus eget urna
          venenatis hendrerit sed sit amet dui. Suspendisse lorem velit, tincidunt nec mattis ut, gravida adipiscing
          sapien.</p><br/>

        <div class="row">
          <!-- Smallest Progress Bar -->
          <div class="col-md-6 md-margin-bottom-40">
            <h3 class="heading-xs">Web Design - 88%</h3>
            <div class="progress progress-u progress-sm">
              <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="88" aria-valuemin="0"
                   aria-valuemax="100" style="width: 88%">
              </div>
            </div>

            <h3 class="heading-xs">jQuery - 93%</h3>
            <div class="progress progress-u progress-sm">
              <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="93" aria-valuemin="0"
                   aria-valuemax="100" style="width: 93%">
              </div>
            </div>
          </div>
          <!-- End Smallest Progress Bar -->

          <!-- Smallest Progress Bar -->
          <div class="col-md-6 md-margin-bottom-40">
            <h3 class="heading-xs">PHP/WordPress - 76%</h3>
            <div class="progress progress-u progress-sm">
              <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="76" aria-valuemin="0"
                   aria-valuemax="100" style="width: 76%">
              </div>
            </div>

            <h3 class="heading-xs">JavaScript - 97%</h3>
            <div class="progress progress-u progress-sm">
              <div class="progress-bar progress-bar-dark" role="progressbar" aria-valuenow="97" aria-valuemin="0"
                   aria-valuemax="100" style="width: 97%">
              </div>
            </div>
          </div>
          <!-- End Smallest Progress Bar -->
        </div>
      </div>
    </div>
  </div>
  <!-- End About Me Block -->

  <!-- Parallax Quote -->
  <div class="parallax-quote parallaxBg">
    <div class="container">
      <div class="parallax-quote-in">
        <p>If you can design one thing <span class="color-green">you can design</span> everything. <br/> Just Believe
          It.
        </p>
        <small>- JOHN WATSON -</small>
      </div>
    </div>
  </div>
  <!-- End Parallax Quote -->

  <!-- Portfolio -->
  <div class="container content-sm">
    <div class="text-center">
      <h2 class="title-v2 title-center">LATEST PROJECTS</h2>
      <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you
        need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
        on the Internet tend to repeat predefined chunks as necessary, making <span
          class="color-green">this the first</span> true generator on the Internet.</p><br/>
    </div>

    <!-- Cube Portfolio -->
    <div class="cube-portfolio container margin-bottom-20">
      <div class="margin-bottom-30">
        <div id="filters-container" class="cbp-l-filters-text">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All</div>
          |
          <div data-filter=".illustration" class="cbp-filter-item"> Illustration</div>
          |
          <div data-filter=".web-design" class="cbp-filter-item"> Web Design</div>
          |
          <div data-filter=".graphic" class="cbp-filter-item"> Graphic</div>
          |
          <div data-filter=".logo" class="cbp-filter-item"> Logo</div>
        </div><!--/end Filters Container-->
      </div>

      <div id="grid-container" class="cbp-l-grid-gallery">
        <div class="cbp-item illustration web-design">
          <a class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget&lt;br/&gt;by Paul Flavius Nechita">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Paul Flavius</div>
                  <div class="cbp-l-caption-desc">Development</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item web-design logo">
          <a class="cbp-caption cbp-singlePageInline" data-title="Bolt UI&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Web-Design</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item illustration web-design">
          <a class="cbp-caption cbp-singlePageInline" data-title="WhereTO App&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Illustration</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item web-design illustration">
          <a class="cbp-caption cbp-singlePageInline" data-title="iDevices&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Illustration</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item web-design graphic">
          <a class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Illustration</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item illustration web-design graphic">
          <a class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget&lt;br/&gt;by Tiberiu Neamu">
            <div class="cbp-caption-defaultWrap">
              <img src="/images/img_500x325.jpg"/>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Tiberiu Neamu</div>
                  <div class="cbp-l-caption-desc">Web-Design</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div><!--/end Grid Container-->
    </div>
    <!-- End Cube Portfolio -->
  </div>
  <!-- End Portfolio -->

  <!-- Parallax Counter -->
  <div class="parallax-counter-v2 parallaxBg1">
    <div class="container">
      <ul class="row list-row">
        <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
          <div class="counters rounded">
            <span class="counter">18298</span>
            <h4 class="text-transform-normal">Projets Finished</h4>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
          <div class="counters rounded">
            <span class="counter">24583</span>
            <h4 class="text-transform-normal">Cup of Coffe</h4>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-30">
          <div class="counters rounded">
            <span class="counter">37904</span>
            <h4 class="text-transform-normal">Hours Of Experience</h4>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="counters rounded">
            <span class="counter">3530</span>
            <h4 class="text-transform-normal">Happy Customors</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Parallax Counter -->
</div>
</body>
</html>
