<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Box Shadows</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/box-shadow.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/blockquote.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Box Shadows</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Box Shadows</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="row margin-bottom-30">
    <div class="col-md-6">
      <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <h2>Expedita distinctio lorem ipsum!</h2>

        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur
          adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
          eleifend enim a feugiat.</p>
      </div>
    </div>
    <div class="col-md-6 shadow-wrapper">
      <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <h2>Expedita distinctio lorem ipsum!</h2>

        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur
          adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
          eleifend enim a feugiat.</p>
      </div>
    </div>
  </div>

  <!--Box Shadow Effects3/4-->
  <div class="row margin-bottom-40">
    <div class="col-md-6 shadow-wrapper">
      <blockquote class="hero box-shadow shadow-effect-4">
        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit
          posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum
          dolor sit amet, consectetur adipiscing"</em></p>
        <small><em>Etiam porta sem malesuada</em></small>
      </blockquote>
    </div>
    <div class="col-md-6 shadow-wrapper">
      <blockquote class="hero text-right box-shadow shadow-effect-3">
        <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit
          posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum
          dolor sit amet, consectetur adipiscing"</em></p>
        <small><em>Etiam porta sem malesuada</em></small>
      </blockquote>
    </div>
  </div>

  <div class="shadow-wrapper">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
      <h2>Expedita distinctio lorem ipsum!</h2>

      <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur
        adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
        eleifend enim a feugiat.</p>
    </div>
  </div>

  <div class="clearfix margin-bottom-30"></div>

  <div class="shadow-wrapper">
    <blockquote class="hero box-shadow shadow-effect-2">
      <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere
        erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit
        amet, consectetur adipiscing"</em></p>
      <small><em>Etiam porta sem malesuada</em></small>
    </blockquote>
  </div>
</div>
</body>
</html>
