<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>General Typography</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tabs.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">General Typography</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">General Typography</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <!-- Paragraph and Heading Examples -->
  <div class="row margin-bottom-20">
    <!-- Paragraph Examples -->
    <div class="col-md-6">
      <div class="headline"><h2>Paragraph Examples</h2></div>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam
        lacus.</p>
      <p><strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam eaque.</strong></p>
      <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
        consequatur aut repellat.</p>
      <p><em>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        deleniti atque corrupti quos.</em></p>
      <p>
        <small>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt.
        </small>
      </p>
    </div>

    <!-- Heading Examples -->
    <div class="col-md-6">
      <div class="headline"><h2>Headings</h2></div>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
        looking at its layout. The point of using Lorem Ipsum.</p>
      <h1>h1. Heading 1
        <small>Secondary text</small>
      </h1>
      <h2>h2. Heading 2
        <small>Secondary text</small>
      </h2>
      <h3>h3. Heading 3
        <small>Secondary text</small>
      </h3>
      <h4>h4. Heading 4
        <small>Secondary text</small>
      </h4>
      <h5>h5. Heading 5
        <small>Secondary text</small>
      </h5>
      <h6>h6. Heading 6
        <small>Secondary text</small>
      </h6>
    </div>
  </div>
  <!-- End Paragraph and Heading Examples -->

  <!-- Dropcaps -->
  <div class="tag-box tag-box-v3">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Dropcaps</h2>
    <p>To make dropcaps you should add a class <code>.dropcap</code> or <code>.dropcap-bg</code> to
      <code>span</code> tag.</p><br/>

    <p><span class="dropcap">D</span>established fact that a reader will be distracted by the readable content of
      a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      distribution of letters, as opposed to using 'Content here, content here', making it look like readable
      English. It is a long established fact that a reader will be distracted by the readable content of a page
      when looking at its layout. The point of using Lorem, Many desktop publishing packages and web page editors
      now use Lorem Ipsum as their default model text</p>

    <hr/>

    <p><span class="dropcap-bg">D</span> passages of Lorem Ipsum available, but the majority have suffered
      alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
      If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
      hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
      chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200
      Latin words. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC.</p>

    <hr/>

    <p><span class="dropcap-bg rounded-x">D</span>variations of passages of Lorem Ipsum available, but the
      majority have suffered alteration in some form, by injected humour, or randomised words which don't look
      even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
      anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
      repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a
      dictionary of over 200 Latin words. Many desktop publishing packages and web page editors now use Lorem
      Ipsum as their default model text.</p>
  </div>
  <!-- Dropcaps -->

  <!-- Border & Colours Texts-->
  <div class="tag-box tag-box-v2">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Bordered &amp; Colours Texts</h2>

    <p>Lorem ipsum dolor sit amet <span class="color-red">consectetur adipiscing</span> elit. Ut non libero magna.
      Sed et quam lacus. Sed ut <span class="color-sea">perspiciatis unde</span> omnis iste natus error sit <span
          class="color-blue">voluptatem accusantium</span> doloremque laudantium, totam rem aperiam eaque. Itaque
      earum rerum hic tenetur a <span class="color-green">sapiente delectus</span> ut aut reiciendis voluptatibus
      maiores <span class="color-orange">alias consequatur aut</span> earum repellat.</p>

    <hr/>

    <p>Lorem ipsum dolor sit amet <span class="color-purple">consectetur adipiscing</span> elit. Ut non libero
      magna. Sed et quam lacus. Sed ut <span class="color-aqua">perspiciatis unde</span> omnis iste natus error
      sit <span class="color-brown">voluptatem accusantium</span> doloremque laudantium, totam rem aperiam eaque.
      Itaque earum rerum hic tenetur a <span class="color-dark-blue">sapiente delectus</span> ut aut reiciendis
      voluptatibus maiores <span class="color-light-green">alias consequatur aut</span> earum repellat.</p>

    <hr/>

    <p><span class="text-border text-border-yellow">If you are going to use a passage</span> of Lorem Ipsum, you
      need to be <span class="text-border text-border-red">sure there isn't anything</span> embarrassing hidden in
      the middle of text. All predefined the <span class="text-border text-border-green">Lorem Ipsum generators on the Internet</span>
      tend to repeat chunks as necessary.</p>
  </div>
  <!-- Border & Colours Texts-->

  <!-- End Tooltips & Popovers -->
  <div class="tag-box tag-box-v3">
    <!-- Tooltips -->
    <h2>Tooltips</h2>

    <p>Passages of <a href="#" class="tooltips" data-toggle="tooltip" data-original-title="Default tooltip">Lorem
      Ipsum I am a tooltip</a> on the other hand we denounce with
      <a class="tooltips-show" href="#" data-toggle="tooltip" data-original-title="Tooltip example">Hover over me</a>
      righteous but the majority have suffered alteration in some form, by injected humour, or <span
          class="text-border text-border-blue tooltips" data-toggle="tooltip" data-original-title="Default tooltip">Another Tooltip Example</span>
      words which don't look even slightly believable.</p><br/><br/>

    <p>Passages of <span class="text-border text-border-red tooltips-show" data-toggle="tooltip"
                         data-original-title="Default tooltip">Another Tooltip Example</span> on the other hand we
      denounce with Hover over me <span class="text-highlights text-highlights-purple rounded tooltips"
                                        data-toggle="tooltip" data-original-title="Default tooltip">Another Tooltip Example</span>
      majority have suffered alteration in some form, by injected humour, or randomised words which don't look
      even slightly believable.</p><br/>

    <p>
      <button type="button" class="tooltips btn-u btn-brd rounded btn-u-xs btn-u-default" data-toggle="tooltip"
              data-placement="left" title="Tooltip on left">Tooltip on left
      </button>
      <button type="button" class="tooltips btn-u btn-brd rounded btn-u-xs" data-toggle="tooltip"
              data-placement="top" title="Tooltip on top">Tooltip on top
      </button>
      <button type="button" class="tooltips btn-u btn-brd rounded btn-u-xs" data-toggle="tooltip"
              data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom
      </button>
      <button type="button" class="tooltips btn-u btn-brd rounded btn-u-xs" data-toggle="tooltip"
              data-placement="right" title="Tooltip on right">Tooltip on right
      </button>
    </p>
    <br/>
    <!-- End Tooltips -->

    <hr/>

    <!-- Popovers -->
    <h2>Popovers</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero magnaed et quam lacus. Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p><br/>
    <p>
      <button type="button" class="popovers btn-u btn-brd rounded btn-u-xs btn-u-default" data-container="body"
              data-toggle="popover" data-placement="left"
              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover on left
      </button>

      <button type="button" class="popovers btn-u btn-brd rounded btn-u-xs btn-u-default" data-container="body"
              data-toggle="popover" data-placement="top"
              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover on top
      </button>

      <button type="button" class="popovers btn-u btn-brd rounded btn-u-xs btn-u-default" data-container="body"
              data-toggle="popover" data-placement="bottom" data-content="Vivamus
							sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover on bottom
      </button>

      <button type="button" class="popovers btn-u btn-brd rounded btn-u-xs btn-u-default" data-container="body"
              data-toggle="popover" data-placement="right"
              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover on right
      </button>
    </p>
    <!-- End Popovers -->
  </div>
  <!-- End Tooltips & Popovers -->

  <!-- Emphasis and Misc Classes -->
  <div class="tag-box tag-box-v3">
    <div class="row">
      <div class="col-md-3">
        <h2 class="heading-sm">Emphasis Classes</h2>
        <p class="muted">Muted Textxt Information</p>
        <p class="text-primary">Primary Textxt Information</p>
        <p class="text-success">Success Textxt Information</p>
        <p class="text-warning">Warning Textxt Information</p>
        <p class="text-danger">Danger Textxt Information</p>
        <p class="text-info">Info Textxt Information</p>
        <p class="text-success">Success Textxt Information</p>
      </div>
      <div class="col-md-3">
        <h2 class="heading-sm">Address</h2>
        <address>
          <strong>Twitter, Inc.</strong><br/>
          795 Folsom Ave, Suite 600<br/>
          San Francisco, CA 94107<br/>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
          <strong>Full Name</strong><br/>
          <a href="mailto:#">first.last@example.com</a>
        </address>
      </div>
      <div class="col-md-6">
        <h2 class="heading-sm">Misc Collection</h2>
        <p>Lorem Ipsum is simply dummy text and <a href="#">here is a link example.</a></p>
        <p>
          <del>Use a tag del lorem Ipsum is simply dummy text</del>
        </p>
        <p>Some <sup>sup example</sup> and some more <sub>sub example</sub></p>
        <p><abbr title="attribute">attr distribution</abbr> of letters as opposed <abbr
            title="attribute">attr</abbr> to using</p>
        <p><span style="text-decoration: underline;">Use a tag span lorem Ipsum is simply dummy text</span></p>
      </div>
    </div><!--/row-->
  </div>
  <!-- End Emphasis and Misc Classes -->

  <!-- Highlights -->
  <div class="tab-v2">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#highlights-1" data-toggle="tab">Highlights #1</a></li>
      <li><a href="#highlights-2" data-toggle="tab">Highlights #2</a></li>
      <li><a href="#highlights-3" data-toggle="tab">Highlights #3</a></li>
      <li><a href="#highlights-4" data-toggle="tab">@ Usage of Rounded Classes</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="highlights-1">
        <p>Passages of Lorem Ipsum <span class="text-highlights rounded">on the other hand we denounce</span> with
          righteous but the majority have suffered alteration in some form, by injected humour, or randomised
          words which don't look even slightly believable. <span class="text-highlights text-highlights-green">If you are going to use a passage</span>
          of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
          the Lorem Ipsum generators on the Internet tend to repeat <span
              class="text-highlights text-highlights-blue">predefined chunks as necessary</span> making this the
          first true generator on the Internet. It uses a dictionary of over 200 Latin words. Contrary to popular
          belief, Lorem Ipsum is not simply random text. <span
              class="text-highlights text-highlights-red rounded-2x">It has roots in a piece of classical Latin</span>
          literature from 45 BC.</p>
      </div>
      <div class="tab-pane fade" id="highlights-2">
        <p>At vero eos et accusamus et iusto odio <span class="text-highlights text-highlights-dark-blue">dignissimos ducimus qui blanditiis praesentium</span>
          voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
          non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
          <span
              class="text-highlights text-highlights-light-green rounded">fuga harum quidem rerum facilis est</span>
          et expedita distinctio.</p>
      </div>
      <div class="tab-pane fade" id="highlights-3">
        <p><span
            class="text-highlights text-highlights-sea rounded-2x">On the other hand, we denounce with righteous</span>
          indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
          so blinded by desire, that they cannot foresee the <span class="text-highlights text-highlights-orange">pain and trouble that are bound</span>
          to ensue; and equal blame belongs to those <span class="text-highlights text-highlights-purple">who fail in their duty through weakness</span>
          of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly
          simple and easy to distinguish. In a free hour, when our power of choice is <span
              class="text-highlights text-highlights-aqua">untrammelled and when nothing</span> prevents our being
          <span class="text-highlights text-highlights-brown rounded">able to do what we like best</span> every
          pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims
          of duty or the obligations.</p>
      </div>
      <div class="tab-pane fade" id="highlights-4">
        <h3 class="heading-sm">Rounded Highlights</h3>
        <p>You should add rounded classes to highlights <code>.rounded</code> and <code>.rounded-2x</code></p>
        <hr/>
        <p>At vero eos et accusamus et iusto odio <span class="text-highlights text-highlights-yellow rounded">.rouned highlight</span>
          voluptatum deleniti atque corrupti quos dolores et quas molestias sunt in culpa qui officia deserunt
          mollitia animi, id est laborum et dolorum <span class="text-highlights text-highlights-red rounded-2x">.rouned-2x highlight</span>
          et expedita distinctio.</p>
      </div>
    </div>
  </div>
  <!-- End Highlights -->

  <div class="clearfix margin-bottom-40"></div>

  <!-- Descriptions and Lists -->
  <div class="tag-box tag-box-v3">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- Descriptions -->
    <div class="row margin-bottom-30">
      <!-- Description List -->
      <div class="col-md-6">
        <div class="headline"><h2>Description</h2></div>
        <dl>
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
      </div>
      <!-- End Description List -->

      <!-- Horizontal Description -->
      <div class="col-md-6">
        <div class="headline"><h2>Horizontal Description</h2></div>
        <dl class="dl-horizontal">
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          <dt>Felis euismod semper eget lacinia</dt>
          <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum</dd>
        </dl>
      </div>
      <!-- End Horizontal Description -->
    </div><!--/row-->
    <!-- End Descriptions -->

    <!-- Ordered and Unordered Lists -->
    <div class="row margin-bottom-40">
      <!-- Unordered Lists -->
      <div class="col-md-4">
        <div class="headline"><h2>Unordered Lists</h2></div>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>

      <!-- Unstyled Lists -->
      <div class="col-md-4">
        <div class="headline"><h2>Unstyled Lists</h2></div>
        <ul class="list-unstyled">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>

      <!-- Ordered Lists -->
      <div class="col-md-4">
        <div class="headline"><h2>Ordered Lists</h2></div>
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ol>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor</li>
              <li>Ac tristique libero volutpat at</li>
            </ol>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div><!--/row-->
    <!-- End Ordered and Unordered Lists -->

    <!-- Inline Lists -->
    <div class="headline"><h2>Inline Lists</h2></div>
    <ul class="list-inline margin-bottom-40">
      <li>1. <a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>2. <a href="#">About</a></li>
      <li>3. <a href="#">Services</a></li>
      <li>4. <a href="#">Work</a></li>
      <li>5. <a href="#">Blog</a></li>
      <li>6. <a href="#">Portfolio</a></li>
      <li>7. <a href="#">Contacts</a></li>
    </ul>
    <!-- End Inline Lists -->
  </div>
  <!-- End Descriptions and Lists -->

  <div class="clearfix margin-bottom-10"></div>

  <!-- Contextual Backgrounds -->
  <div class="tab-v2">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#contextual-bg-1" data-toggle="tab">Deafult Contextual Backgrounds</a></li>
      <li><a href="#contextual-bg-2" data-toggle="tab">Rounded Examples</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="contextual-bg-1">
        <h3 class="heading-sm margin-bottom-20">Default Contextual Backgrounds</h3>
        <div class="context-bg">
          <p class="bg-primary">Normal distribution of letters</p>
          <p class="bg-success">Normal distribution of letters</p>
          <p class="bg-info">Normal distribution of letters</p>
          <p class="bg-warning">Normal distribution of letters</p>
          <p class="bg-danger">Normal distribution of letters</p>
        </div>
      </div>
      <div class="tab-pane fade" id="contextual-bg-2">
        <h3 class="heading-sm margin-bottom-20">Rounded Examples</h3>
        <p>You should add rounded classes to highlights <code>.rounded</code>, <code>.rounded-2x</code>, <code>.rounded-3x</code>
          and .rounded-4x</p><br/>
        <div class="context-bg">
          <p class="bg-danger">Default Example</p>
          <p class="bg-warning rounded">.rounded Example</p>
          <p class="bg-success rounded-2x">.rounded-2x Example</p>
          <p class="bg-info rounded-3x">.rounded-3x Example</p>
          <p class="bg-primary rounded-4x">.rounded-4x Example</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contextual Backgrounds -->
</div>
</body>
</html>
