<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Headings</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/headings.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Headings</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Headings</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="tag-box tag-box-v3">
    <!-- Heading v1 -->
    <div class="heading heading-v1 margin-bottom-40">
      <h2>Heading Strip Style</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged</p>
    </div>
    <!-- End Heading v1 -->

    <!-- Heading v2 -->
    <div class="heading heading-v2 margin-bottom-40">
      <h2>Heading Dashed Style</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged</p>
    </div>
    <!-- End Heading v2 -->

    <!-- Heading v3 -->
    <div class="heading heading-v3 margin-bottom-40">
      <h2>Heading Dotted Style</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged</p>
    </div>
    <!-- End Heading v3 -->
  </div>
  <div class="tag-box tag-box-v3">
    <!-- Heading v4 -->
    <div class="heading heading-v4 margin-bottom-40">
      <h2>Heading Strip Style</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged</p>
    </div>
    <!-- End Heading v4 -->

    <!-- Heading v5 -->
    <div class="heading heading-v5 margin-bottom-40">
      <h2>Heading Dashed Style</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged</p>
    </div>
    <!-- End Heading v5 -->

    <!-- Heading v6 -->
    <div class="heading heading-v6">
      <h2>Heading Dotted Style</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged</p>
    </div>
    <!-- End Heading v6 -->
  </div>
</div>
</body>
</html>
