<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Tagline Boxes</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tag-boxes.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Tagline Boxes</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Tagline Boxes</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <!--Tag Box v2-->
  <div class="tag-box tag-box-v2 margin-bottom-40">
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
  </div>
  <!--End Tag Box v2-->

  <!--End Tag Box v3-->
  <div class="tag-box tag-box-v3 margin-bottom-40">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Expedita distinctio lorem ipsum!</h2>
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat.</p>
  </div>
  <!--End Tag Box v3-->

  <!--Tag Box v1-->
  <div class="tag-box tag-box-v1 margin-bottom-40">
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
  </div>
  <!--End Tag Box v1-->

  <!--Tag Box v1/v3-->
  <div class="row">
    <div class="col-md-6">
      <div class="tag-box tag-box-v3 margin-bottom-40">
        <h2>Expedita distinctio lorem ipsum!</h2>
        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur
          adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
          eleifend enim a feugiat.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tag-box tag-box-v2 margin-bottom-40">
        <h2>Expedita distinctio lorem ipsum!</h2>
        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur
          adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
          eleifend enim a feugiat.</p>
      </div>
    </div>
  </div>
  <!--End Tag Box v1/v3-->

  <!--Tag Box v4-->
  <div class="tag-box tag-box-v4 margin-bottom-40">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Consectetur adipiscing elit harum quidem rerum magnaed et quam lacus</h2>
    <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing
      elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a
      feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
  </div>
  <!--End Tag Box v4-->

  <!--Tag Box v6/v7-->
  <div class="row">
    <div class="col-md-6">
      <!--Tag Box v6-->
      <div class="tag-box tag-box-v6">
        <h2>Fusce condimentum eleifend enim a ditailis estf eugiat...</h2>
        <p>Et harum quidem rerum facexpe ditailis est et distinctio lorem ipsum dolor sit amet consectetur
          adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem
          rerum facilis est et expedita distinctio lorem ipsum dolor...</p>
      </div>
      <!--End Tag Box v6-->
    </div>

    <div class="col-md-6">
      <!--Tag Box v7-->
      <div class="tag-box tag-box-v7">
        <h2>Expedita distinctio lorem ipsum dolor sit amet consectetur!</h2>
        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur
          adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem
          rerum facilis est et expedita distinctio lorem ipsum dolor...</p>
      </div>
      <!--End Tag Box v7-->
    </div>
  </div>
  <!--End Tag Box v6/v7-->

  <!--Tag Box v5-->
  <div class="row tag-box tag-box-v5">
    <div class="col-md-8">
      <span>Accusamus et odio ducimus quiatfus?</span>
    </div>
    <div class="col-md-4">
      <p>
        <button class="btn-u btn-u-lg btn-u-red"><i class="fa fa-cloud-download"></i> Download Now</button>
      </p>
    </div>
  </div>
  <!--End Tag Box v5-->
</div>
</body>
</html>
