<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>About Us</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/owl-carousel/owl.carousel.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/teams.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">About Us</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Pages</li>
      <li class="active">About Us</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="row margin-bottom-40">
    <div class="col-md-6 md-margin-bottom-40">
      <p>YQBoots is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It
        works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur
        adipiscing dolor elit. YQBoots is an incredibly beautiful responsive Bootstrap Template for It works on all
        major web.</p>
      <ul class="list-unstyled">
        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
        <li><i class="fa fa-check color-green"></i> Elit non mi porta gravida</li>
        <li><i class="fa fa-check color-green"></i> Award winning digital agency</li>
      </ul>
      <br/>

      <!-- Blockquotes -->
      <blockquote>
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which
          is why.</p>
        <small>CEO Jack Bour</small>
      </blockquote>
    </div>

    <div class="col-md-6 md-margin-bottom-40">
      <div class="responsive-video">
        <!--<iframe src="http://player.vimeo.com/video/9679622" frameborder="0"></iframe>-->
      </div>
    </div>
  </div><!--/row-->

  <!-- Meet Our Team -->
  <div class="headline"><h2>Meet Our Team</h2></div>
  <div class="row team">
    <div class="col-sm-3">
      <div class="thumbnail-style">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <h3>
          <a>Jack Bour</a>
          <small>Chief Executive Officer</small>
        </h3>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
          sem...</p>

        <ul class="list-unstyled list-inline team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail-style">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <h3>
          <a>Kate Metus</a>
          <small>Project Manager</small>
        </h3>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
          sem...</p>

        <ul class="list-unstyled list-inline team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail-style">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <h3>
          <a>Porta Gravida</a>
          <small>VP of Operations</small>
        </h3>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
          sem...</p>

        <ul class="list-unstyled list-inline team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail-style">
        <img class="img-responsive" src="/images/img_500x500.jpg"/>
        <h3>
          <a>Donec Elit</a>
          <small>Director, R &amp; D Talent</small>
        </h3>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta
          sem...</p>

        <ul class="list-unstyled list-inline team-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!--/team-->
  <!-- End Meet Our Team -->

  <!-- Owl Clients -->
  <div class="headline"><h2>Our Clients</h2></div>
  <div class="owl-clients">
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
    <div class="item"><img src="/images/img_200x150.png"/></div>
  </div>
  <!-- End Owl Clients v1 -->
</div>
</body>
</html>
