<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="showcase/blogs/layouts/layout-v2">
<head>
  <title>Blog Medium Right Sidebar 1</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/news.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/pagers.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Basic Medium Posts</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Blog</li>
      <li class="active">Basic Medium Posts</li>
    </ul>
  </div>
</div>
<div layout:fragment="content">
  <!-- News v3 -->
  <div class="row margin-bottom-20">
    <div class="col-sm-5 sm-margin-bottom-20">
      <img class="img-responsive" src="/images/img_973x615.jpg"/>
    </div>
    <div class="col-sm-7 news-v3">
      <div class="news-v3-in-sm no-padding">
        <ul class="list-inline posted-info">
          <li>By Alexander Jenni</li>
          <li>In <a href="#">Design</a></li>
          <li>Posted January 24, 2015</li>
        </ul>
        <h2><a href="#">Incredible standard post “IMAGE”</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin non metus inmi
          efficitur...</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i><span>5</span></a></li>
          <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!--/end row-->
  <!-- End News v3 -->

  <div class="clearfix margin-bottom-20">
    <hr/>
  </div>

  <!-- News v3 -->
  <div class="row margin-bottom-20">
    <div class="col-sm-5 sm-margin-bottom-20">
      <div class="carousel slide" data-ride="carousel" id="blog-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#blog-carousel" data-slide-to="0" class="active rounded-x"></li>
          <li data-target="#blog-carousel" data-slide-to="1" class="rounded-x"></li>
          <li data-target="#blog-carousel" data-slide-to="2" class="rounded-x"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active"><img src="/images/img_973x615.jpg"/></div>
          <div class="item"><img src="/images/img_973x615.jpg"/></div>
          <div class="item"><img src="/images/img_973x615.jpg"/></div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 news-v3">
      <div class="news-v3-in-sm no-padding">
        <ul class="list-inline posted-info">
          <li>By Luke Etheridge</li>
          <li>In <a href="#">Design</a></li>
          <li>Posted January 24, 2015</li>
        </ul>
        <h2><a href="#">Amazing post “IMAGE-SLIDER”</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin non metus inmi
          efficitur...</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i><span>5</span></a></li>
          <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!--/end row-->
  <!-- End News v3 -->

  <div class="clearfix margin-bottom-20">
    <hr/>
  </div>

  <!-- News v3 -->
  <div class="row margin-bottom-20">
    <div class="col-sm-5 sm-margin-bottom-20">
      <img class="img-responsive" src="/images/img_973x615.jpg"/>
    </div>
    <div class="col-sm-7 news-v3">
      <div class="news-v3-in-sm no-padding">
        <ul class="list-inline posted-info">
          <li>By Luke Etheridge</li>
          <li>In <a href="#">Design</a></li>
          <li>Posted January 24, 2015</li>
        </ul>
        <h2><a href="#">Wonderful post “IMAGE”</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin non metus inmi
          efficitur...</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i><span>5</span></a>
          </li>
          <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!--/end row-->
  <!-- End News v3 -->

  <div class="clearfix margin-bottom-20">
    <hr/>
  </div>

  <!-- News v3 -->
  <div class="row margin-bottom-20">
    <div class="col-sm-5 sm-margin-bottom-20">
      <img class="img-responsive" src="/images/img_973x615.jpg"/>
    </div>
    <div class="col-sm-7 news-v3">
      <div class="news-v3-in-sm no-padding">
        <ul class="list-inline posted-info">
          <li>By Alexander Jenni</li>
          <li>In <a href="#">Design</a></li>
          <li>Posted January 24, 2015</li>
        </ul>
        <h2><a href="#">Incredible standard post “IMAGE”</a></h2>
        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellus, imperdiet
          molestie est volutpat at. Sed viverra cursus nibh, sed consectetur ipsum sollicitudin non metus inmi
          efficitur...</p>
        <ul class="post-shares">
          <li><a href="#"><i class="rounded-x icon-speech"></i><span>5</span></a></li>
          <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
          <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!--/end row-->
  <!-- End News v3 -->

  <div class="clearfix margin-bottom-20">
    <hr/>
  </div>

  <!-- Pager v3 -->
  <ul class="pager pager-v3 pager-sm no-margin-bottom">
    <li class="previous"><a href="#">&larr; Older</a></li>
    <li class="page-amount">1 of 7</li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
  </ul>
  <!-- End Pager v3 -->
</div>
</body>
</html>
